<div id="interaction-section">
  <h3>Interactions</h3>
  <h5>Macromolecular interactions</h5>
  <p>This section displays the subcomplexes and/or supercomplexes of the macromolecular complex of interest</p>
  <lib-tool-tip minWidth="400px">
    A subcomplex is defined as a complex where all its components are subset of components in another larger complex. On the other hand, we define a supercomplex as a
    complex containing all the components of another complex and additional members.
  </lib-tool-tip>

  @if(summaryData().subcomplexes.length){
  <section class="subcomplexes">
    <h4>Subcomplexes</h4>
    <div class="card-container">
      @for(complexId of subComplexesPage; track complexId){
      <pdbc-complex-card [complexId]="complexId" />
      }
    </div>
    <mat-paginator
      class="paginator-container"
      [length]="subcomplexesLength()"
      [pageSize]="subcomplexesPageSize()"
      [pageSizeOptions]="subcomplexesPageSizeOptions()"
      (page)="handlePageEvent($event, 'subcomplexes')"
      showFirstLastButtons
      aria-label="Select page of subcomplexes"
    >
    </mat-paginator>
  </section>
  } @if(summaryData().supercomplexes.length){
  <section class="supercomplexes">
    <h4>Supercomplexes</h4>
    <div class="card-container">
      @for(complexId of superComplexesPage; track complexId){
      <pdbc-complex-card [complexId]="complexId" />
      }
    </div>
    <mat-paginator
      class="paginator-container"
      [length]="supercomplexesLength()"
      [pageSize]="supercomplexesPageSize()"
      [pageSizeOptions]="supercomplexesPageSizeOptions()"
      (page)="handlePageEvent($event, 'supercomplexes')"
      showFirstLastButtons
      aria-label="Select page of supercomplexes"
    >
    </mat-paginator>
  </section>
  }
</div>
