<div class="format-box">
  <mat-radio-group [(ngModel)]="chosenformat">
    <h2 class="heading-2">{{ dataType().descriptorType['boxTitle'] }}</h2>
    <p class="paragraph-2">
      Enter a list of {{ dataType().descriptorType['idType'] }} IDs below. The IDs can be separated by one of these delimiters:
      <span>
        <lib-tool-tip textIcon="comma,"> Example: {{ dataType().descriptorType['fE'] }}, {{ dataType().descriptorType['sE'] }}, ... </lib-tool-tip>
      </span>
      <span>
        <lib-tool-tip textIcon="semicolon,"> Example: {{ dataType().descriptorType['fE'] }}; {{ dataType().descriptorType['sE'] }}; ... </lib-tool-tip>
      </span>
      <span>
        <lib-tool-tip textIcon="tab,"> Example: {{ dataType().descriptorType['fE'] }}, {{ dataType().descriptorType['sE'] }}, ..." </lib-tool-tip>
      </span>
      <span>
        <lib-tool-tip textIcon="space,"> Example: {{ dataType().descriptorType['fE'] }}, {{ dataType().descriptorType['sE'] }}, ..." </lib-tool-tip>
      </span>
      <span>
        <lib-tool-tip textIcon="newline,"> Example: {{ dataType().descriptorType['fE'] }}, {{ dataType().descriptorType['sE'] }}, ..." </lib-tool-tip>
      </span>
    </p>

    <textarea
      matInput
      [(ngModel)]="pdbid"
      placeholder="Example: {{ dataType().descriptorType['fE'] }}, {{ dataType().descriptorType['sE'] }}, ..."
      class="full-width"
    ></textarea>

    <p class="paragraph-2">Select the data to download:</p>
    <div class="flex-container">
      @for(item of dataType().dataContent; track item){
      <div class="box-container">
        <app-data-content [dataContent]="item"></app-data-content>
      </div>
      }
    </div>
    <div class="spinner-wrapper">
      <button (click)="submit(dataType().submissionType)" class="vf-button vf-button--primary">Submit to download</button>
      <div style="padding-left: 35px" *ngIf="isLoadingEntry()">
        <mat-progress-spinner class="example-margin" [mode]="'indeterminate'" [diameter]="'39'"></mat-progress-spinner>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="errorEntryText()">
      <p><b>ERROR</b>: {{ errorEntryText() }}</p>
    </div>
  </mat-radio-group>
</div>
