section.root-container {
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  section.action-buttons {
    display: flex;
    align-items: center;
    gap: 20px;

    &.expanded {
      max-height: 80px;
    }
  }
}

.active {
  background: var(--Brand-50, #d0debb);
}

main {
  width: 100%;
}

h1 {
  margin-bottom: 16px;
}

section.hero {
  display: flex;
  gap: 16px;
  width: 100%;

  pdbe-entry-ligands-environments {
    flex-grow: 1;
  }
}

section.footer {
  display: flex;
  gap: 16px;
  width: 100%;

  pdbe-entry-citation {
    flex-grow: 1;
  }
}

.downloads {
  position: relative;

  button {
    display: flex;
    align-items: center;
    gap: 4px;
    background: #ffffff;
    padding: 10px;
    color: #000;
  }

  @media screen and (max-width: 767px) {
    white-space: nowrap !important;
  }

  .download-options {
    position: absolute;
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    min-width: 224px;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    background-color: #ffffff;

    a {
      display: block;
      text-decoration: none;
      padding: 8px;
      cursor: pointer;
      display: block;

      &:not(:last-child) {
        border-bottom: 1px solid var(--Neutral-300, #d0d0ce);
      }
    }
  }
}
