<div class="chart-holder row">
  <div class="small-2 columns">
    <div
      id="chart-1"
      class="chart-holder-div chart-holder-div-current"
      (click)="updateChartVisibility('chart-1')"
      onclick="gtag('event', 'plot_menu', {'event_category': 'partners_plot_click', 'event_label': 'plot_nprot_resrc', 'value': undefined})"
    >
      <!-- <ul>
                <li>Number of proteins by resource</li>
            </ul> -->
      <button class="vf-button vf-button--secondary smaller-padding">Number of proteins by resource</button>
    </div>
    <div
      id="chart-2"
      class="chart-holder-div"
      (click)="updateChartVisibility('chart-2')"
      onclick="gtag('event', 'plot_menu', {'event_category': 'partners_plot_click', 'event_label': 'plot_nprot_anno', 'value': undefined})"
    >
      <!-- <ul>
                <li>Number of proteins by annotation type</li>
            </ul> -->
      <button class="vf-button vf-button--secondary smaller-padding">Number of proteins by annotation type</button>
    </div>

    <div
      id="chart-3"
      class="chart-holder-div"
      (click)="updateChartVisibility('chart-3')"
      onclick="gtag('event', 'plot_menu', {'event_category': 'partners_plot_click', 'event_label': 'plot_lastupd', 'value': undefined})"
    >
      <!-- <ul>
                <li>Last update for each resource</li>
            </ul> -->
      <button class="vf-button vf-button--secondary smaller-padding">Last update for each resource</button>
    </div>
  </div>
  <div class="small-10 columns">
    <figure class="highcharts-figure-update">
      <div id="chart-1-plot"></div>
    </figure>
    <figure class="highcharts-figure-update">
      <div id="chart-2-plot" class="display-none"></div>
    </figure>
    <figure class="highcharts-figure-update">
      <div id="chart-3-plot" class="display-none"></div>
    </figure>
    <!-- <div [chart]="proteins_chart" class="display-none"></div>
        <div [chart]="types_chart" class="display-none"></div>
        <div [chart]="update_chart"></div> -->
  </div>
</div>
