.splide {
  padding: 0 70px;
}

.splide__slide {
  height: 275px;
  width: 250px;
  border: 3px solid #b6d1d0;
  padding: 10px;
  display: flex;
  flex-direction: column;

  &:hover .slide__detail {
    display: flex;
  }

  h3 {
    margin-bottom: 0 !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }

  a.slide__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      height: 60%;
    }
  }

  .slide__detail {
    display: none;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 45%;
    bottom: 60%;
    color: #fff;
    font-size: 16px;
    background-color: #0009;
    align-items: center;
    transition: display 0.5s ease-in;

    div {
      padding: 10px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
