<!-- now only for ebi header and footer -->
<pdbc-vf-ebi-header></pdbc-vf-ebi-header>
<div class="container">
  <div class="content">
    <nav>
      <mat-list role="list">
        <mat-list-item role="listitem" routerLink="/citation" routerLinkActive="active">Citation</mat-list-item>
        <mat-list-item role="listitem" routerLink="/summary" routerLinkActive="active">Summary</mat-list-item>
        <mat-list-item role="listitem" routerLink="/others" routerLinkActive="active">Others</mat-list-item>
      </mat-list>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<pdbc-vf-ebi-footer></pdbc-vf-ebi-footer>
