.content {
  display: flex;
  width: 100%;
}

nav {
  width: 15%;
  padding-right: 20px;
}

main {
  width: 85%;
}

mat-list-item {
  font-size: 18px;
  line-height: 35px;
  cursor: pointer !important;
  display: inline-block;
  border-bottom: 1px solid var(--Neutral-300, #d0d0ce);

  &:hover {
    background-color: #d0debb;
  }
}

.active {
  background-color: #d0debb;
}
