/* You can add global styles to this file, and also import other style files */
@import url('@splidejs/splide/css');
@import url('@splidejs/splide/css/core');
@import url('ag-grid-community/styles/ag-grid.css');
@import url('ag-grid-community/styles/ag-theme-quartz.css');
@import url('libs/core/src/lib/styles/typography.scss');
@import url('libs/core/src/lib/styles/templates.scss');
@import url('libs/core/src/lib/styles/icons.scss');
@import url('libs/core/src/lib/styles/am_custom_style.scss');
@import url('libs/core/src/lib/styles/button.scss');
@import url('libs/core/src/lib/styles/material.scss');
@import url('libs/core/src/lib/styles/ag-grid.scss');
@import url('./assets/entry-styles/ag-grid-table-styles/all-tables.scss');
@import url('./assets/entry-styles/topology-viewer/pdbe-topology-style.scss');
@import url('./assets/entry-styles/lig-env-viewer/pdbe-lig-env-viewer.scss');
@import url('./assets/entry-styles/protvista/protvista.scss');
@import url('./assets/entry-styles/extra/extra.scss');

html,
body {
  height: 100%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
  line-height: 27.2px;
}

a {
  color: #3b6fb6;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  text-decoration: none;
  border: none;

  &:focus {
    // border: 1px solid #193f90;
    border: none;
    outline: none;
    text-shadow: none;
  }

  &:visited {
    color: #563d82;

    i {
      color: #563d82;
    }
  }

  &:hover {
    color: #193f90;
    text-decoration: underline;
    border: none !important;
  }
}

p {
  margin: 0 !important;
}

.unannotated {
  background-color: #e4e4e4;
  text-decoration: underline dotted;
  padding: 2px;
  cursor: pointer;
}

.cofactor-like {
  background-color: #dbbfe3;
  text-decoration: underline dotted;
  padding: 2px;
  cursor: pointer;
}

.drug-like {
  background-color: #d2de56;
  text-decoration: underline dotted;
  padding: 2px;
  cursor: pointer;
}

.reactant-like {
  background-color: #fee99a;
  text-decoration: underline dotted;
  padding: 2px;
  cursor: pointer;
}

// For: https://www.ebi.ac.uk/panda/jira/browse/PDBE-7249
nightingale-navigation .container .brush .handle {
  fill: darkgrey;
  stroke: black;
  stroke-width: 1px;
  height: 18px;
  y: 0;
}

#key-features-slider {
  .splide__arrows .splide__arrow {
    background: #095e5d;
    border-radius: 5px;
    opacity: 1;

    svg {
      fill: white;
    }
  }

  .splide__pagination {
    bottom: -1.5em;
  }

  .splide__pagination__page {
    background: white;
    border: 2px solid #b7d1d1;
    opacity: 1;
    height: 15px;
    width: 15px;

    &.is-active {
      background: #095e5d;
      transform: scale(1.4);
      z-index: 1;
    }
  }
}

.ngx-pagination {
  li {
    a {
      color: #1a1c1a;
      font-size: 14px;
      font-weight: 400;
      line-height: 22.4px;

      &::after,
      &::before {
        display: none !important;
      }

      &:hover {
        text-decoration: none !important;
      }
    }

    &::after,
    &::before {
      display: none !important;
    }
  }

  .current {
    background: #056643 !important;
    font-size: 14px;
  }
}
