h3 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.2px;
}

main {
  display: flex;
  width: 100%;
  gap: 20px;

  .table {
    width: 70%;
    margin-top: 5px;
    height: 600px;
    border: 2px solid #000;
  }

  .molstar {
    width: 30%;

    h3 {
      margin-top: 12px;
    }

    .row {
      display: flex;
      align-items: center;
      gap: 12px;

      p {
        color: var(--header-text-color);
        font-size: 16px;
        line-height: 27.2px;
      }

      p.title {
        font-weight: 500;
        width: 150px;
        min-width: 150px;
        max-width: 150px;
      }

      p.value {
        font-weight: 400;
      }
    }

    button {
      margin-top: 12px;
    }
  }
}

h4 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
  margin-top: 20px;
}

:host ::ng-deep .ag-theme-quartz {
  .ag-row-odd {
    background-color: transparent;
  }
}

::ng-deep .group-header-cell {
  color: var(--Neutral-900, #1a1c1a);
  font-size: 16px;
  font-weight: 500;
  line-height: 27.2px;
  width: 300px;
}

section.empty-state {
  height: 30vh;

  h3 {
    color: #000;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.5px;
    margin-bottom: 12px;
  }

  p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.2px;
  }
}
