button {
  display: inline-flex;
  padding: 4px 12px;
  align-items: center;
  gap: 12px;
  border: 1px solid var(--Neutral-300, #d0d0ce);
  background: var(--Neutral-0, #fff);
  font-weight: 500;
  font-size: 16px;
  font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
  cursor: pointer;
  line-height: 26.6px; /* 166.25% */
  height: 35px;
}

button.small {
  padding: 4px 8px;
  font-size: 14px;
  gap: 4px;
  line-height: 22.4px;
  height: 32px;
}

button.fullwidth {
  width: 100%;
  justify-content: space-between;
}

button.dark {
  background: var(--Neutral-100, #f3f3f3);
}

button:hover {
  background: var(--Neutral-100, #f3f3f3);
}

button.dark:hover {
  background: var(--Neutral-200, #e4e4e4);
}

a {
  &:hover {
    text-decoration: unset;
    background: #d0debb !important;
  }

  &:focus {
    box-shadow: none;
    border: none;
  }
}
