main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;

  pdbc-interactive-tables {
    width: 252px;
    min-width: 252px;
    max-width: 252px;
  }

  .tab-content {
    width: calc(100% - 268px);

    &.change-display {
      width: 100%;
    }
  }
}

.assemblies-container {
  display: flex;

  .assembly-section {
    /* width: 511px; */
    width: calc((100% / 12) * 6); /* 6/12 columns system */

    .assembly-grouped {
      margin-bottom: 12px;
    }
  }

  .molstar-details-container {
    /* width: calc(100% - 511px); */
    width: calc((100% / 12) * 4); /* 4/12 columns system */
  }
}

/* At 1140px or below, stack them vertically */
@media (width <= 1160px) {
  .assemblies-container {
    flex-direction: column;

    .assembly-section {
      width: 100%;
    }

    .molstar-details-container {
      width: 420px;
    }
  }

  .tab-content.change-display {
    .assemblies-container {
      flex-direction: row;

      .assembly-section {
        width: calc((100% / 12) * 6); /* 6/12 columns system */
      }

      .molstar-details-container {
        width: calc((100% / 12) * 4); /* 4/12 columns system */
      }
    }
  }
}

.info-row {
  display: flex;
  gap: 12px;

  // margin-bottom: 4px;

  & > span {
    max-width: 250px;
    width: 250px;
    min-width: 250px;
    color: #1a1c1a;
    font-size: 16px;
    font-weight: 500;
    display: block;

    &.micro-title {
      max-width: 140px;
      width: 140px;
      min-width: 140px;
    }
  }

  &.dialog {
    article {
      span {
        color: #3b6fb6;
        font-size: 16px;
        font-weight: 400;
        line-height: 27.2px;
        cursor: pointer;
      }
    }
  }
}
@media (width <= 900px) {
  .tab-content.change-display {
    .info-row {
      flex-direction: column;
      gap: 2px;
    }
  }
}

article {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;

  i {
    display: inline-block;
  }

  i::before {
    --icon-search-color: #3b6fb6;

    content: '';
    width: 13px;
    height: 13px;
    mask-size: auto 13px;
    position: absolute;
    z-index: -1;
    top: 2px;
  }
}

.molstar-details-container {
  display: flex;
  flex: 1;
}

.molstar-container {
  position: relative;
  flex: 1;
  width: 337px;
  min-height: 296px;
  z-index: 1;
}

.molstar-container.big {
  flex: 1;
  width: 682px;
  min-height: 339px;
}
