@if (tabDataLoaded()){ @if(assemblyTableRows().length){
<main>
  @if(isSidebarDisplayed()){
  <pdbc-interactive-tables tabName="Assemblies" />
  }
  <div class="tab-content" [class.change-display]="!isSidebarDisplayed()">
    @let icon = isSidebarDisplayed() ? 'left' : 'right'; @let text = isSidebarDisplayed() ? 'Open full-width' : 'Show Assemblies';
    <button class="vf-button-ghost" (click)="toggleSidebar()">
      <img [src]="'assets/icons/two_arrows_' + icon + '.png'" alt="arrow icons" />
      <span>{{text}}</span>
    </button>

    <!-- Assemblies -->
    @let datum = currentAssemblyDatum();
    <h5>{{ datum?.assemblyName }}</h5>
    <section class="assemblies-container">
      <section class="assembly-section">
        <div class="assembly-grouped">
          @if(datum?.complexName){
          <div class="info-row">
            <span>
              Assembly name
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.assemblyName" />
            </span>
            <article>{{datum?.complexName}}</article>
          </div>
          }
          <div class="info-row">
            <span>
              Multimeric state
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.multimericState" />
            </span>
            <article>{{datum?.multimericStates}}</article>
          </div>
          <div class="info-row">
            <span>
              PDBe complex ID
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.pdbeComplexId" />
            </span>
            <article>
              @if (datum?.complexId) {
              <a [href]="'https://wwwdev.ebi.ac.uk/pdbe/pdbe-kb/complexes/' + datum?.complexId" target="_blank">{{datum?.complexId}}</a>
              <img src="assets/icons/link_search_icon.png" alt="search icon" />
              } @else {
              <span>Not available</span>
              }
            </article>
          </div>
        </div>
        <div class="assembly-grouped">
          @if (getAdditionalData('accessibleSurfaceArea')) {
          <div class="info-row">
            <span>
              Accessible surface area
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.accessbileSurfaceArea" />
            </span>
            <article>{{ getAdditionalData('accessibleSurfaceArea') }}</article>
          </div>
          } @if (getAdditionalData('buriedSurfaceArea')) {
          <div class="info-row">
            <span>
              Buried surface area
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.buriedSurfaceArea" />
            </span>
            <article>{{ getAdditionalData('buriedSurfaceArea') }}</article>
          </div>
          }
        </div>
        <div class="assembly-grouped">
          @if (getAdditionalData('dissociationArea')) {
          <div class="info-row">
            <span>Dissociation area</span>
            <article>{{ getAdditionalData('dissociationArea') }}</article>
          </div>
          }
          <div class="info-row">
            <span>
              Dissociation energy (ΔGdiss)
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.dissociationEnergy" />
            </span>
            <article>{{ getAdditionalData('dissociationEnergy') }}</article>
          </div>
          <div class="info-row">
            <span>
              Dissociation entropy (TΔSdiss)
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.dissociationEntropy" />
            </span>
            <article>{{ getAdditionalData('dissociationEntropy') }}</article>
          </div>
        </div>
        <div class="assembly-grouped">
          @if(preferredSymmetry()?.type){
          <div class="info-row">
            <span>
              Assembly symmetry
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.assemblySymmetry" />
            </span>
            <article>{{preferredSymmetry()?.type}} - {{preferredSymmetry()?.symbol}}</article>
          </div>
          }
          <div class="info-row">
            <span>Number of interfaces</span>
            <article>{{ getAdditionalData('interfaceCount') }}</article>
          </div>
        </div>
      </section>
      <section class="molstar-details-container">
        @if (!molstarFirstRenderFinished()) {
        <div [style.width]="'100%'">
          <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '400px', }"></ngx-skeleton-loader>
        </div>
        } @if (configForMolstar()) {
        <div class="molstar-container">
          <div #popoutWrapper>
            <lib-pdbe-molstar #molstarComponent [id]="'assemblies-molstar'" [molstarConfig]="configForMolstar()"></lib-pdbe-molstar>
          </div>
        </div>
        }
        <div id="assemblies-molstar-container" #molstarContainer class="molstar-container" style="display: none"></div>
      </section>
    </section>
    <!-- <button class="vf-button vf-button--secondary-pdbe" (click)="popupMolstar()">Popup the molstar</button> -->
  </div>
</main>
} @else {
<h5>No Assemblies data available</h5>
} }@else{
<ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '400px' }"></ngx-skeleton-loader>
}
