@if (tabDataLoaded()){ @if(assemblyTableRows().length){
<main>
  @if(isSidebarDisplayed()){
  <pdbc-interactive-tables tabName="Assemblies" />
  }
  <div class="tab-content" [class.change-display]="!isSidebarDisplayed()">
    @let icon = isSidebarDisplayed() ? 'left' : 'right'; @let text = isSidebarDisplayed() ? 'Open full-width' : 'Show Complexes';
    <button class="vf-button-ghost" (click)="toggleSidebar()">
      <img [src]="'assets/icons/two_arrows_' + icon + '.png'" alt="arrow icons" />
      <span>{{text}}</span>
    </button>

    <!-- Assemblies -->
    @let datum = currentAssemblyDatum();
    <h5>{{ datum?.assemblyName }}</h5>
    @if (datum?.complexId) { @let selectionIdentifier = datum!.complexId;
    <div class="stats-link-bar">
      @if(dashboardStatLinks['Complexes'].length > 0 && selectionIdentifier !== 'None') {
      <span><img src="assets/icons/pdbe-kb_logo.webp" alt="icon" style="width: 16px; height: 16px; margin-right: 2px" /> View more about this complex:</span>
      @for (displayLink of dashboardStatLinks['Complexes']; track displayLink; let islast = $last) {
      <a
        [href]="displayLink.link + selectionIdentifier + displayLink.linkSuffix"
        target="_blank"
        (click)="gAS.logEntryPageEvents('ep_go_to_kb', {
        kb_website: 'complexes',
        device_type: 'desktop',
      })"
      >
        {{ selectionStats()?.[displayLink.id] }} {{ displayLink.displayName }}
      </a>
      {{ islast ? '' : '|' }} } }
    </div>
    }
    <section class="assemblies-container">
      <section class="assembly-section">
        <div class="assembly-grouped">
          @if(datum?.complexName){
          <div class="info-row">
            <span>
              Complex name
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.assemblyName" />
            </span>
            <article>{{datum?.complexName}}</article>
          </div>
          }
          <div class="info-row">
            <span>
              Multimeric state
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.multimericState" />
            </span>
            <article>{{datum?.multimericStates}}</article>
          </div>
          <div class="info-row">
            <span>
              PDBe complex ID
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.pdbeComplexId" />
            </span>
            <article>
              @if (datum?.complexId) {
              <a [href]="generateComplexSearchUrl(datum!.complexId!)" target="_blank">{{datum?.complexId}}</a>
              <i class="icon icon-common icon-search"></i>
              } @else {
              <span>Not available</span>
              }
            </article>
          </div>
        </div>
        <div class="assembly-grouped">
          @if (getAdditionalData('accessibleSurfaceArea')) {
          <div class="info-row">
            <span>
              Accessible surface area
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.accessbileSurfaceArea" />
            </span>
            <article>{{ getAdditionalData('accessibleSurfaceArea') }}</article>
          </div>
          } @if (getAdditionalData('buriedSurfaceArea')) {
          <div class="info-row">
            <span>
              Buried surface area
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.buriedSurfaceArea" />
            </span>
            <article>{{ getAdditionalData('buriedSurfaceArea') }}</article>
          </div>
          }
        </div>
        <div class="assembly-grouped">
          @if (getAdditionalData('dissociationArea')) {
          <div class="info-row">
            <span>Dissociation area</span>
            <article>{{ getAdditionalData('dissociationArea') }}</article>
          </div>
          }
          <div class="info-row">
            <span>
              Dissociation energy (ΔGdiss)
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.dissociationEnergy" />
            </span>
            <article>{{ getAdditionalData('dissociationEnergy') }}</article>
          </div>
          <div class="info-row">
            <span>
              Dissociation entropy (TΔSdiss)
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.dissociationEntropy" />
            </span>
            <article>{{ getAdditionalData('dissociationEntropy') }}</article>
          </div>
        </div>
        <div class="assembly-grouped">
          @if(preferredSymmetry()?.type){
          <div class="info-row">
            <span>
              Complex symmetry
              <lib-help-icon-with-tooltip [tooltipText]="entryAssembliesTooltips.assemblySymmetry" />
            </span>
            <article>{{preferredSymmetry()?.type}} - {{preferredSymmetry()?.symbol}}</article>
          </div>
          }
          <div class="info-row">
            <span>Number of interfaces</span>
            <article>{{ getAdditionalData('interfaceCount') }}</article>
          </div>
        </div>
      </section>
      <section class="molstar-details-container">
        @if (!configForMolstar() || slowNetwork() === undefined || checkedWebGl() === undefined) {
        <div [style.width]="'100%'">
          <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '400px', }"></ngx-skeleton-loader>
        </div>
        } @else if (configForMolstar() && isWebGlEnabled() && fastNetworkOrForceLoad()) {
        <div class="molstar-container">
          <div #popoutWrapper>
            <lib-pdbe-molstar #molstarComponent [id]="'assemblies-molstar'" [molstarConfig]="configForMolstar()"></lib-pdbe-molstar>
          </div>
        </div>
        } @else if (!isWebGlEnabled()) {
        <div class="molstar-not-loaded">
          <img alt="WebGL not supported" src="assets/img/no_webgl.webp" />
          <div>
            <h4 class="heading-4">3D viewer not supported in this browser</h4>
            <p>Your browser doesn’t support WebGL, which is required for the 3D structure.</p>
            <a target="_blank" href="https://get.webgl.org/webgl2/enable.html">
              Learn how to enable WebGL
              <i class="icon icon-link icon-common"></i>
            </a>
          </div>
        </div>
        } @else if (isWebGlEnabled() && !fastNetworkOrForceLoad()) {
        <div class="molstar-not-loaded">
          <img alt="3D viewer paused" src="assets/img/paused_3d.webp" />
          <div>
            <h4 class="heading-4">3D viewer paused due to slow connection</h4>
            <p>Loading may take longer than usual.</p>
          </div>
          <button class="vf-button vf-button--search-pdbe" (click)="toggleMolstar()">Load 3D anyway</button>
        </div>
        }
      </section>
    </section>

    <!-- <button class="vf-button vf-button--secondary-pdbe" (click)="popupMolstar()">Popup the molstar</button> -->
  </div>
</main>
} @else {
<h5>No Complexes data available</h5>
} }@else{
<ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '400px' }"></ngx-skeleton-loader>
}
