<div class="table">
  <ag-grid-angular
    class="ag-theme-quartz"
    id="pisa-grid"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    [gridOptions]="gridOptions"
    (selectionChanged)="onSelectionChanged($event)"
    (rowDataUpdated)="onRowDataUpdated($event)"
    (filterChanged)="onFilterChanged($event)"
    (gridReady)="onComplexStructureGridReady($event)"
    [paginationPageSizeSelector]="paginationPageSizeSelector()"
    [rowSelection]="rowSelection"
    [initialState]="initialState"
  />
</div>
