section {
  .sub-header {
    span {
      color: #54585a;
      font-size: 12px;
      font-weight: 400;
      line-height: 16.5px;
    }
  }

  .r-values {
    display: flex;
    align-items: center;
    gap: 16px;

    div {
      color: #54585a;
      font-size: 12px;
      font-weight: 400;
      line-height: 16.5px;
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .r-values-column {
    div {
      color: #1a1c1a;
      font-size: 16px;
      font-weight: 400;
      line-height: 27.2px;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  h4 {
    color: #1a1c1a;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    margin: 12px 0 4px;
  }

  .validation-info-row {
    display: flex;
    gap: 4px;
    margin-bottom: 4px;
    padding-top: 4px;

    &.bg {
      background: #f2f2f3;
    }

    span {
      color: #1a1c1a;
      font-size: 16px;
      font-weight: 400;
      line-height: 27.2px;
      width: 50%;
    }
  }

  .pdb-redo-text {
    color: #54585a;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
  }

  .experimental-row {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      color: #1a1c1a;
      font-size: 16px;
      font-weight: 400;
      line-height: 27.2px;

      &.title {
        width: 130px;
        min-width: 130px;
        max-width: 130px;
      }
    }
  }

  .extra-info {
    img {
      width: 100px;
      height: 100px;
      aspect-ratio: 1/1;
    }
  }

  p.content {
    color: #1a1c1a;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
  }
}
