<div id="information-section">
  <div class="info-row">
    <span>Entry title</span>
    <article>
      {{ summary().entryTitle }}
    </article>
  </div>
  <div class="info-row">
    <span>Source organism</span>
    <article>
      @for(sourceOrganism of organismScientificNames(); track sourceOrganism; let islast = $last){
      <span>
        <!-- <a [href]="generateOrganismSearchUrl(sourceOrganism)" target="_blank">{{ sourceOrganism }}</a> -->
        <a>{{ sourceOrganism }}</a>
      </span>
      <i class="icon icon-common icon-search"></i>
      {{ islast ? '' : ',' }} }
    </article>
  </div>
  @if (primaryPublication() !== undefined) {
  <div class="info-row">
    <span>Primary Publication</span>
    <article>
      @if (primaryPublication()!.journal_info.pdb_abbreviation! !== 'To be published') {
      <p>{{ primaryPublication()!.title }}</p>
      <p>
        @for(authorDatum of primaryPublication()!.author_list; track authorDatum; let islast = $last){
        <!-- <a [href]="generateAuthorSearchUrl(authorName)" target="_blank">{{ authorName }}</a> -->
        <a>{{ authorDatum.full_name }}</a>
        <!-- <i class="icon icon-common icon-search"></i> -->
        {{ islast ? '' : ',' }}
        }
      </p>
      <p>
        <i>{{ primaryPublication()!.journal_info.pdb_abbreviation }}</i>
        {{ primaryPublication()!.journal_info.volume }}
        {{ primaryPublication()!.journal_info.pages }}
        {{ primaryPublication()!.journal_info.year }}
      </p>
      @if(primaryPublication()!.pubmed_id){
      <p>
        PMID:
        <!-- <a [href]="'https://europepmc.org/article/MED/' + primaryPublication().pubmed_id" target="_blank" -->
        <a
          >{{ primaryPublication()!.pubmed_id }}
          <i class="icon icon-link icon-common"></i>
        </a>
      </p>
      } @if(primaryPublication()!.doi){
      <p>
        DOI:
        <!-- <a [href]="'https://doi.org/' + primaryPublication().doi" target="_blank" -->
        <a
          >{{ primaryPublication()!.doi }}
          <i class="icon icon-link icon-common"></i>
        </a>
      </p>
      } } @else {
      <p>To be published</p>
      }
    </article>
  </div>
  } @if (qualityScores() !== undefined) {
  <div class="info-row">
    <span>PDB model quality summary</span>
    <article>
      <pdbc-str-quality-gradient [componentType]="'GeometryFit_RdToBl'" [renderGradients]="qualityScores()!"></pdbc-str-quality-gradient>

      <!-- <a [href]="'https://doi.org/' + publication().pdbEntryDOI" target="_blank" -->
      <!-- <a
          >{{ publication().pdbEntryDOI }}
          <i class="icon icon-link icon-common"></i>
        </a> -->
    </article>
  </div>
  }
</div>
