<section [ngStyle]="{ 'background-color': headerConfig.backgroundColor }">
  <div class="container">
    <div class="header-logo" (click)="onStartButtonClick()">
      <img class="pdbe-header-logo-img pdbe-logo" [src]="pdbeLogoSrc" alt="pdbe logo" />
      <img class="pdbe-header-logo-img pisa-logo" [src]="pisaLogoSrc" alt="pisa logo" />
    </div>
    <i class="icon icon-common icon-align-justify" (click)="showMobileMenu()"></i>
    <ul class="nav-links">
      @for(link of headerConfig.urls; track link.name){
      <li class="nav-link">
        <a [href]="link.path" [target]="link.openInNewTab ? '_blank' : '_self'">{{ link.name }}</a>
      </li>
      }
      <button class="vf-button vf-button--search-pdbe" (click)="onStartButtonClick()">Start</button>
    </ul>
  </div>
</section>
@if(isMobile()){
<section class="mobile-menu" [ngStyle]="{ 'background-color': headerConfig.backgroundColor }">
  <ul class="nav-links">
    @for(link of headerConfig.urls; track link.name){
    <li class="nav-link">
      <a [href]="link.path" target="_blank">{{ link.name }}</a>
    </li>
    }
  </ul>
</section>
}
