nav {
  display: flex;
  align-items: center;

  .tab-button {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    color: #373a36;
    text-align: center;

    // font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    line-height: 27.2px; /* 170% */
    cursor: pointer;
  }

  .tab-button:hover {
    background-color: #fff;
  }

  .tab-button.inactive:hover {
    background-color: #f3f3f3;
  }

  .tab-button.active {
    color: #1a1a1a;
    font-weight: 500;
    background-color: #fff;
  }

  .tab-button.inactive {
    color: #878787;
  }

  .vertical-line {
    border-left: 1px solid #d0d0ce;
    height: 20px;
  }

  .vertical-line.active {
    display: none;
  }
}
