<section>
  @if(currentData()){
  <header>
    <h2>{{ currentData()!.generalInfo.methodName }} @if (currentData()!.generalInfo.resolution) { • {{ currentData()!.generalInfo.resolution }} }</h2>
    <div class="controls">
      <img src="/assets/images/mobile/mb-arrow-{{expanded() ? 'down':'up'}}.svg" alt="arrow up" (click)="toggleBottomsheetHeight()" />
      <img src="/assets/images/mobile/mb-close.svg" alt="close icon" (click)="closeBottomSheet()" />
    </div>
  </header>
  <div class="r-values">
    @if (currentData()?.generalInfo?.reportedRValues?.rWork) {
    <div>
      <span class="rfree-col">Rwork</span>
      <span>{{ currentData()?.generalInfo?.reportedRValues?.rWork }}</span>
    </div>
    } @if (currentData()?.generalInfo?.reportedRValues?.rFree) {
    <div>
      <span class="rfree-col">Rfree</span>
      <span>{{ currentData()?.generalInfo?.reportedRValues?.rFree }}</span>
    </div>
    }
  </div>
  }
</section>
