section {
  nav {
    display: flex;
    align-items: center;
    gap: 4px;

    span {
      color: #3b6fb6;
      text-overflow: ellipsis;
      font-size: 14px;
      font-weight: 400;
      line-height: 22.4px;
      cursor: pointer;
    }
  }

  header {
    margin-bottom: 12px;
  }

  .row {
    padding: 8px;
    border-bottom: 1px solid #d0d0ce;
    cursor: pointer;

    &:hover {
      background-color: #f3f3f3;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__name {
        color: #1a1c1a;
        font-size: 16px;
        font-weight: 500;
        line-height: 27.2px;
      }
    }

    &__content {
      color: #1a1c1a;
      font-size: 16px;
      font-weight: 400;
      line-height: 27.2px;
      margin-bottom: 12px;
    }
  }

  ::ng-deep .mat-mdc-tab-group.mb-macromolecule {
    margin-top: 12px;

    .mat-mdc-tab-label-container {
      background: #fff;
    }

    .mdc-tab.mat-mdc-tab {
      border: none;
      border-bottom: 2px solid#D0D0CE;
      padding: 0 12px;

      span.mdc-tab__content {
        span.mdc-tab__text-label {
          color: #54585a;
          font-family: 'IBM Plex Sans';
          font-size: 14px;
          font-weight: 400;
          line-height: 22.4px;
          letter-spacing: 0;
        }
      }

      &::after {
        display: none;
      }

      &.mdc-tab--active .mdc-tab__text-label {
        font-weight: 500 !important;
        color: #1a1c1a !important;
      }

      &.mdc-tab--active {
        background: var(--Brand-50, #fff);
        border-bottom-color: #1a1c1a;

        &:last-child {
          border-right: none !important;
        }
      }

      &:hover {
        background: #f3f3f3;
      }
    }

    p.title {
      color: #1a1c1a;
      font-size: 16px;
      font-weight: 500;
      line-height: 27.2px;
    }

    p.content {
      color: #1a1c1a;
      font-size: 16px;
      font-weight: 400;
      line-height: 27.2px;
      margin-bottom: 12px !important;

      span {
        display: block;

        &.uniprot {
          margin-left: 16px;
        }

        &.residue-action-button {
          cursor: pointer;
        }
      }
    }
  }

  ::ng-deep .dropdown-container {
    button {
      width: 100%;
      justify-content: space-between;
    }
  }

  .sequence-container {
    div.title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 4px 0;

      span.text {
        color: #1a1c1a;
        font-size: 16px;
        font-weight: 500;
        line-height: 27.2px;
      }

      button {
        color: #3b6fb6;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        cursor: pointer;
      }
    }

    div.sequence {
      background: #f3f3f3;
      padding: 4px;
      align-self: stretch;
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22.4px;
      word-break: break-word;
      margin-bottom: 8px;
    }
  }

  p[role='button'] {
    cursor: pointer;
    color: #3b6fb6 !important;
  }
}
