<section>
  @if(macromoleculeTableRows().length){
  <header>
    @if(currentViewState() === viewStates.Detail){
    <nav>
      <img src="/assets/images/mobile/blue-arrow-left.svg" alt="arrow left" />
      <span (click)="goBackToList()">Go to Macromolecules list </span>
    </nav>
    }
    <section class="header">
      <h2 #macroMoleculeTitle>
        {{title()}} @if(currentViewState() === viewStates.List){
        <span>({{macromoleculeTableRows().length}})</span>
        }
      </h2>
      <div class="controls">
        <img src="/assets/images/mobile/mb-arrow-{{expanded() ? 'down':'up'}}.svg" alt="arrow up" (click)="toggleBottomsheetHeight()" />
        <img src="/assets/images/mobile/mb-close.svg" alt="close icon" (click)="closeBottomSheet()" />
      </div>
    </section>
  </header>

  <!-- 1st Level Overlay -->
  @if(currentViewState() === viewStates.List){ @for(row of macromoleculeTableRows(); track row.name.molecule){
  <div class="row" (click)="navigateToDetail(row)">
    <div class="row__header">
      <p class="row__header__name">{{row.name.molecule}}</p>
      <img src="/assets/images/mobile/arrow-right.svg" alt="right arrow icon" />
    </div>
    <p class="row__content">
      Chain @for(chain of row.name.chains; track chain; let islast = $last){
      <span>{{chain[chain.length - 1]}}</span>{{ islast ? '' : ',' }} }
    </p>
  </div>
  } }

  <!-- 2nd Level Overlay -->
  @if(currentViewState() === viewStates.Detail){

  <mat-tab-group class="mb-macromolecule">
    <!-- Information Tab -->

    <mat-tab label="Information">
      @if(selectedMacromolecule()?.additionalData?.molecule?.in_chains?.length){
      <p class="title">Chains {{selectedMacromolecule()?.additionalData?.molecule?.in_chains?.join(', ')}}</p>
      } @if(selectedMacromolecule()?.additionalData?.molecule?.molecule_type){
      <p class="title">Type</p>
      <p class="content">{{selectedMacromolecule()?.additionalData?.molecule?.molecule_type}}</p>
      } @if(uniqueOrganisms().length){
      <p class="title">Source organism{{ uniqueOrganisms().length > 1 ? 's': '' }}</p>
      <p class="content">
        @for (sourceOrganism of uniqueOrganisms(); track sourceOrganism) {
        <span>
          <em><a [href]="generateOrganismSearchUrl(sourceOrganism)" target="_blank"> {{ sourceOrganism }} </a></em>
        </span>
        }
      </p>
      } @if(uniqueExpSystems().length) {
      <p class="title">Expression system{{ uniqueExpSystems().length > 1 ? 's': '' }}</p>
      @for (expressionSystem of uniqueExpSystems(); track expressionSystem) {
      <p class="content">
        <em>{{expressionSystem}}</em>
      </p>
      } } @if(mappedResidues()?.length){
      <p class="title">UniProt mapping:</p>
      <p class="content">
        @for(residue of mappedResidues(); track residue.uniprot; let index = $index;){ @let range = residue.range; @if(range.length <= 2){
        <span class="uniprot">
          Canonical <a [href]="'https://www.uniprot.org/uniprotkb/' + residue.uniprot + '/entry'" target="_blank">{{residue.uniprot}}</a>
          @if (getNumberStructures(residue.uniprot)) {
          <a
            [href]="'https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/' + residue.uniprot"
            target="_blank"
            (click)="gAS.logEntryPageEvents('ep_go_to_kb', {
                kb_website: 'proteins',
                device_type: 'mobile',
              })"
          >
            View all {{ getNumberStructures(residue.uniprot) }} structures
            <i class="icon icon-link icon-common" style="margin-left: 12px"></i>
          </a>
          }
        </span>
        <span class="uniprot"> (residues: {{residue.range.join(', ')}}; coverage: {{residue.coverage}} chain: {{ residue.chainId}}) </span>
        } @else { @if(residue.open){
        <span class="uniprot">
          Canonical <a [href]="'https://www.uniprot.org/uniprotkb/' + residue.uniprot + '/entry'" target="_blank">{{residue.uniprot}}</a> @if
          (getNumberStructures(residue.uniprot)) {
          <a
            [href]="'https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/' + residue.uniprot"
            target="_blank"
            (click)="gAS.logEntryPageEvents('ep_go_to_kb', {
                kb_website: 'proteins',
                device_type: 'mobile',
              })"
          >
            View all {{ getNumberStructures(residue.uniprot) }} structures
            <i class="icon icon-link icon-common" style="margin-left: 12px"></i>
          </a>
          }
        </span>
        <span class="uniprot">(residues: {{range.join(', ')}}; coverage: {{residue.coverage}} chain: {{ residue.chainId}} )</span>
        <span class="unprot residue-action-button" (click)="residue.open = !residue.open">show less</span>
        }@else {
        <span class="uniprot">
          Canonical <a [href]="'https://www.uniprot.org/uniprotkb/' + residue.uniprot + '/entry'" target="_blank">{{residue.uniprot}}</a> @if
          (getNumberStructures(residue.uniprot)) {
          <a
            [href]="'https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/' + residue.uniprot"
            target="_blank"
            (click)="gAS.logEntryPageEvents('ep_go_to_kb', {
                kb_website: 'proteins',
                device_type: 'mobile',
              })"
          >
            View all {{ getNumberStructures(residue.uniprot) }} structures
            <i class="icon icon-link icon-common" style="margin-left: 12px"></i>
          </a>
          }
        </span>
        <span class="uniprot">chain: {{residue.chainId}} </span>
        <span class="uniprot">residues: {{range.slice(0,2).join(', ')}}...</span>
        <span class="uniprot residue-action-button" (click)="residue.open = !residue.open">show all</span>
        } } } @for(residue of bestResidues(); track residue.name;){
        <span class="uniprot">Best match <a [href]="'https://www.uniprot.org/uniprotkb/' + residue.uniprot + '/entry'" target="_blank">{{residue.uniprot}}</a></span>
        <span class="uniprot"> (residues: {{residue.mappings[0].unp_start}} - {{residue.mappings[0].unp_end}})</span>
        }
      </p>
      } @if(selectedMacromolecule()?.additionalData?.molecule?.length){
      <p class="title">Length</p>
      <p class="content">{{selectedMacromolecule()?.additionalData?.molecule?.length}} amino acids</p>
      } @if(selectedMacromolecule()?.additionalData?.molecule?.weight){
      <p class="title">Theoretical weight</p>
      <p class="content">{{selectedMacromolecule()?.additionalData?.molecule?.weight}} KDa</p>
      }
    </mat-tab>

    <!-- Sequence Tab -->
    <mat-tab label="Sequence">
      <p class="title" style="margin-bottom: 4px">Select chain</p>
      <div class="chains">
        @if(dropdownOptions.length > 1){
        <div class="dropdown-container">
          <!-- <span class="dropdown-title">{{ dropdownTitle }}</span> -->
          <pdbc-entry-dropdown
            [searchable]="false"
            searchTitle="''"
            [downloadable]="false"
            [islink]="false"
            [options]="dropdownOptions"
            [title]="dropdownSelected"
            (optionClickedEvent)="onDropdownSelect($event)"
          >
          </pdbc-entry-dropdown>
        </div>
        }@else if(dropdownOptions.length === 1){
        <p>{{dropdownOptions[0].name}}</p>
        } @else {}
      </div>
      @if (sequenceDetails()) {
      <div class="sequence-container">
        <div class="title">
          <span class="text">FASTA sequence</span>
          <button (click)="copySequence(sequenceDetails())">Copy sequence</button>
        </div>
        <div class="sequence">{{ sequenceDetails()?.fullSequence }}</div>
      </div>
      }
    </mat-tab>

    <!-- Domain Tab -->
    <mat-tab label="Domains">
      @if(structureDomains().length || sequenceDomains().length){
      <!-- Structure domains -->

      @if(structureDomains().length){
      <p class="title">Structure domains ({{structureDomains().length}}):</p>
      @for(domain of structureDomains(); track domain.domainId){
      <p class="content" style="margin-left: 16px !important">{{domain.domainTitle}}</p>
      <p class="content" style="margin-left: 16px !important">
        ({{domain.identity}}
        <a [href]="domain.link" target="_blank">
          {{domain.domainId}}
          <!-- <i class="icon icon-link icon-common" style="margin-left: 4px"></i> --> </a
        >)
      </p>
      } }

      <!-- Sequence domains -->

      @if(sequenceDomains().length){
      <p class="title" style="margin-top: 12px !important">Sequence domains ({{sequenceDomains().length}}):</p>
      @for(domain of sequenceDomains(); track domain.domainId){
      <p class="content" style="margin-left: 16px !important">{{domain.domainTitle}}</p>
      <p class="content" style="margin-left: 16px !important">
        ({{domain.identity}}
        <a [href]="domain.link" target="_blank">
          {{domain.domainId}}
          <!-- <i class="icon icon-link icon-common" style="margin-left: 4px"></i> --> </a
        >)
      </p>
      } } } @else {
      <p class="content">No domain mappings available for this macromolecule.</p>
      }
    </mat-tab>

    <!-- Function Tab -->
    <mat-tab label="Function" bodyClass="mb-mm-function">
      @if(ecFunctions().length || goFunctions().length){ @for(ec of ecFunctions(); track ec.id){
      <p class="title">EC {{ec.id}}: {{ec.name}}</p>
      <p class="content">Reaction Catalysed</p>
      <p class="content" style="margin-left: 16px !important">{{ec.reaction}}</p>
      <p class="content">Systematic name</p>
      <p class="content" style="margin-left: 16px !important">{{ec.systematic_name}}</p>
      <p class="content">Alternative name(s)</p>
      @for(data of ec.synonyms.slice(0, initialSynonymsCount()); track data){
      <p class="content" style="margin-left: 16px !important">{{data}}</p>
      } @if(ec.synonyms.length > 5){
      <p role="button" class="content" (click)="toggleSynonymsList(ec.synonyms.length)" style="margin-left: 16px !important">
        {{initialSynonymsCount() > 5 ? 'Show less' : 'Show all'}}
      </p>
      } } @for(go of goFunctions(); track go.category){
      <p class="title" style="margin-top: 12px !important">GO - {{go.category}} ({{go.count}}):</p>
      @for(data of go.names.slice(0, initialGoTermsCount()); track data){
      <a
        [href]="'https://www.ebi.ac.uk/pdbe/entry/search/index?' + go.category + ':' + data"
        target="_blank"
        class="content"
        style="margin-left: 16px !important; display: block"
        >{{data}}</a
      >
      @if(go.names.length > 5){
      <p role="button" class="content" (click)="toggleGoTermsList(go.names.length)" style="margin-left: 16px !important">
        {{initialSynonymsCount() > 5 ? 'Show less' : 'Show all'}}
      </p>
      } } }} @else {
      <p class="content">No functional information available for this macromolecule.</p>
      }
    </mat-tab>
  </mat-tab-group>

  } } @else {
  <header>
    <section class="header">
      <h2>No Macromolecules data available</h2>
      <div class="controls">
        <img src="/assets/images/mobile/mb-close.svg" alt="close icon" (click)="closeBottomSheet()" />
      </div>
    </section>
  </header>
  }
</section>
