<div id="Summary" class="summary-container">
  <div class="summary-info">
    <span id="summary-title">Summary</span>
    <div class="summary-info-rows">
      <div class="info-row">
        <span class="info-row-title">Source organism</span>
        <span class="info-row-content">
          <!-- TODO convert this component to use routerLink -->
          <pdbc-pdbe-link-button
            [label]="sourceOrganism"
            [url]="
              'https://www.ebi.ac.uk/pdbe/entry/search/index/?searchParams=%7B%22q_organism_name%22:%5B%7B%22value%22:%22' +
              sourceOrganism +
              '%22,%22condition1%22:%22AND%22,%22condition2%22:%22Contains%22%7D%5D,%22resultState%22:%7B%22tabIndex%22:0,%22paginationIndex%22:1,%22perPage%22:%2210%22,%22sortBy%22:%22Sort%20by%22%7D%7D'
            "
            [fontStyle]="'Paragraph 3 (16px)'"
            [fontColor]="'#3B6FB6'"
            [hoverColor]="'#193F90'"
            [visitedColor]="'#563D82'"
            [focusBorderColor]="'#3B6FB6'"
            [activeFontWeight]="300"
            [whiteSpace]="'normal'"
          ></pdbc-pdbe-link-button>
        </span>
      </div>
      <div class="info-row">
        <span class="info-row-title">Experiment type</span>
        <span class="info-row-content">
          <span class="info-row-content-line">
            {{ experimentType }}
            <pdbc-pdbe-link-button
              class="hideMobile"
              [label]="'go to Experiments info'"
              [url]="'#Experiments_and_Validation'"
              [fontStyle]="'Paragraph 3 (16px)'"
              [fontColor]="'#3B6FB6'"
              [hoverColor]="'#193F90'"
              [visitedColor]="'#563D82'"
              [focusBorderColor]="'#3B6FB6'"
              [activeFontWeight]="300"
              [whiteSpace]="'normal'"
            ></pdbc-pdbe-link-button>
          </span>
          <span *ngIf="resolutionValue" class="info-row-content-line">{{ resolutionValue }}</span>
          <pdbc-pdbe-link-button
            class="showMobile"
            [label]="'go to Experiments info'"
            [url]="'#Experiments_and_Validation'"
            [fontStyle]="'Paragraph 3 (16px)'"
            [fontColor]="'#3B6FB6'"
            [hoverColor]="'#193F90'"
            [visitedColor]="'#563D82'"
            [focusBorderColor]="'#3B6FB6'"
            [activeFontWeight]="300"
            [whiteSpace]="'normal'"
          ></pdbc-pdbe-link-button>
        </span>
      </div>
      <div class="info-row">
        <span class="info-row-title">Released</span>
        <span class="info-row-content">{{ releasedData }}</span>
      </div>
      <div class="info-row">
        <span class="info-row-title">Primary publication</span>
        <span class="info-row-content">
          <span class="info-row-content-line">
            {{ publicationTitle }}
            <pdbc-pdbe-link-button
              [label]="'go to Citations'"
              [url]="'#Citations'"
              [fontStyle]="'Paragraph 3 (16px)'"
              [fontColor]="'#3B6FB6'"
              [hoverColor]="'#193F90'"
              [visitedColor]="'#563D82'"
              [focusBorderColor]="'#3B6FB6'"
              [activeFontWeight]="300"
              [whiteSpace]="'normal'"
            ></pdbc-pdbe-link-button>
          </span>
          <span class="info-row-content-line">
            <span *ngFor="let publicationOrEntryAuthor of publicationOrEntryAuthors; index as i" class="info-row-content-word">
              <!-- <span *ngIf="i > 0 && i + 1 < publicationOrEntryAuthors.length" class="info-row-content-word">,</span> -->
              <pdbc-pdbe-link-button
                [label]="publicationOrEntryAuthor + getComma(i)"
                [url]="
                  'https://www.ebi.ac.uk/pdbe/entry/search/index/?searchParams=%7B%22q_all_authors%22:%5B%7B%22value%22:%22' +
                  publicationOrEntryAuthor +
                  '%22,%22condition1%22:%22AND%22,%22condition2%22:%22Contains%22%7D%5D,%22resultState%22:%7B%22tabIndex%22:0,%22paginationIndex%22:1,%22perPage%22:%2210%22,%22sortBy%22:%22Sort%20by%22%7D%7D'
                "
                [fontStyle]="'Paragraph 3 (16px)'"
                [fontColor]="'#3B6FB6'"
                [hoverColor]="'#193F90'"
                [visitedColor]="'#563D82'"
                [focusBorderColor]="'#3B6FB6'"
                [activeFontWeight]="300"
                [whiteSpace]="'normal'"
              ></pdbc-pdbe-link-button>
            </span>
          </span>
          <span *ngIf="publicationJournal" class="info-row-content-line">
            <span class="info-row-content-word" style="font-style: italic">{{ publicationJournal }} </span>
            <span class="info-row-content-word">{{ publicationVolume }} </span>
            <span class="info-row-content-word">{{ publicationPage }} </span>
            <span class="info-row-content-word">{{ publicationYear }}</span>
          </span>
        </span>
      </div>
      <div *ngIf="publicationPMID" class="info-row">
        <span class="info-row-title">PMID</span>
        <span class="info-row-content-line">
          <pdbc-pdbe-link-button
            [label]="publicationPMID"
            [url]="'https://europepmc.org/article/MED/' + publicationPMID"
            [fontStyle]="'Paragraph 3 (16px)'"
            [fontColor]="'#3B6FB6'"
            [hoverColor]="'#193F90'"
            [visitedColor]="'#563D82'"
            [focusBorderColor]="'#3B6FB6'"
            [activeFontWeight]="300"
            [mobileIconName]="'link'"
            [whiteSpace]="'normal'"
          ></pdbc-pdbe-link-button>
        </span>
      </div>
      <div class="info-row">
        <span class="info-row-title">PDB entry DOI</span>
        <span class="info-row-content">
          <pdbc-pdbe-link-button
            [label]="pdbEntryDOI"
            [url]="'https://doi.org/' + pdbEntryDOI"
            [fontStyle]="'Paragraph 3 (16px)'"
            [fontColor]="'#3B6FB6'"
            [hoverColor]="'#193F90'"
            [visitedColor]="'#563D82'"
            [focusBorderColor]="'#3B6FB6'"
            [activeFontWeight]="300"
            [mobileIconName]="'link'"
            [whiteSpace]="'normal'"
          ></pdbc-pdbe-link-button>
        </span>
      </div>
      <div *ngIf="emdbEntry" class="info-row">
        <!-- TODO convert this to list of links -->
        <span class="info-row-title">Related structures</span>
        <span class="info-row-content">
          <pdbc-pdbe-link-button
            [label]="emdbEntry"
            [url]="'https://www.ebi.ac.uk/emdb/' + emdbEntry"
            [fontStyle]="'Paragraph 3 (16px)'"
            [fontColor]="'#3B6FB6'"
            [hoverColor]="'#193F90'"
            [visitedColor]="'#563D82'"
            [focusBorderColor]="'#3B6FB6'"
            [activeFontWeight]="300"
            [mobileIconName]="'link'"
            [whiteSpace]="'normal'"
          ></pdbc-pdbe-link-button>
        </span>
      </div>
    </div>
  </div>
  <div class="summary-img-quality"></div>
</div>
