/* You can add global styles to this file, and also import other style files */
@import 'https://ebi.emblstatic.net/web_guidelines/EBI-Icon-fonts/v1.3/fonts.css';
@import 'monaco-editor/min/vs/editor/editor.main.css';
@import 'index';

html,
body {
  height: 100%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  overflow-x: hidden !important;
  line-height: 27.2px;
}

a {
  color: #3b6fb6;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  text-decoration: none;
  border: none;

  &:focus {
    border: none;
    outline: none;
    text-shadow: none;
  }

  &:visited {
    color: #3b6fb6;

    i {
      color: #3b6fb6;
    }
  }

  &:hover {
    color: #193f90;
    text-decoration: underline;
    border: none !important;
  }
}

p {
  margin: 0 !important;
  color: #000000;
}
