@if(ligand()){
<div class="ligand-container">
  <div class="image-container" #imageContainer></div>
  <div class="ligand-description">
    <a
      [routerLink]="['/chemicalCompound/show', ligand().ligandId]"
      matTooltipClass="complex-name-tooltip"
      [matTooltip]="ligand().name"
      matTooltipPosition="above"
      (click)="googleAnalyticsService.logClickEvents('click_Complex_ligand_link', 'Related Ligands', 'click_complex_ligand', ligand().ligandId)"
    >
      {{ ligand().ligandId }}
      <i class="icon icon-link icon-common"></i>
    </a>
    <p class="annotations">
      @for(annotation of ligand().annotations; track annotation){ @if(annotation.toLocaleLowerCase() === 'cofactor-like'){
      <span class="cofactor-like" matTooltipClass="complex-name-tooltip" [matTooltip]="cofactorTooltip" matTooltipPosition="below">Cofactor-like</span>
      } @if(annotation.toLocaleLowerCase() === 'drug-like'){
      <span class="drug-like" matTooltipClass="complex-name-tooltip" [matTooltip]="drugTooltip" matTooltipPosition="below">Drug-like</span>
      } @if(annotation.toLocaleLowerCase() ==='reactant-like'){
      <span class="reactant-like" matTooltipClass="complex-name-tooltip" [matTooltip]="reactantTooltip" matTooltipPosition="below">Reactant-like</span>
      } }
    </p>
    <p class="grid-text">
      @let numOfChains = ligand().num_chains; @let numOfPDBEntries = ligand().num_pdb_entries; Bound to {{ numOfChains }}
      {{ numOfChains > 1 ? 'chains' : 'chain' }} in {{ numOfPDBEntries }} {{ numOfPDBEntries > 1 ? 'PDB entries' : 'PDB entry' }}
    </p>
  </div>
</div>
}
