<div class="summary-container">
  <div class="summary-info">
    <div id="summary-section"></div>
    <div class="summary-info-rows">
      <!-- Entry title row -->
      <div class="info-row">
        <span class="info-row-title">Entry title</span>
        <span class="info-row-content"> {{ entryTitle }}</span>
      </div>
      <!-- Assembly row -->
      @if (complexId) {
      <div class="info-row">
        <span class="info-row-title">
          Assembly
          <lib-tool-tip>
            Assembly refers to the composition of a single or multiple molecules (which can be protein, nucleic acid or small molecules) arranged into a specific
            configuration to form a larger functional unit (complex).
          </lib-tool-tip>
        </span>
        <span class="info-row-content">
          @if (complexName) {
          <span class="info-row-content-line">
            {{ complexName }}
            <lib-tool-tip>
              The assembly name is sourced from: Complex Portal, UniProt, Rfam, Gene Ontology or manual curation when available. If the assembly name is not
              available, an assembly number is displayed.
            </lib-tool-tip>
          </span>
          }
          <span class="info-row-content-line">
            <a [href]="'https://www.ebi.ac.uk/pdbe/entry/search/index?complex_id:' + complexId" target="_blank">{{ complexId }}</a>
            <lib-tool-tip>
              <h6 style="font-weight: 600">Complex ID</h6>
              PDB-CPX-XXXXXX is an identifier assigned to each unique assembly composition in the PDB.
            </lib-tool-tip>
          </span>
          <span class="info-row-content-line"> </span>
        </span>
      </div>
      }
      <!-- Source organism row -->
      @if (sourceOrganisms.length > 0) {
      <div class="info-row">
        <span class="info-row-title">Source organisms</span>
        <span class="info-row-content">
          <!-- TODO convert this component to use routerLink -->
          <span *ngFor="let sourceOrganism of sourceOrganisms; index as i" class="info-row-content-word">
            <a
              [href]="
                'https://www.ebi.ac.uk/pdbe/entry/search/index/?searchParams=%7B%22q_organism_name%22:%5B%7B%22value%22:%22' +
                sourceOrganism +
                '%22,%22condition1%22:%22AND%22,%22condition2%22:%22Contains%22%7D%5D,%22resultState%22:%7B%22tabIndex%22:0,%22paginationIndex%22:1,%22perPage%22:%2210%22,%22sortBy%22:%22Sort%20by%22%7D%7D'
              "
              target="_blank"
              >{{ sourceOrganism }}</a
            >
            <br />
          </span>
        </span>
      </div>
      }
      <!-- Polymeric entries row -->
      @if (polymericEntitiesList.length > 0) {
      <div class="info-row">
        <span class="info-row-title">Polymeric entities</span>
        <span class="info-row-content">
          @for (polymericEntity of polymericEntitiesList; track polymericEntity) {
          <span class="info-row-content-line">
            {{ polymericEntity }}
          </span>
          }
          <span class="info-row-content-line"> </span>
        </span>
      </div>
      }
      <!-- Small molecules row -->
      @if (smallMoleculesList.length > 0) {
      <div class="info-row">
        <span class="info-row-title">Small molecules</span>
        <span class="info-row-content">
          @for (smallMoleculeItem of smallMoleculesList; track smallMoleculeItem) {
          <span class="info-row-content-line" [ngStyle]="{ 'padding-left': smallMoleculeItem.nested ? '12px' : '' }">
            {{ smallMoleculeItem.text }}
          </span>
          }
          <span class="info-row-content-line"> </span>
        </span>
      </div>
      }
      <!-- Released row -->
      <div class="info-row">
        <span class="info-row-title">Released</span>
        <span class="info-row-content">{{ releasedData }}</span>
      </div>
      <!-- PDB DOI row -->
      <div class="info-row">
        <span class="info-row-title">PDB DOI</span>
        <span class="info-row-content">
          <a [href]="'https://doi.org/' + pdbEntryDOI" target="_blank">{{ pdbEntryDOI }}</a>
        </span>
      </div>
      <!-- Primary publication row -->
      <div class="info-row">
        <span class="info-row-title">Primary publication</span>
        <span class="info-row-content">
          <span class="info-row-content-line">
            {{ publicationTitle }}
          </span>
          <span class="info-row-content-line">
            <span class="info-row-content-word">Authors: </span>
            <span class="info-row-content-word">
              @for (publicationOrEntryAuthor of publicationOrEntryAuthors; track publicationOrEntryAuthor; let i = $index) {
              <a
                [href]="
                  'https://www.ebi.ac.uk/pdbe/entry/search/index/?searchParams=%7B%22q_all_authors%22:%5B%7B%22value%22:%22' +
                  publicationOrEntryAuthor +
                  '%22,%22condition1%22:%22AND%22,%22condition2%22:%22Contains%22%7D%5D,%22resultState%22:%7B%22tabIndex%22:0,%22paginationIndex%22:1,%22perPage%22:%2210%22,%22sortBy%22:%22Sort%20by%22%7D%7D'
                "
                target="_blank"
                >{{ publicationOrEntryAuthor + getComma(i) }}</a
              >

              }
            </span>
          </span>
          <span class="info-row-content-line">
            @if (publicationJournal) {
            <span class="info-row-content-word" style="font-style: italic">{{ publicationJournal }} </span>
            @if (publicationVolume) {
            <span class="info-row-content-word">{{ publicationVolume }} </span>
            } @if (publicationPage) {
            <span class="info-row-content-word">{{ publicationPage }} </span>
            } @if (publicationYear) {
            <span class="info-row-content-word">{{ publicationYear }}</span>
            } @if (publicationPMID) {
            <span style="width: 16px; height: 100%; visibility: hidden">_</span>
            <span class="info-row-content-word" style="display: inline-block">
              PMID:
              <a [href]="'https://europepmc.org/article/MED/' + publicationPMID" target="_blank">{{ publicationPMID }}</a>
            </span>
            } }
          </span>
          @if (publicationDOI) {
          <span class="info-row-content-line">
            DOI:
            <a [href]="'https://doi.org/' + publicationDOI" target="_blank">{{ publicationDOI }}</a>
          </span>
          }
        </span>
      </div>
    </div>
  </div>
  <div class="summary-img-quality"></div>
</div>
