<section>
  @if(macromoleculeTableRows().length){
  <header>
    @if(currentViewState() === viewStates.Detail){
    <nav>
      <img src="/assets/images/mobile/blue-arrow-left.svg" alt="arrow left" />
      <span (click)="goBackToList()">Go to Macromolecules list </span>
    </nav>
    }
    <section class="header">
      <h2 #macroMoleculeTitle>
        {{title()}} @if(currentViewState() === viewStates.List){
        <span>({{macromoleculeTableRows().length}})</span>
        }
      </h2>
      <div class="controls">
        <img src="/assets/images/mobile/mb-arrow-{{expanded() ? 'down':'up'}}.svg" alt="arrow up" (click)="toggleBottomsheetHeight()" />
        <img src="/assets/images/mobile/mb-close.svg" alt="close icon" (click)="closeBottomSheet()" />
      </div>
    </section>
  </header>

  <!-- 1st Level Overlay -->
  @if(currentViewState() === viewStates.List){ @for(row of macromoleculeTableRows(); track row.name.molecule){
  <div class="row" (click)="navigateToDetail(row)">
    <div class="row__header">
      <p class="row__header__name">{{row.name.molecule}}</p>
      <img src="/assets/images/mobile/arrow-right.svg" alt="right arrow icon" />
    </div>
    <p class="row__content">
      Chain @for(chain of row.name.chains; track chain; let islast = $last){
      <span>{{chain[chain.length - 1]}}</span>{{ islast ? '' : ',' }} } @if (anyNonPrefAssembly(row)) {
      <img src="assets/icons/warning_icon.webp" style="margin-left: 4px; width: 16px; height: 16px" />
      }
    </p>
  </div>
  } }

  <!-- 2nd Level Overlay -->
  @if(currentViewState() === viewStates.Detail){

  <mat-tab-group class="mb-macromolecule">
    <!-- Information Tab -->

    <mat-tab label="Information">
      @if(selectedMacromolecule()?.additionalData?.molecule?.in_chains?.length){
      <p class="title">Chains {{selectedMacromolecule()?.additionalData?.molecule?.in_chains?.join(', ')}}</p>
      } @if(selectedMacromolecule()?.additionalData?.molecule?.molecule_type){
      <p class="title">Type</p>
      <p class="content">{{selectedMacromolecule()?.additionalData?.molecule?.molecule_type}}</p>
      } @if(uniqueOrganismsWithStrains().length){
      <p class="title">Source organism{{ uniqueOrganismsWithStrains().length > 1 ? 's': '' }}</p>
      <p class="content">
        @for (sourceOrganismWithStrain of uniqueOrganismsWithStrains(); track sourceOrganismWithStrain) {
        <span>
          <em><a [href]="generateOrganismSearchUrl(sourceOrganismWithStrain.name)" target="_blank"> {{ sourceOrganismWithStrain.name }} </a></em>
          @if (sourceOrganismWithStrain.strain) { (strain {{sourceOrganismWithStrain.strain}}) }
        </span>
        }
      </p>
      } @if(uniqueExpSystems().length) {
      <p class="title">Expression system{{ uniqueExpSystems().length > 1 ? 's': '' }}</p>
      @for (expressionSystem of uniqueExpSystems(); track expressionSystem) {
      <p class="content">
        <em>{{expressionSystem}}</em>
      </p>
      } } @if(uniprotProcessedMappings()?.length) { @let mappings = uniprotProcessedMappings()!; @let firstMapping = mappings[0];
      <p class="title">UniProt mapping{{ mappings.length > 1 ? 's': '' }}:</p>
      <p class="content">
        @if (isUniprotMappingsBig() === false) {
        <span class="uniprot">
          Canonical <a [href]="'https://www.uniprot.org/uniprotkb/' + firstMapping.uniprotId" target="_blank">{{firstMapping.uniprotId}}</a>
          @if (getNumberStructures(firstMapping.uniprotId)) {
          <a
            [href]="baseUrl + 'pdbe-kb/proteins/' + firstMapping.uniprotId"
            target="_blank"
            (click)="gAS.logPageEvents('ep_go_to_kb', {
                  kb_website: 'proteins',
                  device_type: 'mobile',
                })"
          >
            View all {{ getNumberStructures(firstMapping.uniprotId) }} structures
            <i class="icon icon-link icon-common" style="margin-left: 6px"></i>
          </a>
          }
        </span>
        <span class="uniprot">
          (chain{{ firstMapping.chainIds.length > 1 ? 's': '' }}: {{firstMapping.chainIds.join(', ')}}; residues: {{firstMapping.uniprotSegments.join(', ')}};
          coverage: {{firstMapping.coverage}} identity: {{firstMapping.identity}})
        </span>
        } @else if (isUniprotMappingsClosed === true && firstMapping.uniprotSegments.length <= 2) {
        <span class="uniprot">
          Canonical <a [href]="'https://www.uniprot.org/uniprotkb/' + firstMapping.uniprotId" target="_blank">{{firstMapping.uniprotId}}</a>
          @if (getNumberStructures(firstMapping.uniprotId)) {
          <a
            [href]="baseUrl + 'pdbe-kb/proteins/' + firstMapping.uniprotId"
            target="_blank"
            (click)="gAS.logPageEvents('ep_go_to_kb', {
                  kb_website: 'proteins',
                  device_type: 'mobile',
                })"
          >
            View all {{ getNumberStructures(firstMapping.uniprotId) }} structures
            <i class="icon icon-link icon-common" style="margin-left: 6px"></i>
          </a>
          }
        </span>
        <span class="uniprot">
          (chain{{ firstMapping.chainIds.length > 1 ? 's': '' }}: {{firstMapping.chainIds.join(', ')}}; residues: {{firstMapping.uniprotSegments.join(', ')}};
          coverage: {{firstMapping.coverage}} identity: {{firstMapping.identity}})
        </span>
        <span class="uniprot residue-action-button" (click)="isUniprotMappingsClosed = !isUniprotMappingsClosed">&nbsp;show all</span>
        } @else if (isUniprotMappingsClosed === true && firstMapping.uniprotSegments.length > 2) {
        <span class="uniprot">
          Canonical <a [href]="'https://www.uniprot.org/uniprotkb/' + firstMapping.uniprotId" target="_blank">{{firstMapping.uniprotId}}</a>
          @if (getNumberStructures(firstMapping.uniprotId)) {
          <a
            [href]="baseUrl + 'pdbe-kb/proteins/' + firstMapping.uniprotId"
            target="_blank"
            (click)="gAS.logPageEvents('ep_go_to_kb', {
                  kb_website: 'proteins',
                  device_type: 'mobile',
                })"
          >
            View all {{ getNumberStructures(firstMapping.uniprotId) }} structures
            <i class="icon icon-link icon-common" style="margin-left: 6px"></i>
          </a>
          }
        </span>
        <span class="uniprot">
          (chain{{ firstMapping.chainIds.length > 1 ? 's': '' }}: {{firstMapping.chainIds.join(', ')}}; residues: {{firstMapping.uniprotSegments.slice(0,2).join(',
          ')}}...
        </span>
        <span class="uniprot residue-action-button" (click)="isUniprotMappingsClosed = !isUniprotMappingsClosed">&nbsp;show all</span>
        } @else { @for(eachMapping of mappings; track eachMapping.uniprotId; let index = $index;) {
        <span class="uniprot"
          >Canonical <a [href]="'https://www.uniprot.org/uniprotkb/' + eachMapping.uniprotId" target="_blank">{{eachMapping.uniprotId}}</a>
          @if (getNumberStructures(eachMapping.uniprotId)) {
          <a
            [href]="baseUrl + 'pdbe-kb/proteins/' + eachMapping.uniprotId"
            target="_blank"
            (click)="gAS.logPageEvents('ep_go_to_kb', {
                      kb_website: 'proteins',
                      device_type: 'mobile',
                    })"
          >
            View all {{ getNumberStructures(eachMapping.uniprotId) }} structures
            <i class="icon icon-link icon-common" style="margin-left: 6px"></i>
          </a>
          }
        </span>
        <span class="uniprot"
          >(chain{{ eachMapping.chainIds.length > 1 ? 's': '' }}: {{eachMapping.chainIds.join(', ')}}; residues: {{eachMapping.uniprotSegments.join(', ')}}; coverage:
          {{eachMapping.coverage}} identity: {{eachMapping.identity}} )</span
        >
        }
        <span class="uniprot residue-action-button" (click)="isUniprotMappingsClosed = !isUniprotMappingsClosed">show less</span>
        } @for(residue of bestResidues(); track residue.name;){
        <span class="uniprot">Best match <a [href]="'https://www.uniprot.org/uniprotkb/' + residue.uniprot + '/entry'" target="_blank">{{residue.uniprot}}</a></span>
        <span class="uniprot"> (residues: {{residue.mappings[0].unp_start}} - {{residue.mappings[0].unp_end}})</span>
        }
      </p>
      } @if(selectedMacromolecule()?.additionalData?.molecule?.length){
      <p class="title">Length</p>
      <p class="content">{{selectedMacromolecule()?.additionalData?.molecule?.length}} amino acids</p>
      } @if(selectedMacromolecule()?.additionalData?.molecule?.weight){
      <p class="title">Theoretical weight</p>
      <p class="content">{{selectedMacromolecule()?.additionalData?.molecule?.weight}} KDa</p>
      }
    </mat-tab>

    <!-- Sequence Tab -->
    <mat-tab label="Sequence">
      <p class="title" style="margin-bottom: 4px">Select chain</p>
      <div class="chains">
        @if(dropdownOptions.length > 1){
        <div class="dropdown-container">
          <!-- <span class="dropdown-title">{{ dropdownTitle }}</span> -->
          <pdbc-entry-dropdown
            [searchable]="false"
            searchTitle="''"
            [downloadable]="false"
            [islink]="false"
            [options]="dropdownOptions"
            [title]="dropdownSelected"
            (optionClickedEvent)="onDropdownSelect($event)"
          >
          </pdbc-entry-dropdown>
        </div>
        }@else if(dropdownOptions.length === 1){
        <p>{{dropdownOptions[0].name}}</p>
        } @else {}
      </div>
      @if (sequenceDetails()) {
      <div class="sequence-container">
        <div class="title">
          <span class="text">FASTA sequence</span>
          <button (click)="copySequence(sequenceDetails())">Copy sequence</button>
        </div>
        <div class="sequence">{{ sequenceDetails()?.fullSequence }}</div>
      </div>
      }
    </mat-tab>

    <!-- Domain Tab -->
    <mat-tab label="Domains">
      @if(structureDomains().length || sequenceDomains().length){
      <!-- Structure domains -->

      @if(structureDomains().length){
      <p class="title">Structure domains ({{structureDomains().length}}):</p>
      @for(domain of structureDomains(); track domain.domainId){
      <p class="content" style="margin-left: 16px !important">{{domain.domainTitle}}</p>
      <p class="content" style="margin-left: 16px !important">
        ({{domain.identity}}
        <a [href]="domain.link" target="_blank">
          {{domain.domainId}}
          <!-- <i class="icon icon-link icon-common" style="margin-left: 4px"></i> --> </a
        >)
      </p>
      } }

      <!-- Sequence domains -->

      @if(sequenceDomains().length){
      <p class="title" style="margin-top: 12px !important">Sequence domains ({{sequenceDomains().length}}):</p>
      @for(domain of sequenceDomains(); track domain.domainId){
      <p class="content" style="margin-left: 16px !important">{{domain.domainTitle}}</p>
      <p class="content" style="margin-left: 16px !important">
        ({{domain.identity}}
        <a [href]="domain.link" target="_blank">
          {{domain.domainId}}
          <!-- <i class="icon icon-link icon-common" style="margin-left: 4px"></i> --> </a
        >)
      </p>
      } } } @else {
      <p class="content">No domain mappings available for this macromolecule.</p>
      }
    </mat-tab>

    <!-- Function Tab -->
    <mat-tab label="Function" bodyClass="mb-mm-function">
      @if(ecFunctions().length || goFunctions().length){ @for(ec of ecFunctions(); track ec.id){
      <p class="title">EC {{ec.id}}: {{ec.name}}</p>
      <p class="content">Reaction Catalysed</p>
      <p class="content" style="margin-left: 16px !important">{{ec.reaction}}</p>
      <p class="content">Systematic name</p>
      <p class="content" style="margin-left: 16px !important">{{ec.systematic_name}}</p>
      <p class="content">Alternative name(s)</p>
      @for(data of ec.synonyms.slice(0, initialSynonymsCount()); track data){
      <p class="content" style="margin-left: 16px !important">{{data}}</p>
      } @if(ec.synonyms.length > 5){
      <p role="button" class="content" (click)="toggleSynonymsList(ec.synonyms.length)" style="margin-left: 16px !important">
        {{initialSynonymsCount() > 5 ? 'Show less' : 'Show all'}}
      </p>
      } } @for(go of goFunctions(); track go.category){
      <p class="title" style="margin-top: 12px !important">GO - {{go.category}} ({{go.count}}):</p>
      @for(data of go.names.slice(0, initialGoTermsCount()); track data){
      <a
        [href]="'https://www.ebi.ac.uk/pdbe/entry/search/index?' + go.category + ':' + data"
        target="_blank"
        class="content"
        style="margin-left: 16px !important; display: block"
        >{{data}}</a
      >
      } @if(go.names.length > 5){
      <p role="button" class="content" (click)="toggleGoTermsList(go.names.length)" style="margin-left: 16px !important">
        {{initialGoTermsCount() > 5 ? 'Show less' : 'Show all'}}
      </p>
      } }} @else {
      <p class="content">No functional information available for this macromolecule.</p>
      }
    </mat-tab>
  </mat-tab-group>

  } } @else {
  <header>
    <section class="header">
      <h2>No Macromolecules data available</h2>
      <div class="controls">
        <img src="/assets/images/mobile/mb-close.svg" alt="close icon" (click)="closeBottomSheet()" />
      </div>
    </section>
  </header>
  }
</section>
