<pdbc-header></pdbc-header>
<pdbc-header-jumbotron></pdbc-header-jumbotron>
<pdbc-nav-tabs activePageInput="home"></pdbc-nav-tabs>
<pdbc-home-bookmarks></pdbc-home-bookmarks>
<div class="row right-padded" style="height: fit-content">
  <!-- <div class="row"> -->
  <!-- <div id="home-content" class="content-holder-bg large-10 large-offset-1 medium-offset-1 medium-10 small-12"> -->
  <div id="home-content" class="content-holder-bg">
    <div id="background" class="text-holder">
      <h3 class="heading-style-B">Background</h3>
      <p class="paragraph-style-B">
        PDBe-KB (Protein Data Bank in Europe - Knowledge Base) is an open, collaborative consortium for integration and enrichment of 3D-structure data and functional
        annotations to enable basic and translational research. The
        <a class="link-style" target="_blank" href="https://www.ebi.ac.uk/pdbe/pdbe-kb/3dbeacons/"
          >3D-Beacons Network <i class="icon icon-common icon-external-link-alt"></i></a
        >, a vital part of the PDBe-KB consortium activities, provides integrated access to experimental and computational protein structure models.
      </p>
      <p class="paragraph-style-B">
        PDBe-KB is a flagship of the
        <a class="link-style" target="_blank" href="https://elixir-europe.org/communities/3d-bioinfo"
          >ELIXIR 3D-BioInfo Community <i class="icon icon-common icon-external-link-alt"></i></a
        >, an international group of researchers and software developers working on improving use of macromolecular structure data in life science research.
      </p>
      <div id="mission-box">
        <h4 class="mission-heading">Our mission</h4>
        <ul class="paragraph-style-B">
          <li>
            Implement a comprehensive,
            <a class="link-style" target="_blank" href="https://en.wikipedia.org/wiki/FAIR_data">FAIR <i class="icon icon-common icon-external-link-alt"></i></a>
            infrastructure for macromolecular structures and their annotations
          </li>
          <li>Enrich macromolecular structure data with strutural and functional annotations to establish their biological context</li>
          <li>Develop innovative tools for data access and visualisation</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="quicklinks" class="right-padded">
  <div class="row">
    <!-- <div class="large-10 large-offset-1 medium-offset-1 medium-10 small-12"> -->
    <div class="text-holder">
      <h3 class="heading-style-B">Quick links</h3>
      <div class="row float-left">
        <div class="columns large-4 medium-6 small-12">
          <a
            class="link-quicklinks"
            target="_blank"
            href="https://www.ebi.ac.uk/pdbe/news"
            onclick="gtag('event', 'link_visit', {'event_category': 'home_href_click', 'event_subcategory': 'quick_links_click', 'event_label': 'news', 'value': undefined})"
            >News
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.5833 10.5C19.5833 13.1522 18.5517 15.6957 16.7154 17.5711C14.8791 19.4464 12.3886 20.5 9.79167 20.5C8.50581 20.5 7.23254 20.2413 6.04456 19.7388C4.85658 19.2362 3.77715 18.4997 2.86791 17.5711C1.03162 15.6957 0 13.1522 0 10.5C0 7.84784 1.03162 5.3043 2.86791 3.42893C4.70421 1.55357 7.19475 0.5 9.79167 0.5C11.0775 0.5 12.3508 0.758658 13.5388 1.2612C14.7268 1.76375 15.8062 2.50035 16.7154 3.42893C17.6247 4.35752 18.3459 5.45991 18.838 6.67317C19.3301 7.88642 19.5833 9.18678 19.5833 10.5ZM3.91667 11.5H11.75L8.32292 15L9.71333 16.42L15.51 10.5L9.71333 4.58L8.32292 6L11.75 9.5H3.91667V11.5Z"
                fill="#0a5032"
              />
            </svg>
          </a>
        </div>
        <div class="columns large-4 medium-6 small-12">
          <a
            class="link-quicklinks"
            target="_blank"
            href="https://www.ebi.ac.uk/pdbe/graph-api/pdbe_doc/"
            onclick="gtag('event', 'services_access', {'event_category': 'home_href_click', 'event_subcategory': 'quick_links_click', 'event_label': 'api', 'value': undefined})"
            >API
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.5833 10.5C19.5833 13.1522 18.5517 15.6957 16.7154 17.5711C14.8791 19.4464 12.3886 20.5 9.79167 20.5C8.50581 20.5 7.23254 20.2413 6.04456 19.7388C4.85658 19.2362 3.77715 18.4997 2.86791 17.5711C1.03162 15.6957 0 13.1522 0 10.5C0 7.84784 1.03162 5.3043 2.86791 3.42893C4.70421 1.55357 7.19475 0.5 9.79167 0.5C11.0775 0.5 12.3508 0.758658 13.5388 1.2612C14.7268 1.76375 15.8062 2.50035 16.7154 3.42893C17.6247 4.35752 18.3459 5.45991 18.838 6.67317C19.3301 7.88642 19.5833 9.18678 19.5833 10.5ZM3.91667 11.5H11.75L8.32292 15L9.71333 16.42L15.51 10.5L9.71333 4.58L8.32292 6L11.75 9.5H3.91667V11.5Z"
                fill="#0a5032"
              />
            </svg>
          </a>
        </div>
        <div class="columns large-4 medium-6 small-12">
          <a
            class="link-quicklinks"
            target="_blank"
            href="http://ftp.ebi.ac.uk/pub/databases/pdbe-kb/"
            onclick="gtag('event', 'services_access', {'event_category': 'home_href_click', 'event_subcategory': 'quick_links_click', 'event_label': 'ftp', 'value': undefined})"
            >FTP
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.5833 10.5C19.5833 13.1522 18.5517 15.6957 16.7154 17.5711C14.8791 19.4464 12.3886 20.5 9.79167 20.5C8.50581 20.5 7.23254 20.2413 6.04456 19.7388C4.85658 19.2362 3.77715 18.4997 2.86791 17.5711C1.03162 15.6957 0 13.1522 0 10.5C0 7.84784 1.03162 5.3043 2.86791 3.42893C4.70421 1.55357 7.19475 0.5 9.79167 0.5C11.0775 0.5 12.3508 0.758658 13.5388 1.2612C14.7268 1.76375 15.8062 2.50035 16.7154 3.42893C17.6247 4.35752 18.3459 5.45991 18.838 6.67317C19.3301 7.88642 19.5833 9.18678 19.5833 10.5ZM3.91667 11.5H11.75L8.32292 15L9.71333 16.42L15.51 10.5L9.71333 4.58L8.32292 6L11.75 9.5H3.91667V11.5Z"
                fill="#0a5032"
              />
            </svg>
          </a>
        </div>
        <div class="columns large-4 medium-6 small-12">
          <a
            class="link-quicklinks"
            target="_blank"
            href="https://www.ebi.ac.uk/pdbe/pdbe-services"
            onclick="gtag('event', 'services_access', {'event_category': 'home_href_click', 'event_subcategory': 'quick_links_click', 'event_label': 'quicklnk_services', 'value': undefined})"
            >Services<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.5833 10.5C19.5833 13.1522 18.5517 15.6957 16.7154 17.5711C14.8791 19.4464 12.3886 20.5 9.79167 20.5C8.50581 20.5 7.23254 20.2413 6.04456 19.7388C4.85658 19.2362 3.77715 18.4997 2.86791 17.5711C1.03162 15.6957 0 13.1522 0 10.5C0 7.84784 1.03162 5.3043 2.86791 3.42893C4.70421 1.55357 7.19475 0.5 9.79167 0.5C11.0775 0.5 12.3508 0.758658 13.5388 1.2612C14.7268 1.76375 15.8062 2.50035 16.7154 3.42893C17.6247 4.35752 18.3459 5.45991 18.838 6.67317C19.3301 7.88642 19.5833 9.18678 19.5833 10.5ZM3.91667 11.5H11.75L8.32292 15L9.71333 16.42L15.51 10.5L9.71333 4.58L8.32292 6L11.75 9.5H3.91667V11.5Z"
                fill="#0a5032"
              />
            </svg>
          </a>
        </div>
        <div class="columns large-4 medium-6 small-12">
          <a
            class="link-quicklinks"
            target="_blank"
            routerLink="/graph"
            onclick="gtag('event', 'services_access', {'event_category': 'home_href_click', 'event_subcategory': 'quick_links_click', 'event_label': 'database', 'value': undefined})"
            >Database<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.5833 10.5C19.5833 13.1522 18.5517 15.6957 16.7154 17.5711C14.8791 19.4464 12.3886 20.5 9.79167 20.5C8.50581 20.5 7.23254 20.2413 6.04456 19.7388C4.85658 19.2362 3.77715 18.4997 2.86791 17.5711C1.03162 15.6957 0 13.1522 0 10.5C0 7.84784 1.03162 5.3043 2.86791 3.42893C4.70421 1.55357 7.19475 0.5 9.79167 0.5C11.0775 0.5 12.3508 0.758658 13.5388 1.2612C14.7268 1.76375 15.8062 2.50035 16.7154 3.42893C17.6247 4.35752 18.3459 5.45991 18.838 6.67317C19.3301 7.88642 19.5833 9.18678 19.5833 10.5ZM3.91667 11.5H11.75L8.32292 15L9.71333 16.42L15.51 10.5L9.71333 4.58L8.32292 6L11.75 9.5H3.91667V11.5Z"
                fill="#0a5032"
              />
            </svg>
          </a>
        </div>
        <div class="columns large-4 medium-6 small-12">
          <a
            class="link-quicklinks"
            target="_blank"
            href="https://www.ebi.ac.uk/pdbe/download/docs"
            onclick="gtag('event', 'services_access', {'event_category': 'home_href_click', 'event_subcategory': 'quick_links_click', 'event_label': 'bulk_download', 'value': undefined})"
            >Bulk download
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.5833 10.5C19.5833 13.1522 18.5517 15.6957 16.7154 17.5711C14.8791 19.4464 12.3886 20.5 9.79167 20.5C8.50581 20.5 7.23254 20.2413 6.04456 19.7388C4.85658 19.2362 3.77715 18.4997 2.86791 17.5711C1.03162 15.6957 0 13.1522 0 10.5C0 7.84784 1.03162 5.3043 2.86791 3.42893C4.70421 1.55357 7.19475 0.5 9.79167 0.5C11.0775 0.5 12.3508 0.758658 13.5388 1.2612C14.7268 1.76375 15.8062 2.50035 16.7154 3.42893C17.6247 4.35752 18.3459 5.45991 18.838 6.67317C19.3301 7.88642 19.5833 9.18678 19.5833 10.5ZM3.91667 11.5H11.75L8.32292 15L9.71333 16.42L15.51 10.5L9.71333 4.58L8.32292 6L11.75 9.5H3.91667V11.5Z"
                fill="#0a5032"
              />
            </svg>
          </a>
        </div>
        <div class="columns large-4 medium-6 small-12">
          <a
            class="link-quicklinks"
            target="_blank"
            href="https://github.com/PDBe-KB/pdbe-kb-manual"
            onclick="gtag('event', 'link_visit', {'event_category': 'home_href_click', 'event_subcategory': 'quick_links_click', 'event_label': 'user_guides', 'value': undefined})"
            >User guides
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.5833 10.5C19.5833 13.1522 18.5517 15.6957 16.7154 17.5711C14.8791 19.4464 12.3886 20.5 9.79167 20.5C8.50581 20.5 7.23254 20.2413 6.04456 19.7388C4.85658 19.2362 3.77715 18.4997 2.86791 17.5711C1.03162 15.6957 0 13.1522 0 10.5C0 7.84784 1.03162 5.3043 2.86791 3.42893C4.70421 1.55357 7.19475 0.5 9.79167 0.5C11.0775 0.5 12.3508 0.758658 13.5388 1.2612C14.7268 1.76375 15.8062 2.50035 16.7154 3.42893C17.6247 4.35752 18.3459 5.45991 18.838 6.67317C19.3301 7.88642 19.5833 9.18678 19.5833 10.5ZM3.91667 11.5H11.75L8.32292 15L9.71333 16.42L15.51 10.5L9.71333 4.58L8.32292 6L11.75 9.5H3.91667V11.5Z"
                fill="#0a5032"
              />
            </svg>
          </a>
        </div>
        <div class="columns large-4 medium-6 small-12">
          <a
            class="link-quicklinks"
            target="_blank"
            routerLink="/schema"
            onclick="gtag('event', 'services_access', {'event_category': 'home_href_click', 'event_subcategory': 'quick_links_click', 'event_label': 'database_schema', 'value': undefined})"
            >Database Schema
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.5833 10.5C19.5833 13.1522 18.5517 15.6957 16.7154 17.5711C14.8791 19.4464 12.3886 20.5 9.79167 20.5C8.50581 20.5 7.23254 20.2413 6.04456 19.7388C4.85658 19.2362 3.77715 18.4997 2.86791 17.5711C1.03162 15.6957 0 13.1522 0 10.5C0 7.84784 1.03162 5.3043 2.86791 3.42893C4.70421 1.55357 7.19475 0.5 9.79167 0.5C11.0775 0.5 12.3508 0.758658 13.5388 1.2612C14.7268 1.76375 15.8062 2.50035 16.7154 3.42893C17.6247 4.35752 18.3459 5.45991 18.838 6.67317C19.3301 7.88642 19.5833 9.18678 19.5833 10.5ZM3.91667 11.5H11.75L8.32292 15L9.71333 16.42L15.51 10.5L9.71333 4.58L8.32292 6L11.75 9.5H3.91667V11.5Z"
                fill="#0a5032"
              />
            </svg>
          </a>
        </div>
        <div class="columns large-4 medium-6 small-12">
          <a
            class="link-quicklinks"
            target="_blank"
            href="https://github.com/PDBe-KB"
            onclick="gtag('event', 'link_visit', {'event_category': 'home_href_click', 'event_subcategory': 'quick_links_click', 'event_label': 'code_repos', 'value': undefined})"
            >Code repositories
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.5833 10.5C19.5833 13.1522 18.5517 15.6957 16.7154 17.5711C14.8791 19.4464 12.3886 20.5 9.79167 20.5C8.50581 20.5 7.23254 20.2413 6.04456 19.7388C4.85658 19.2362 3.77715 18.4997 2.86791 17.5711C1.03162 15.6957 0 13.1522 0 10.5C0 7.84784 1.03162 5.3043 2.86791 3.42893C4.70421 1.55357 7.19475 0.5 9.79167 0.5C11.0775 0.5 12.3508 0.758658 13.5388 1.2612C14.7268 1.76375 15.8062 2.50035 16.7154 3.42893C17.6247 4.35752 18.3459 5.45991 18.838 6.67317C19.3301 7.88642 19.5833 9.18678 19.5833 10.5ZM3.91667 11.5H11.75L8.32292 15L9.71333 16.42L15.51 10.5L9.71333 4.58L8.32292 6L11.75 9.5H3.91667V11.5Z"
                fill="#0a5032"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>
<div class="row right-padded">
  <!-- <div class="large-10 large-offset-1 medium-offset-1 medium-10 small-12"> -->
  <div id="key-features" class="content-holder">
    <div class="text-holder">
      <pdbc-key-features-list></pdbc-key-features-list>
    </div>
  </div>
  <div id="case_studies" class="content-holder">
    <div class="text-holder">
      <h3 class="heading-style-B">Case studies</h3>
      <div class="row">
        <div class="columns large-6">
          <p class="paragraph-style-B">
            Aminoglycoside phosphotransferase (APH) is an enzyme which is part of a large family of kinases called Macrolide phosphotransferases (MPH). MPHs are found
            in several pathogens and confer resistance against a large range of macrolide antibiotics. MPHs compromise the binding of a macrolide to a pathogen’s
            ribosome and inactivate the drug. Using PDBe-KB pages, you can investigate the binding modes of various antibiotics in this enzyme and understand how this
            enzyme can bind to a wide range of antibiotics.
            <a
              target="_blank"
              href="https://docs.google.com/document/d/1OOKnQUED8PGMB41Nb6Z3_9g6rlgyhUJ3APxkma2OG1g/edit#heading=h.836ahiw3lcu7"
              class="link-style"
              style="font-size: 14px"
              onclick="gtag('event', 'link_visit', {'event_category': 'case_study_more', 'event_label': 'case_study_1_more', 'value': undefined})"
              >Learn more <i class="icon icon-common icon-external-link-alt"></i
            ></a>
          </p>
        </div>
        <div class="columns large-6" style="text-align: center">
          <img src="./assets/img/v2-images/Q47396.png" class="ex-img" />
          <p class="img-caption">Q47396: Superposed ligands of aminoglycoside phosphotransferase</p>
          <p class="img-caption">
            <a
              target="_blank"
              href="https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/Q47396"
              class="link-style"
              style="font-size: 14px; text-align: left !important"
              onclick="gtag('event', 'link_visit', {'event_category': 'case_study_view', 'event_label': 'case_study_1_view', 'value': undefined})"
              >View protein</a
            >
          </p>
        </div>
      </div>

      <div class="row" style="margin-top: 40px">
        <div class="columns large-6 hide-small" style="text-align: center">
          <img src="./assets/img/v2-images/P05161.png" class="ex-img" />
          <p class="img-caption">P0DTD1: Macromolecular interaction between papain-like protease nsp3 and ubiquitin-like protein ISG15</p>
          <p class="img-caption">
            <a
              target="_blank"
              href="https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/P0DTD1/interactions"
              class="link-style"
              style="font-size: 14px; text-align: left !important"
              onclick="gtag('event', 'link_visit', {'event_category': 'case_study_view', 'event_label': 'case_study_2_view', 'value': undefined})"
              >View protein</a
            >
          </p>
        </div>
        <div class="columns large-6">
          <p class="paragraph-style-B">
            Replicase polyprotein 1ab is a multifunctional protein involved in the transcription and replication of viral RNAs. This polyprotein is processed by the
            SARS-CoV-2 proteases into non-structural proteins, and inturn promote the production of smaller, subgenomic RNAs that encode four main structural proteins
            and other accessory proteins. Therefore, these proteases play a vital role in the life cycle of coronavirus. Using PDBe-KB pages, you can investigate the
            structural features of SARS-CoV-2 responsible for its virulence and spot some similarities in the protein structures of SARS-CoV-2 and its close relative
            SARS-CoV.
            <a
              target="_blank"
              href="https://docs.google.com/document/d/1OOKnQUED8PGMB41Nb6Z3_9g6rlgyhUJ3APxkma2OG1g/edit#heading=h.58nlhj7a9ux4"
              class="link-style"
              style="font-size: 14px"
              onclick="gtag('event', 'link_visit', {'event_category': 'case_study_more', 'event_label': 'case_study_2_more', 'value': undefined})"
              >Learn more <i class="icon icon-common icon-external-link-alt"></i
            ></a>
          </p>
        </div>
        <div class="columns large-6 show-small" style="text-align: center">
          <img src="./assets/img/v2-images/P05161.png" class="ex-img" />
          <p class="img-caption">P0DTD1: Macromolecular interaction between papain-like protease nsp3 and ubiquitin-like protein ISG15</p>
          <p class="img-caption">
            <a
              target="_blank"
              href="https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/P0DTD1/interactions"
              class="link-style"
              style="font-size: 14px; text-align: left !important"
              onclick="gtag('event', 'link_visit', {'event_category': 'case_study_href', 'event_label': 'case_study_2_view', 'value': undefined})"
              >View protein</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="last-release" class="content-holder">
    <div class="text-holder">
      <h3 class="heading-style-B">Latest release</h3>
      <!-- <p class="last-release-txt">06 Oct 2022</p> -->
      <p class="last-release-txt">{{ releaseDate() }}</p>
      <!-- <p class="paragraph-style-B last-release-txt"><b>PDBe-KB Aggregated views of Proteins: version 6</b></p> -->
      <p class="paragraph-style-B last-release-txt">
        <b>{{ releaseHeader() }}</b>
      </p>

      <ul class="paragraph-style-B last-release-txt">
        <!-- <li>The aggregated views of proteins now displays the observed secondary structure variance per amino acid residue</li> -->
        @for(description of releaseDescriptions(); track description){
        <li>{{ description }}</li>
        }
      </ul>
      @if(releaseLink()){
      <p class="paragraph-style-B">
        <a target="_blank" [href]="releaseLink()" class="link-style" style="font-size: 14px">Learn more <i class="icon icon-common icon-external-link-alt"></i></a>
      </p>
      }
      <!-- <p *ngIf="releaseLink" class="paragraph-style-B">
        <a target="_blank" href="{{ releaseLink() }}" class="link-style" style="font-size: 14px"
          >Learn more <i class="icon icon-common icon-external-link-alt"></i
        ></a>
      </p> -->
    </div>
  </div>
  <div id="license" class="content-holder">
    <div class="text-holder">
      <h3 class="heading-style-B">License and citation</h3>
      <p class="license-p">
        All of the data provided is freely avaialble for both academic and commercial use under Creative Common Attribution 4.0 (<a
          target="_blank"
          class="link-style license-p-size"
          href="https://creativecommons.org/licenses/by/4.0/"
          >CCBY 4.0 <i class="icon icon-common icon-external-link-alt"></i></a
        >) licence terms. If you use this resource, please cite the following paper:
      </p>
      <p class="paragraph-style-B">
        PDBe-KB consortium,
        <a
          target="_blank"
          class="link-style"
          href="https://academic.oup.com/nar/article/50/D1/D534/6424755"
          onclick="gtag('event', 'link_visit', {'event_category': 'home_href_click', 'event_label': 'citation', 'value': undefined})"
          >PDBe-KB: collaboratively defining the biological context of structural data <i class="icon icon-common icon-external-link-alt"></i></a
        >, Nucleic Acids Research, Database Issue (2022)
      </p>
    </div>
  </div>
  <div id="faqs" class="content-holder">
    <div class="text-holder">
      <h3 class="heading-style-B">FAQ</h3>
      <pdbc-faqs-list></pdbc-faqs-list>
      <!-- <p class="img-caption"><a href="" class="link-style" style="font-size: 14px; text-align: left!important;" onclick="gtag('event', 'link_visit', {'event_category': 'faqs_click', 'event_label': 'faqs_view_all', 'value': undefined})">View all Frequenty Asked Questions</a></p> -->
    </div>
  </div>
</div>
