#publications-section {
  p {
    margin: 0;
  }

  h3,
  article {
    margin-bottom: 20px;
  }

  h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
  }

  .icon-link {
    margin-left: 5px;
  }
}
