/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@import url('libs/core/src/lib/styles/typography.scss');
@import url('libs/core/src/lib/styles/templates.scss');
@import url('libs/core/src/lib/styles/am_custom_style.scss');
@import url('libs/core/src/lib/styles/button.scss');
@import url('libs/core/src/lib/styles/material.scss');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans' Roboto, 'Helvetica Neue', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  padding: 22px 34px;
  margin-right: auto;
  margin-left: auto;

  @media (width >= 576px) {
    max-width: 540px;
  }

  @media (width >= 768px) {
    max-width: 720px;
  }

  @media (width >= 992px) {
    max-width: 1440px;
  }
}

p {
  margin: 0;
}

a {
  color: #3b6fb6;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  text-decoration: none;
  border: none;

  &:focus {
    border: 1px solid #193f90;
  }

  &:visited {
    color: #563d82;

    i {
      color: #563d82;
    }
  }

  &:hover {
    color: #193f90;
    text-decoration: underline;
    border: none;
  }
}
