<pdbc-header></pdbc-header>
<div class="search-box">
  <!-- <div class="row large-offset-1 medium-offset-1"> -->
  <div class="row">
    <pdbc-header-search></pdbc-header-search>
  </div>
</div>
<pdbc-nav-tabs activePageInput="join"></pdbc-nav-tabs>
<pdbc-home-bookmarks [showquicklinks]="false"></pdbc-home-bookmarks>
<div id="main-join" class="row right-padded">
  <!-- <div class="menu-nav large-10 large-offset-1 medium-offset-1 medium-10 small-12"> -->
  <div class="menu-nav">
    <div class="row">
      <div class="columns small-12">
        <nav class="alphafold-nav">
          <ul class="no-bullets">
            <li
              id="whyjoin_menu"
              class="scroll-menu-item"
              (click)="scroll(whyjoin)"
              onclick="gtag('event', 'scroll_menu', {'event_category': 'join_menu_click', 'event_label': 'join_menu', 'value': undefined})"
            >
              <span>Why join PDBe-KB?</span>
            </li>
            <li
              id="howtojoin_menu"
              class="scroll-menu-item"
              (click)="scroll(howtojoin)"
              onclick="gtag('event', 'scroll_menu', {'event_category': 'join_menu_click', 'event_label': 'join_menu', 'value': undefined})"
            >
              <span>How to join the consortium?</span>
            </li>
            <li
              id="techdetails_menu"
              class="scroll-menu-item"
              (click)="scroll(techdetails)"
              onclick="gtag('event', 'scroll_menu', {'event_category': 'join_menu_click', 'event_label': 'join_menu', 'value': undefined})"
            >
              <span>Guidelines</span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <section class="after-nav">
      <div id="whyjoin" #whyjoin class="content-holder">
        <div class="text-holder">
          <h3 class="heading-style-B">Why join PDBe-KB?</h3>

          <p class="paragraph-style-B bolder-24">
            PDBe-KB provides programmatic access guided by the FAIR principles to functional and biophysical annotations of molecular structures. Annotations are
            integrated with the core PDBe data, and made accessible via the
            <a target="_blank" class="link-style" href="https://www.ebi.ac.uk/pdbe/graph-api/pdbe_doc/"
              >PDBe graph API <i class="icon icon-common icon-external-link-alt"></i
            ></a>
            endpoints, and contributes for building the
            <a target="_blank" class="link-style" href="https://www.ebi.ac.uk/pdbe/pdbe-kb/services#aggregated_views"
              >PDBe-KB aggregated views <i class="icon icon-common icon-external-link-alt"></i></a
            >.
          </p>
          <p class="paragraph-style-B">
            Every annotation displayed on PDBe and PDBe-KB links to the original data provider, clearly attributing their contributions, generating traffic and
            increasing visibility.
          </p>

          <ul>
            <li class="font-19">Data providers gain increased visibility and reach more users</li>
            <li class="font-19">Users gain easier access to comprehensive data</li>
            <li class="font-19">PDBe-KB can consequently provide a better service to the scientific community</li>
          </ul>
        </div>
      </div>

      <div id="howtojoin" #howtojoin class="content-holder">
        <div class="text-holder">
          <h3 class="heading-style-B">How to join the consortium?</h3>

          <div class="row">
            <div class="small-12 medium-6 columns">
              <p class="paragraph-style-B bolder-24">
                If you are interested in making your valuable functional annotations available to the scientific community through PDBe-KB, please
                <a
                  class="link-style"
                  target="_blank"
                  href="mailto:pdbekb_help@ebi.ac.uk"
                  onclick="gtag('event', 'link_visit', {'event_category': 'join_href_click', 'event_label': 'email', 'value': undefined})"
                >
                  email us at pdbekb_help&#64;ebi.ac.uk
                </a>
                or
                <a
                  class="link-style"
                  target="_blank"
                  href="https://www.google.com/url?q=https://forms.gle/1aXZn4XpJG4SuG68A&sa=D&source=docs&ust=1665653011688055&usg=AOvVaw1zBHVS4FPyJWrHCL9QMMrl"
                  onclick="gtag('event', 'link_visit', {'event_category': 'join_href_click', 'event_label': 'survey', 'value': undefined})"
                >
                  fill in this brief survey
                </a>
                to provide a description of your annotations.
              </p>
              <p class="paragraph-style-B">
                After the initial discussions, collaborating partners provide their annotations according to the
                <a
                  target="_blank"
                  class="link-style"
                  href="https://gitlab.ebi.ac.uk/pdbe-kb/funpdbe/funpdbe-schema"
                  onclick="gtag('event', 'link_visit', {'event_category': 'join_href_click', 'event_label': 'data_exchange', 'value': undefined})"
                  >PDBe-KB data exchange format <i class="icon icon-common icon-external-link-alt"></i></a
                >. The data files are then transferred, validated and integrated in the
                <a
                  target="_blank"
                  class="link-style"
                  href="https://www.ebi.ac.uk/pdbe/pdbe-kb/graph"
                  onclick="gtag('event', 'services_access', {'event_category': 'join_href_click', 'event_label': 'join_graph_db', 'value': undefined})"
                  >PDBe graph database <i class="icon icon-common icon-external-link-alt"></i></a
                >. The integrated annotations are exposed via the
                <a
                  target="_blank"
                  class="link-style"
                  href="https://www.ebi.ac.uk/pdbe/graph-api/pdbe_doc/"
                  onclick="gtag('event', 'services_access', {'event_category': 'join_href_click', 'event_label': 'join_api', 'value': undefined})"
                  >PDBe graph API endpoint <i class="icon icon-common icon-external-link-alt"></i></a
                >. These API endpoints power the PDBe-KB aggregated views, such as the
                <a
                  target="_blank"
                  class="link-style"
                  href="https://www.ebi.ac.uk/pdbe/pdbe-kb/services#aggregated_views_proteins"
                  onclick="gtag('event', 'services_access', {'event_category': 'join_href_click', 'event_label': 'join_agg_views', 'value': undefined})"
                  >Aggregated Views for Proteins <i class="icon icon-common icon-external-link-alt"></i></a
                >.
              </p>
            </div>
            <div class="small-12 medium-6 columns">
              <div class="text-center img-holder text-holder">
                <img class="img-size" src="./assets/img/v2-images/join_process.jpeg" alt="" />
                <p class="legend-style-B leg-size">
                  PDBe-KB consortium,
                  <a
                    target="_blank"
                    class="link-legend-style"
                    href="https://doi.org/10.1093/nar/gkz853"
                    onclick="gtag('event', 'link_visit', {'event_category': 'join_img_click', 'event_label': 'join_image', 'value': undefined})"
                    >PDBe-KB: a community-driven resource for structural and functional annotations <i class="icon icon-common icon-external-link-alt"></i></a
                  >, Nucleic Acids Research, Volume 48, Issue D1, 08 January 2020, Pages D344–D353
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="techdetails" #techdetails class="content-holder">
        <div class="text-holder">
          <h3 class="heading-style-B">Guidelines</h3>
          <p class="paragraph-style-B bolder-24">See the following documents for more details and the consortium guidelines.</p>
          <a
            class="btn-link"
            target="_blank"
            href="assets/docs/funpdbe_deposition_guide.pdf"
            onclick="gtag('event', 'download', {'event_category': 'download_click', 'event_label': 'deposition_guide', 'value': undefined})"
            download
          >
            <button class="button-tech vf-button vf-button--secondary">Deposition guide <i class="icon icon-common icon-download"></i></button>
          </a>
          <a
            class="btn-link"
            target="_blank"
            href="assets/docs/pdbekb_guidelines.pdf"
            onclick="gtag('event', 'download', {'event_category': 'download_click', 'event_label': 'guidelines', 'value': undefined})"
            download
          >
            <button class="button-tech vf-button vf-button--secondary">Guideline document <i class="icon icon-common icon-download"></i></button>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
