@if(type === 'uniprot'){ @for(link of value; track link){
<a
  [href]="'https://www.uniprot.org/uniprotkb/' + link + '/entry'"
  target="_blank"
  (click)="googleAnalyticsService.logClickEvents('click_pdbe_kb_link', 'Protein Data', 'click_pdbe_kb_link', link)"
  style="margin-right: 20px"
>
  {{ link }}
  <i class="icon icon-link icon-common" style="margin-left: 5px"></i>
</a>
} } @if(type === 'pubmed' && value){
<a
  [href]="'https://europepmc.org/article/MED/' + value"
  target="_blank"
  (click)="googleAnalyticsService.logClickEvents('click_pdbe_kb_link', 'Protein Data', 'click_pdbe_kb_link', value)"
  style="margin-right: 20px"
>
  {{ value }}
  <i class="icon icon-link icon-common" style="margin-left: 5px"></i>
</a>
} @if(type === 'pdbeentry'){ @for(link of value; track link){
<a
  [href]="'https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/' + link"
  target="_blank"
  (click)="googleAnalyticsService.logClickEvents('click_pdbe_kb_link', 'Protein Data', 'click_pdbe_kb_link', link)"
  style="margin-right: 20px"
>
  {{ link }}
  <i class="icon icon-link icon-common" style="margin-left: 5px"></i>
</a>
} } @if(type === 'ligandCode'){
<a
  [href]="'https://europepmc.org/article/MED/' + value"
  target="_blank"
  (click)="googleAnalyticsService.logClickEvents('click_pdbe_kb_link', 'Protein Data', 'click_pdbe_kb_link', value)"
  style="margin-right: 20px"
>
  {{ value }}
  <i class="icon icon-link icon-common" style="margin-left: 5px"></i>
</a>
} @if(type === 'structure'){
<div class="structure-image">
  <img style="height: 100px; width: 100px" [src]="'https://www.ebi.ac.uk/pdbe/static/files/pdbechem_v2/' + value + '_100.svg'" />
</div>
}
