section {
  width: 100%;

  p {
    font-size: 16px;
    line-height: 27.2px;
    font-weight: 400;
  }

  .card {
    padding: 4px;
    border-bottom: 1px solid #d0d0ce;
    border-right: 1px solid #d0d0ce;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &.ligand-card {
      display: flex;
      align-items: center;
      gap: 8px;

      p.annotation {
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        padding: 2px;
        margin-bottom: 2px !important;
      }
    }

    &.domain-card {
      p {
        color: #1a1c1a;
        font-size: 16px;
        line-height: 27.2px;

        a {
          margin-left: 4px;
        }
      }
    }

    &.selected-card {
      background-color: #d0debb;
    }

    &-title {
      color: var(--Neutral-900, #1a1c1a);
      font-weight: 500;
      white-space: normal;
      word-wrap: break-word;
    }

    &-text {
      color: var(--Neutral-900, #1a1c1a);
    }

    &:hover {
      background-color: #e7efdd;
    }
  }
}
