<div id="summary-section">
  @if(summaryData().complex_portal_id){
  <div class="info-row">
    <span class="info-row-title">Complex Portal ID</span>
    <div class="info-row-content">
      <a [href]="'https://www.ebi.ac.uk/complexportal/complex/' + summaryData().complex_portal_id" target="_blank">
        {{ summaryData().complex_portal_id }}
      </a>
    </div>
  </div>
  }
  <div class="info-row">
    <span class="info-row-title">Source organism</span>
    <div class="info-row-content">
      <em>{{ summaryData().source_organism }}</em>
    </div>
  </div>
  <div class="info-row">
    <span class="info-row-title">Components</span>
    <div class="info-row-content participants" pdbcParticipant [participants]="summaryData().participants"></div>
  </div>
  <div class="info-row">
    <span class="info-row-title">Oligomeric state</span>
    <div class="info-row-content">
      {{ summaryData().oligomeric_state }}
    </div>
  </div>
  <!-- <div class="info-row">
    <span class="info-row-title">Stoichiometry</span>
    <div class="info-row-content">
      {{ summaryData().stoichiometry }}
    </div>
  </div> -->
  @if(summaryData().symmetry){
  <div class="info-row">
    <span class="info-row-title">Global symmetry</span>
    <div class="info-row-content">
      {{ summaryData().symmetry | symmetry }}
    </div>
  </div>
  }
  <div class="info-row">
    <span class="info-row-title">Experimental methods count</span>
    <div class="info-row-content" pdbcOEMC [data]="summaryData().observed_experimental_methods_with_counts"></div>
  </div>
  <!-- <div class="info-row">
    <span class="info-row-title">Number of assemblies</span>
    <div class="info-row-content summary-tooltip">
      <span
        matTooltipClass="complex-name-tooltip"
        matTooltip="Number of assemblies having the same set of components and stoichiometry as the complex of interest."
        matTooltipPosition="right"
        >{{ summaryData().assemblies.length }}
        <img src="{{ helpLogoSrc }}" class="icon" />
      </span>
    </div>
  </div>
  @let numberOfSubComplexes = summaryData().subcomplexes.length; @if(numberOfSubComplexes){
  <div class="info-row">
    <span class="info-row-title">Number of subcomplexes</span>
    <div class="info-row-content summary-tooltip">
      <span
        matTooltipClass="complex-name-tooltip"
        matTooltip="Number of unique smaller complexes that contain a subset of the components of the complex of interest."
        matTooltipPosition="right"
        >{{ numberOfSubComplexes }}
        <img src="{{ helpLogoSrc }}" class="icon" />
      </span>
    </div>
  </div>
  } @let numberOfSuperComplexes = summaryData().supercomplexes.length; @if(numberOfSuperComplexes){
  <div class="info-row">
    <span class="info-row-title">Number of supercomplexes</span>
    <div class="info-row-content summary-tooltip">
      <span
        matTooltipClass="complex-name-tooltip"
        matTooltip="Number of unique complexes that contain the components of the complex of interest along with additional members. These supercomplexes represent larger assemblies where the complex interacts with other macromolecules."
        matTooltipPosition="right"
        >{{ numberOfSuperComplexes }}
        <img src="{{ helpLogoSrc }}" class="icon" />
      </span>
    </div>
  </div>
  } -->
</div>
