.info-row {
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.info-row-title {
  font-size: 16px;
  font-weight: 500;
  width: 179px;
  max-width: 179px;
}

.info-row-content {
  font-size: 16px;
  font-weight: 400;
  word-break: normal;
  flex-wrap: wrap;

  &.participants {
    flex-direction: row;
    gap: 5px;
  }
}
