.info-row {
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.info-row-title {
  font-size: 16px;
  font-weight: 500;
  width: 179px;
  min-width: 179px;
  max-width: 179px;
}

.info-row-content {
  font-size: 16px;
  font-weight: 400;
  word-break: normal;
  flex-wrap: wrap;

  &.summary-tooltip {
    cursor: pointer;
  }

  &.participants {
    flex-direction: row;
    gap: 5px;
  }
}

.summary-tooltip {
  position: relative;
}

::ng-deep .complex-name-tooltip {
  .mdc-tooltip__surface {
    background-color: #fff !important;
    color: #1a1c1a !important;
    font-size: 16px !important;
    line-height: 27px;
    padding: 10px;
    box-shadow:
      0 5px 5px -3px rgb(0 0 0 / 20%),
      0 8px 10px 1px rgb(0 0 0 / 14%),
      0 3px 14px 2px rgb(0 0 0 / 12%);

    // white-space: nowrap;
    max-width: 400px !important;
    max-height: unset !important;
  }
}

p.view-more {
  color: #3b6fb6;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.7px;
  cursor: pointer;
}

.summary-section {
  display: flex;
  gap: 10px;
  align-items: center;

  .details {
    width: 40%;
  }

  .molstar {
    width: calc(60% - 10px);
  }
}
