<div id="interaction-section">
  <h5>{{rowData().length}} supercomplexes</h5>
  <p>
    A supercomplex is a larger assembly that contains all components of this complex, along with additional components. For each supercomplex, only the additional
    components are listed. When identifying supercomplexes, we exclude components that are not mapped to UniProt or Rfam, such as peptides, antibodies and short
    nucleic acid sequences.
  </p>

  @if (unfilteredComplexes().length) {
  <div class="search-box">
    <input type="search" [formControl]="searchTerm" placeholder="Search by component accession or name" />
    @if (!searchTerm.value) {
    <i class="icon icon-common icon-search"></i>
    }
  </div>
  @if(rowData().length){

  <section class="table">
    <div class="table-section">
      <ag-grid-angular
        class="ag-theme-quartz"
        [rowData]="rowData()"
        [columnDefs]="colDefs"
        [gridOptions]="gridOptions"
        (selectionChanged)="onSelectionChanged($event)"
        [paginationPageSizeSelector]="paginationPageSizeSelector()"
        [rowSelection]="rowSelection"
      />
    </div>
    @if(isLoading()) {
    <div style="height: 24px; margin-bottom: 24px; width: 100%">
      <svg id="loading-spinner" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z"
          class="spinner"
        />
      </svg>
    </div>
    }
    <div class="molstar-section">
      <div #molstarContainer id="molstar-container"></div>
      <div class="legend-info">
        <p class="title">
          Coloring rules for 3D alignment
          <lib-help-icon-with-tooltip [tooltipText]="superpositionTooltip" />
        </p>
        <ul>
          <li>common components are gray;</li>
          <li>mapped additional components are colored by entity;</li>
          <li>unmapped components are magenta.</li>
        </ul>
        <p>Components in the supercomplex are slightly darkened.</p>
      </div>
    </div>
  </section>
  } @else { } }
</div>
