<div id="interaction-section">
  <h5>{{supercomplexesLength()}} supercomplexes</h5>
  <p>
    A supercomplex is a larger assembly that contains all components of this complex, along with additional components. For each supercomplex, only the additional
    components are listed.
  </p>
  <div class="search-box">
    <input type="search" [formControl]="searchTerm" placeholder="Search by component name or accession" />
    @if (!searchTerm.value) {
    <i class="icon icon-common icon-search"></i>
    }
  </div>
  @if (supercomplexesLength()) {
  <section class="supercomplexes">
    <div class="card-container">
      @for (complexInteraction of superComplexesPage(); track complexInteraction.pdb_complex_id) {
      <pdbc-complex-card [complexInteraction]="complexInteraction" />
      }
    </div>

    <mat-paginator
      class="paginator-container"
      [length]="supercomplexesLength()"
      [pageSize]="supercomplexesPageSize()"
      [pageSizeOptions]="supercomplexesPageSizeOptions()"
      (page)="handlePageEvent($event)"
      showFirstLastButtons
      aria-label="Select page of interactions"
    >
    </mat-paginator>
  </section>
  }
</div>
