#description-container {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
  justify-content: space-between;
  align-items: flex-start;
}
#structure-container {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
  align-items: flex-start;
  gap: 17px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
#annotation {
  display: flex;
  padding: 4px 10px;
  align-items: flex-start;
  gap: 10px;
}
#property-container {
  width: 100%;
}

#main-title {
  display: block;
  font-family: 'IBM Plex Sans';
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px; /* 150% */
}

#main-container-outer {
  width: 100%;
  display: flex;
  justify-content: center;
}
#main-container {
  display: flex;
  margin-top: 12px;
  margin-left: 34px;
  margin-right: 32px;
  margin-bottom: 35px;
  width: 100%;
  max-width: 1440px;
  container-type: inline-size;
}
#main-left-container {
  margin-right: 28px;
}

#main-right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex: 1;
}
#main-fixed-top-white-bg {
  background: #ffffff;
  position: sticky;
  top: 0px;
  height: 13px;
  width: 100%;
}
#main-right-sticky {
  display: flex;
  padding: 12px 0px 32px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background: #ffffff;
  position: sticky;
  width: 100%;
}
.main-right-container-first {
  display: flex;
  width: 1096px;
  padding-bottom: 40px;
  justify-content: space-between;
  align-items: flex-start;
}

#main-btn-bar {
  display: flex;
  padding: 12px 0px 12px 12px;
  // align-items: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 2px;
  background: var(--Neutral-100, #f3f3f3);
  margin-bottom: 32px;
}
#main-btn-bar.expanded {
  padding: 12px 0px 0px 12px;
  max-height: 68px;
}

.main-btn-bar-break-column {
  display: none;
}
#main-btn-bar > pdbc-pdbe-dropdown {
  margin-top: 6px;
  margin-bottom: 6px;
}
// TODO: Add height, width, font-size as angular attributes
#main-btn-bar > pdbc-pdbe-button > button {
  height: 56px;
  width: 176px;
  font-size: 16px;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  #main-container {
    margin-right: 34px;
    margin-bottom: 21px;
  }
  #main-left-container {
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  #main-container {
    margin-right: 32px;
    margin-bottom: 86px;
  }
  #main-left-container {
    margin-right: 20px;
  }
  #main-btn-bar {
    align-content: center;
    flex-wrap: wrap;
    gap: 12px;
  }
  #main-btn-bar > pdbc-pdbe-dropdown {
    margin-right: 4px;
  }
  .main-btn-bar-break-column {
    display: block;
    flex-basis: 100%;
    width: 0;
  }
}

@media screen and (max-width: 540px) {
  #main-container {
    margin-right: 24px;
    margin-bottom: 150px;
  }
  #main-left-container {
    display: none;
  }
  #main-title {
    font-family: 'IBM Plex Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 39px; /* 130% */
  }
  #main-subtitle {
    font-family: 'IBM Plex Sans';
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.3px; /* 130% */
  }
  .hide-mobile {
    display: none;
  }
  #main-right-sticky {
    position: initial;
  }
  #main-btn-bar {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 375px) {
  #main-container {
    margin-bottom: 162px;
  }
  #main-left-container {
    display: none;
  }
}
