<pdbc-pdbe-header-logo-menu
  [backgroundColor]="'#085F5C'"
  [logoType]="'PDBe-KB'"
  [urls]="[
    { name: 'Services', path: 'https://www.ebi.ac.uk/pdbe/pdbe-services' },
    { name: 'Documentation', path: 'https://www.ebi.ac.uk/pdbe/documentation' },
    { name: 'Training', path: 'https://www.ebi.ac.uk/pdbe/pdbe-training' }
  ]"
  [menuHighlightColor]="'#086C68'"
  [headerTitle]="'Ligands'"
></pdbc-pdbe-header-logo-menu>
<pdbc-pdbe-header-search
  [backgroundColor]="'rgba(8, 95, 92, 0.79)'"
  [hasAdvancedSearch]="false"
  [buttonText]="'Search'"
  [examples]="[
    { label: 'STI', url: 'https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/Q14676' },
    { label: 'IMATINIB', url: 'https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/2etx' }
  ]"
  [placeholder]="'Search in PDBe and PDBe-KB'"
  [suggestions]="[]"
  [searchButtonChipsType]="'PDBe-KB'"
></pdbc-pdbe-header-search>
<div id="main-container-outer">
  <div id="main-container" *ngIf="entryId">
    <div id="main-left-container">
      <pdbc-pdbe-nav-menu
        [highlightColor]="'#B6D0CF'"
        [navSections]="[
          { sectionName: 'Description', subsections: [] },
          { sectionName: 'Physicochemical properties', subsections: [] },
          { sectionName: 'Structures', subsections: [] },
          { sectionName: 'Interaction statistics', subsections: [] },
          { sectionName: 'Related ligands', subsections: [{ sectionName: 'Same scaffolds' }, { sectionName: 'Similar ligands' }, { sectionName: 'Stereoisomers' }] },
          { sectionName: 'Ligand-specific databases', subsections: [] }
        ]"
        [isFirstActivated]="true"
      ></pdbc-pdbe-nav-menu>
    </div>
    <div id="main-right-container">
      <div id="main-fixed-top-white-bg"></div>
      <div id="main-right-sticky">
        <span id="main-title">{{ entryId }}</span>
        <span id="main-subtitle">4-(4-METHYL-PIPERAZIN-1-YLMETHYL)-N-[4-METHYL-3-(4-PYRIDIN-3-YL-PYRIMIDIN-2-YLAMINO)-PHENYL]-BENZAMIDE</span>
        <div id="main-btn-bar">
          <pdbc-pdbe-button
            [backgroundColor]="'#056643'"
            [fontColor]="'#FFFFFF'"
            [borderColor]="'#056643'"
            [shadowColor]="'#0A5032'"
            [label]="'View 3D'"
            [paddingSize]="'Small'"
            [mobileIconName]="'none'"
          ></pdbc-pdbe-button>
          <div class="main-btn-bar-break-column"></div>
          <pdbc-pdbe-dropdown
            #viewDropdown
            class="hide-mobile"
            [elementId]="'view-btn'"
            (dropdownClicked)="closeOtherDropdowns($event)"
            [dropdownText]="'Download as'"
            [options]="[
              { name: 'Archive mmCIF file', url: 'https://www.ebi.ac.uk/pdbe/entry-files/download/1cbs.cif', downloadable: true },
              { name: 'Updated mmCIF file', url: 'https://www.ebi.ac.uk/pdbe/entry-files/download/1cbs_updated.cif', downloadable: true },
              { name: 'PDB file', url: 'https://www.ebi.ac.uk/pdbe/entry-files/download/pdb1cbs.ent', downloadable: true },
              { name: 'FASTA (entry)', url: 'https://www.ebi.ac.uk/pdbe/entry/pdb/1cbs/fasta', downloadable: true },
              { name: 'Full report (PDF)', url: 'https://www.ebi.ac.uk/pdbe/entry-files/download/1cbs_full_validation.pdf', downloadable: true },
              { name: 'Experimental restraints (text)', url: '', downloadable: true },
              { name: 'Validation data (XML)', url: 'https://www.ebi.ac.uk/pdbe/entry-files/download/1cbs_validation.xml', downloadable: true },
              { name: 'Assembly 1 (mmCIF; gz)', url: 'https://www.ebi.ac.uk/pdbe/static/entry/download/1cbs-assembly1.cif.gz', downloadable: true },
              { name: 'SIFTS XML file with residue-level mappings', url: 'https://www.ebi.ac.uk/pdbe/files/sifts/1cbs.xml.gz', downloadable: true },
              { name: 'PDB header', url: 'https://www.ebi.ac.uk/pdbe/static/entry/download/1cbs.header', downloadable: true },
              {
                name: 'PDB file (gz)',
                url: 'https://ftp.ebi.ac.uk/pub/databases/rcsb/pdb-remediated/data/structures/divided/pdb/cb/pdb1cbs.ent.gz',
                downloadable: true
              },
              { name: 'PDBML', url: 'https://www.ebi.ac.uk/pdbe/entry-files/download/1cbs.xml', downloadable: true },
              { name: 'PDBML (ATOM lines)', url: 'https://www.ebi.ac.uk/pdbe/entry-files/download/1cbs-extatom.xml', downloadable: true },
              { name: 'PDBML (no atoms)', url: 'https://www.ebi.ac.uk/pdbe/entry-files/download/1cbs-noatom.xml', downloadable: true },
              { name: 'Assembly composition XML', url: 'https://www.ebi.ac.uk/pdbe/static/entry/download/1cbs-assembly.xml', downloadable: true },
              { name: 'Assembly 1 (atom only; mmCIF)', url: 'https://www.ebi.ac.uk/pdbe/static/entry/download/1cbs-assembly-1_atom_site.cif.gz', downloadable: true },
              { name: 'Summary report (PDF)', url: 'https://www.ebi.ac.uk/pdbe/entry-files/download/1cbs_validation.pdf', downloadable: true },
              { name: 'Percentile plot (PNG)', url: 'https://www.ebi.ac.uk/pdbe/entry-files/download/1cbs_multipercentile_validation.png', downloadable: true },
              { name: 'Percentile plot (SVG)', url: 'https://www.ebi.ac.uk/pdbe/entry-files/download/1cbs_multipercentile_validation.svg', downloadable: true }
            ]"
            [optionsWidth]="'296px'"
            [optionsMaxHeight]="'334px'"
          ></pdbc-pdbe-dropdown>
        </div>
      </div>
    </div>
  </div>
</div>
