.facetWarpper{
    display: block;
    /*border: 1px solid rgba(0, 20, 0, 0.1);*/
    /* font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; */
    font-family: Helvetica, Arial, FreeSans, "Liberation Sans", sans-serif !important;
    font-size: 14px;
}
.facetHeading {
    cursor: pointer;
    /*background-color: rgba(0, 20, 0, 0.1);*/
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* text-transform: capitalize; */
    /* font-weight: bold; */
    padding: 5px 5px;
    font-size: 13px;
}

.facetHeading:hover{
    /*background-color: rgba(0, 20, 0, 0.25) !important;*/
}

.activeFacetHeading{
    /*background-color: rgba(0, 20, 0, 0.2) !important;*/
}

.facetHeadingIcon{
    margin-right: 5px;
    font-size: 9px;
}

.facetItemsContainer {
    width: 100%;
    max-height: 0px;
    overflow-y: auto;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.expanded {
    max-height: 200px !important;
}

.facetItemRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0px;
    justify-content: space-between;
    padding: 8px;
}

.facetItem {
    cursor: pointer;
}

.facetItem:hover {
    background-color: rgba(0, 60, 0, 0.05);
}

.facetItemsContainer {
    width: 100%;
    max-height: 0px;
    overflow-y: auto;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.facetItemLabel {
    float: left;
    color: #777;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 93%;
    width:80%;
}

.facetItemCount {
    float: right;
    color: #777;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 93%;
}