<nav>
  <mat-list role="list">
    <mat-list-item role="listitem" routerLink="/citation" routerLinkActive="active">Citation</mat-list-item>
    <mat-list-item role="listitem" routerLink="/summary" routerLinkActive="active">Summary</mat-list-item>
    <mat-list-item role="listitem" routerLink="/others" routerLinkActive="active">Others</mat-list-item>
    <mat-list-item role="listitem" routerLink="/buttons" routerLinkActive="active">Buttons</mat-list-item>
    <mat-list-item role="listitem" routerLink="/entry" [queryParams]="{ entryId: '7v08' }" routerLinkActive="active">Entries page</mat-list-item>
    <mat-list-item role="listitem" routerLink="tab/entry" [queryParams]="{ entryId: '7v08' }" routerLinkActive="active">Entries page (tab)</mat-list-item>
  </mat-list>
</nav>
