<header>
  <i class="icon icon-common icon-window-close" (click)="dialogRef.close()"></i>
</header>
<section>
  <h2>Chemical Bonds</h2>
  <p>Molecule: {{ dialogData.ligandId }}</p>
  <p>Bonds between two atoms of the molecule from ideal coordinates of {{ dialogData.ligandId }}</p>
  <p>Total Number of Atoms: {{ numberOfBonds() }}</p>
  <button class="vf-button vf-button--link" (click)="downloadCSV()">
    Download bonds (csv)
    <i class="icon icon-common icon-download"></i>
  </button>
  <div style="margin-top: 5px; height: 566px">
    <ag-grid-angular
      class="ag-theme-quartz"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [gridOptions]="gridOptions"
      (gridReady)="onGridReady()"
      [paginationPageSizeSelector]="paginationPageSizeSelector()"
    />
  </div>
</section>
