.info {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-bottom: 12px;

  &__title {
    color: #1a1c1a;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    width: 129px;
    min-width: 129px;
    max-width: 129px;
  }

  &__content {
    color: #1a1c1a;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
  }
}

.icon.icon-common.icon-link::before {
  top: 0;
  left: 2px;
  scale: 0.9375;
  content: '';
}
