@if(tabDataLoaded()){ @if(ligandTableRows().length){
<main [class.change-display]="!isSidebarDisplayed()">
  @if(isSidebarDisplayed()){
  <pdbc-interactive-tables tabName="Ligands" />
  }
  <div class="table-content">
    @let icon = isSidebarDisplayed() ? 'left' : 'right'; @let text = isSidebarDisplayed() ? 'Open full-width' : 'Show Assemblies';
    <button class="vf-button-ghost" (click)="toggleSidebar()">
      <img [src]="'assets/icons/two_arrows_' + icon + '.png'" alt="arrow icons" />
      <span>{{text}}</span>
    </button>

    <h5 class="ligands-title">{{ currentLigandDatum()?.codeAndName?.name }}</h5>
    <div class="info">
      <div class="info-grouped" style="width: 50%">
        <div class="info-row">
          <span class="micro-title"> Ligand name </span>
          <article>{{ currentLigandDatum()?.codeAndName?.name }}</article>
        </div>
      </div>
      <div class="info-grouped" style="width: 40%">
        <div class="info-row">
          <span class="micro-title"> Molecular weight </span>
          <article>{{ currentLigandDatum()?.additionalData?.source?.weight }} KDa</article>
        </div>
      </div>
    </div>
    <div class="stats-link-bar">
      @if(dashboardStatLinks['Ligands'].length > 0 && selectionIdentifier !== 'None') {
      <span><img src="assets/icons/logo.png" alt="icon" style="margin-right: 2px" /> View more about this ligand:</span>
      @for (displayLink of dashboardStatLinks['Ligands']; track displayLink; let islast = $last) {
      <a [href]="displayLink.link + selectionIdentifier + displayLink.linkSuffix" target="_blank">
        {{ selectionStats?.[selectionIdentifier][displayLink.id] }} {{ displayLink.displayName }}
      </a>
      {{ islast ? '' : '|' }} } }
    </div>
    <div class="chains">
      @if(dropdownOptions.length > 1){
      <div class="dropdown-container">
        <pdbc-entry-dropdown
          [downloadable]="false"
          [islink]="false"
          [options]="dropdownOptions"
          [title]="dropdownSelected"
          (optionClickedEvent)="onDropdownSelect($event)"
        >
        </pdbc-entry-dropdown>
      </div>
      }@else if(dropdownOptions.length === 1){
      <p>{{dropdownOptions[0].name}}</p>
      }@else {}
    </div>
    <section class="ligand-charts">
      @if(interactionsRowData()?.length){
      <div class="table">
        <p class="table-title">Ligand interactions - {{interactionsRowData()?.length}} total</p>
        <div class="table-toolbar">
          <button class="vf-button vf-button--link" (click)="downloadCSV()">
            Download table (csv)
            <i class="icon icon-common icon-download"></i>
          </button>
          <div class="search-box">
            <input type="search" [formControl]="searchTerm" placeholder="Search the table" />
            @if(!searchTerm.value){
            <i class="icon icon-common icon-search"></i>
            }
          </div>
        </div>
        <ag-grid-angular
          class="ag-theme-quartz"
          [rowData]="interactionsRowData()"
          [columnDefs]="colDefs"
          [defaultColDef]="defaultColDef"
          [gridOptions]="gridOptions"
          (selectionChanged)="onSelectionChanged($event)"
          [paginationPageSizeSelector]="paginationPageSizeSelector()"
        />
      </div>
      }
      <section class="molstar-lig-env" [class.expand]="!interactionsRowData()?.length">
        <section class="molstar-details-container" [class.expand]="!interactionsRowData()?.length">
          <div id="ligands-molstar-container" class="molstar-container"></div>
        </section>
        <section class="lig-env-container" [class.expand]="!interactionsRowData()?.length">
          <div class="ligand-env" #ligandEnvContainer></div>
        </section>
      </section>
    </section>
    <section class="ligands-info">
      <p>The above 2D and 3D (Mol*) views of ligand interactions use quaternary structure derived from the PDB entry.</p>
      <p>Please note:</p>
      <ul>
        <li>
          Some chain IDs in the tooltip are followed by a number in square brackets. This number corresponds to the operation ID (mmCIF 'oper_expression') used to
          transform the chain.
        </li>
        <li>
          The structure seen in Mol* (3D view) was protonated using
          <a href="https://www.cgl.ucsf.edu/chimerax/docs/user/commands/addh.html" target="_blank">ChimeraX</a>.
        </li>
        <li>
          Interactions were calculated using
          <a [href]="'https://www.ebi.ac.uk/pdbe/entry/pdb/' + entryId() + '/bound/' + selectionIdentifier" target="_blank">Arpeggio</a> (<a
            href="https://pmc.ncbi.nlm.nih.gov/articles/PMC5282402/bin/mmc1.docx"
            target="_blank"
            >see details for interaction types</a
          >).
        </li>
        <li>The colour scheme used is consistent with <a href="https://www.jalview.org/help/html/colourSchemes/clustal.html" target="_blank">Clustal X</a>.</li>
      </ul>
    </section>
  </div>
</main>

}@else{} }@else{}
