main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;

  &.change-display {
    display: block !important;
  }

  pdbc-interactive-tables {
    width: 252px;
    min-width: 252px;
    max-width: 252px;
  }

  .tab-content {
    width: calc(100% - 268px);
  }
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  mat-icon {
    cursor: pointer;
  }
}

.info-grouped {
  &.left {
    // left is 50%
    width: 50%;

    @media (width <= 1300px) {
      width: 100%;
    }
  }

  &.right {
    width: 40%;

    @media (width <= 1300px) {
      width: 100%;
    }
  }
}

.info {
  display: flex;
  margin-bottom: 16px;

  @media (width <= 1300px) {
    flex-direction: column;
  }

  .info-row {
    display: flex;
    align-items: center;

    span.micro-title {
      color: #1a1c1a;
      font-size: 16px;
      font-weight: 500;
      line-height: 27.2px;
      width: 140px;
      min-width: 140px;
      max-width: 140px;
      align-self: start;
    }

    article {
      color: #1a1c1a;
      font-size: 16px;
      font-weight: 400;
      line-height: 27.2px;

      a {
        margin-left: 4px;
      }

      &.formula {
        max-width: fit-content;
        padding: 4px 12px;
        background: var(--Neutral-100, #f3f3f3);
        font-weight: 500;
        line-height: 23px;
      }
    }
  }
}

.stats-link-bar {
  color: #54585a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;

  a {
    line-height: 22.4px;
  }

  margin-bottom: 16px;
}

.chains {
  margin-top: 12px;
  margin-bottom: 4px;
  color: var(--Neutral-900, #1a1c1a);
  font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.6px; /* 166.25% */

  .dropdown-container {
    display: flex;
    align-items: baseline;

    .dropdown-title {
      color: var(--Neutral-900, #1a1c1a);
      font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 26.6px; /* 166.25% */
    }
  }
}

// .ligand-env {
//   // width: 294px;
//   // height: 274px;
//   width: 280px;
//   height: 239px;
// }

.ligands-info {
  margin-top: 16px;
  color: #54585a;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;

  &.small {
    display: none;
  }

  &.big {
    display: block;
  }
  @media (width <= 1340px) {
    &.small {
      display: block;
    }

    &.big {
      display: none;
    }
  }

  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
  }
}

section.ligand-charts {
  display: flex;
  gap: 8px;

  @media (width <= 1340px) {
    flex-direction: column;
  }

  section.molstar-lig-env {
    display: flex;
    width: 50%;
    flex-direction: column;

    @media (width <= 1340px) {
      width: 100%;
    }

    // &.expand {
    //   width: 100%;
    //   flex-direction: row;
    // }

    .molstar-details-container {
      max-width: 90%;
      max-height: 40vh;
      aspect-ratio: 1 / 1;
      flex: 1;

      @media (width <= 1340px) {
        max-width: 70%;
        max-height: 50vh;
      }

      // &.expand {
      //   max-width: unset;
      //   width: 50%;
      // }

      .molstar-container {
        position: relative;
        width: 100%;
        height: 100%;
        flex: 1;
        z-index: 1;
      }
    }

    .lig-env-container {
      max-width: 90%;
      max-height: 40vh;
      aspect-ratio: 1 / 1;
      flex: 1;

      @media (width <= 1340px) {
        max-width: 60%;
      }

      &.expand {
        max-width: unset;
        width: 50%;
      }

      .ligand-env {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  .table {
    // width: calc(100% - 640px);
    // height: 322px;
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    min-height: 400px;

    @media (width <= 1340px) {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }

    // height: 66vh;
    // max-height: 70vh;

    ::ng-deep span.ag-paging-page-size {
      display: none !important;
    }

    ::ng-deep .ag-cell {
      white-space: break-spaces;
    }

    /* ag-grid force auto height so it is not set as 100% which breaks design */
    ::ng-deep .ag-root-wrapper.ag-layout-normal {
      height: auto;
    }

    ::ng-deep .ag-root-wrapper-body.ag-layout-normal {
      flex: none;
      height: auto;
    }

    ::ng-deep .ag-header-cell-label {
      // white-space: pre-wrap !important;
      overflow-wrap: anywhere;
    }
  }
}

.table {
  &-title {
    font-size: 19px;
    font-weight: 500;
    line-height: 28.5px;
    margin-bottom: 4px;
  }

  button {
    margin-bottom: 16px;
  }

  &-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search-box {
      position: relative;
      width: 166px;
      font-size: 16px;

      @media (width <= 1340px) {
        width: 40%;
      }

      input {
        border: none;
        border-bottom: 1px solid var(--Neutral-600, #707372);
        box-shadow: none;
        padding-left: 0;
      }

      .icon-search {
        position: absolute;
        right: 5px;
        top: 12px;
        color: #707372;
      }
    }
  }
}

section.table-wrapper {
  /* height: 500px; */

  .ag-theme-quartz {
    --ag-active-color: #89ae54;
  }
}

.ligand-question {
  span {
    color: #373a36;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: 5px;
  }
}

::ng-deep lib-tool-tip {
  img {
    height: 16px !important;
    width: 16px !important;
  }
}

span.related-entry-toggle {
  color: #3b6fb6;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  display: block;
  cursor: pointer;
}

.control {
  display: flex;
  align-items: center;

  i.icon {
    color: #3b6fb6;
    font-size: 22px;
  }
}

.legends {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;

  .legend-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    .legend-color {
      width: 16px;
      height: 16px;
    }

    .legend-label {
      color: #1a1c1a;
      font-size: 14px;
      font-weight: 400;
      line-height: 22.4px;
    }
  }
}
