@if (showLigandHeatmap()) {

<div id="interaction-section">
  <h3 class="title">Interaction statistics</h3>
  <article>
    Interaction statistics shows the frequency of interaction of each atom of small molecule with any amino acid in all the structures to which it is bound. This
    information was computed using {{ ligandInstances() }} ligand instances in {{ pdbstructures() }} PDB structures and {{ pdbchains() }} PDB chains.
    <p>Protein-ligand interactions are computed using <a href="https://github.com/PDBeurope/arpeggio" target="_blank"> Arpeggio webserver </a></p>
  </article>
  <button class="vf-button vf-button--link" (click)="downloadInteraction()">
    Download all interactions
    <i class="icon icon-common icon-download"></i>
  </button>
  {{ showLigandHeatmap() }}

  <div class="intx-component-container">
    <pdbc-interactions-heatmap [ligandId]="ligandId()" (newFilteringEvent)="changeLigandEnvironmentFilters($event)"></pdbc-interactions-heatmap>
    <div class="ligandEnv-container">
      <div class="ligandEnv-header">
        <h4>
          Interaction frequency of {{ ligandId() }} molecule
          <img src="{{ helpLogoSrc }}" />
        </h4>
      </div>
      <div class="ligandEnv-content">
        <div class="image-container" #imageContainer></div>
      </div>
    </div>
  </div>
</div>
}
