@if (showLigandHeatmap()) {

<div id="interaction-section">
  <h3 class="title">Interaction statistics</h3>
  <article>
    Interaction statistics shows the summary of aggregated protein-ligand interaction data of {{ ligandId() }} from {{ ligandInstances() }} ligand instances in {{
    pdbstructures() }} distinct proteins and {{ pdbchains() }} PDB Structures. The protein-ligand interactions are computed using
    <a href="https://github.com/PDBeurope/arpeggio" target="_blank"> PDBe Arpeggio </a>
  </article>
  <button class="vf-button vf-button--link" (click)="downloadInteraction()">
    Download all interactions
    <i class="icon icon-common icon-download"></i>
  </button>
  <a href="https://github.com/PDBe-KB/pdbe-kb-manual/wiki/Interaction-statistics" target="_blank">Documentation</a>
  <div class="intx-component-container">
    <lib-interactions-heatmap [ligandId]="ligandId()" (newFilteringEvent)="changeLigandEnvironmentFilters($event)" [interactions]="interaction" />
    <div class="ligandEnv-container">
      <div class="ligandEnv-header">
        <h4>
          Atom-wise interactions of {{ ligandId() }} molecule
          <lib-tool-tip>
            <p>Percentage of interactions by ligand atom compared to the total interactions of the ligand</p>
          </lib-tool-tip>
        </h4>
      </div>
      <div class="ligandEnv-content">
        <div class="image-container" #imageContainer></div>
        @let text = showAtomicNames() ? 'Hide' : 'View';
        <button class="vf-button vf-button--primary vf-button--sm" (click)="toggleAtomNames()">{{ text }} atom names</button>
      </div>
      <p class="footer-text">
        For full interaction statistics, including the heatmap showing ligand atom interaction frequency with different amino acids, please view on a larger screen
      </p>
    </div>
  </div>
</div>
}
