#related-ligands-section {
  font-family: 'IBM Plex Sans';
  line-height: 27.2px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  line-height: 39px;
  margin-bottom: 20px;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
  margin-bottom: 12px;
}

.filter-box {
  display: flex;
  align-items: center;
}

.search-box {
  position: relative;
  width: 350px;
  font-size: 16px;

  input {
    border: none;
    border-bottom: 1px solid var(--Neutral-600, #707372);
    box-shadow: none;
    padding-left: 0px;
  }

  .icon-search {
    position: absolute;
    right: 5px;
    top: 12px;
    color: #707372;
  }
}

.similarity-box {
  margin-left: 54px;
  display: flex;
  align-items: center;
  gap: 12px;

  span {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px; /* 170% */
    display: block;
  }

  input {
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    border: 2px solid var(--Neutral-600, #707372);
    background: #fff;
    width: 75px;
    height: 32px;
    padding: 8px;
    margin: 0;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  row-gap: 12px;
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.paginator-container {
  display: flex;
  padding: 16px 2px;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
}
