.related-ligands-container {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.scaffold-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.scaffold-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  border-bottom: 1px solid var(--Neutral-600, #707372);
}

.form_input {
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  height: 30px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.grid-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  flex-wrap: wrap;
}

input:focus {
  outline: none;
}
