<!-- @if(relatedLigand$ | async; as relatedLigand) { -->
@if(ligandId){
<div class="related-ligands-container">
  <div class="header">
    <span class="heading-2"> Related ligands</span>
  </div>
  @if(sameScaffolds.length > 0){
  <div class="scaffold-container">
    <div class="scaffold-header">
      <span class="heading-3">Same scaffold - {{ sameScaffolds.length }}</span>
    </div>
    <div class="gallery-container">
      <form class="search-container">
        <input
          type="search"
          (search)="applyFilter('same')"
          [(ngModel)]="sameScaffoldSearchText"
          placeholder="Search for ligand by name, code or PDB ID"
          class="form_input"
          name="search"
        />
        <img src="{{ searchLogo }}" />
      </form>
      <div class="grid-container">
        @for (sameScaffold of sameScaffoldGrid; track sameScaffold) {
        <pdbc-ligand-grid [ligand]="sameScaffold"></pdbc-ligand-grid>
        }
      </div>
    </div>
  </div>
  } @if(similarLigands.length){
  <div class="scaffold-container">
    <div class="scaffold-header">
      <span class="heading-3">Similar ligands - {{ similarLigands.length }}</span>
    </div>
    <div class="gallery-container">
      <form class="search-container">
        <input
          type="search"
          (search)="applyFilter('similar')"
          [(ngModel)]="similarLigandSearchText"
          placeholder="Search for ligand by name, code or PDB ID"
          class="form_input"
          name="search"
        />
        <img src="{{ searchLogo }}" />
      </form>
      <div class="grid-container">
        @for (similarLigand of similarLigandsPage; track similarLigand) {
        <pdbc-ligand-grid [ligand]="similarLigand"></pdbc-ligand-grid>
        }
      </div>
      <mat-paginator
        class="paginator-container"
        [length]="similarLigandpageLength"
        [pageSize]="similarLigandpageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="handlePageEvent($event, 'similar')"
        showFirstLastButtons
        aria-label="Select page of ligands"
      >
      </mat-paginator>
    </div>
  </div>
  }
</div>

}

<!-- } -->
