<section>
  <button class="vf-button vf-button--primary">Primary Button</button>
  <pre
    >{{ PrimarySolid }}
</pre
  >
</section>
<section>
  <button class="vf-button vf-button--primary vf-button--sm">PSSmall</button>
  <pre
    >{{ PrimarySolidSmall }}
</pre
  >
</section>
<section>
  <button class="vf-button vf-button--search-pdbe">Search</button>
  <pre
    >{{ SearchPDBE }}
</pre
  >
</section>
<section>
  <button class="vf-button vf-button--search-pdbe-kb">Search</button>
  <pre
    >{{ SearchPDBEKB }}
</pre
  >
</section>
<section>
  <button class="vf-button vf-button--secondary-pdbe">Secondary</button>
  <pre
    >{{ SecondaryPDBE }}
</pre
  >
</section>
<section>
  <button class="vf-button vf-button--secondary-pdbe-kb">Secondary</button>
  <pre
    >{{ SecondaryPDBEKB }}
</pre
  >
</section>
