<section>
  <button class="vf-button vf-button--primary-light">PrimaryLight</button>
  <pre
    >{{ PrimaryLight }}
</pre
  >
</section>
<section>
  <button class="vf-button vf-button--primary-solid">PrimarySolid</button>
  <pre
    >{{ PrimarySolid }}
</pre
  >
</section>
<section>
  <button class="vf-button vf-button--primary-solid vf-button--sm">PSSmall</button>
  <pre
    >{{ PrimarySolidSmall }}
</pre
  >
</section>
<section>
  <button class="vf-button vf-button--text">Button Text</button>
  <pre
    >{{ ButtonText }}
</pre
  >
</section>
