#macromolecules-section {
  padding: 8px 12px;
  padding-bottom: 24px;
  background: #fff;
  font-family: 'IBM Plex Sans';
  color: #1a1c1a;
  font-size: 16px;
  line-height: 27.3px;
  margin-bottom: 16px;
  margin-top: 16px;
}
