<div id="macromolecules-section">
  <h4 class="heading-4">Macromolecules</h4>
  <section class="filter"></section>
  <main>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          <span>{{ element.molecule_name[0] }}</span>
          <span>Chain {{ element.in_chains.join(',') }}</span>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="length">
        <th mat-header-cell *matHeaderCellDef>Length</th>
        <td mat-cell *matCellDef="let element">{{ element }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Symbol</th>
        <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
      </tr>
    </table>
  </main>
  {{ molecules() | json }}
</div>
