.articles {
  .see-all {
    font-weight: 500;
    font-size: 16px;
    color: #3b6fb6;
    cursor: pointer;
    display: flex;
    align-items: center;
    p {
      margin-right: 5px;
    }
  }
}

h4 {
  font-size: 16px;
  font-weight: 400;
  color: #54585a;
  line-height: 27.2px;
}
a {
  color: #3b6fb6;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  text-decoration: none;
}
