@import url('libs/core/src/lib/styles/pdb_connect.scss');

main {
  .container {
    .hero {
      margin-bottom: 30px;
    }
  }
}

header {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;

  h1 {
    display: inline-block;
    vertical-align: middle;

    &.truncated {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
