<pdbc-pdbe-header-logo-menu [headerConfig]="headerLogoMenuConfig" />
<pdbc-pdbe-header-search [headerSearchConfig]="headerSearchConfig" />

<main>
  <div class="container">
    @if(loaded() === status.SUCCESS){
    <article>
      <section class="hero">
        @if(summaryData()?.name){
        <h1 class="heading-1" libTruncateText [truncateText]="summaryData()?.name ?? ''" [limit]="50"></h1>
        } @if(complexId()){
        <h4>{{ complexId() }}</h4>
        }
      </section>
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="selectedTab()" (selectedTabChange)="selectTab($event)">
        <mat-tab label="Summary">
          <pdbc-summary />
        </mat-tab>
        <mat-tab label="Structures">
          <ng-template matTabContent> <pdbc-complex-structures /> </ng-template>
        </mat-tab>
        <mat-tab label="Ligands">
          <ng-template matTabContent> <pdbc-complex-ligands /> </ng-template>
        </mat-tab>
        <mat-tab label="Subcomplexes">
          <ng-template matTabContent> <pdbc-subcomplexes /> </ng-template>
        </mat-tab>
        <mat-tab label="Supercomplexes">
          <ng-template matTabContent> <pdbc-supercomplexes /> </ng-template>
        </mat-tab>
        <mat-tab label="Citations">
          <pdbc-complex-publications />
        </mat-tab>
      </mat-tab-group>
    </article>
    } @else if(loaded() === status.LOADING) {
    <div class="loader">
      <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '50px', width: '450px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '50px', width: '100px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="4" [theme]="{ 'border-radius': '0', height: '450px' }"></ngx-skeleton-loader>
    </div>
    }
  </div>
</main>
