@import 'libs/core/src/lib/styles/pdbe-styles/pdb_connect';

main {
  .container {
    display: flex;
    gap: 28px;

    @media screen and (width <= 767px) {
      gap: 0;
    }

    .hero {
      padding: 12px 0 32px;
    }

    pdbc-pdbe-nav-menu {
      width: 220px;
    }

    article {
      width: calc(100% - 248px);
    }

    .summary {
      padding-bottom: 40px;
    }
  }
}
