<pdbc-pdbe-header-logo-menu [headerConfig]="headerLogoMenuConfig" />
<pdbc-pdbe-header-search [headerSearchConfig]="headerSearchConfig" />

<main>
  <div class="container">
    <pdbc-pdbe-nav-menu [highlightColor]="'#B6D0CF'" [navSections]="navSections" />
    @if(summaryData){
    <article>
      <section class="hero">
        @if(summaryData.name){
        <h2 libTruncateText [truncateText]="summaryData.name" [limit]="30"></h2>
        } @else {
        {{ complexId() }}
        } @if(complexId()){
        <h4>{{ complexId() }}</h4>
        }
      </section>
      <section class="summary">
        <pdbc-summary [summaryData]="summaryData" />
      </section>
      <section class="structures">
        <pdbc-complex-structures [assemblies]="summaryData.assemblies" />
      </section>
      <section class="interactions">
        <pdbc-complex-interactions [summaryData]="summaryData" />
      </section>
      <section class="publication">
        <pdbc-complex-publications [assemblies]="summaryData.assemblies" />
      </section>
      <section class="ligands">
        <pdbc-complex-ligands />
      </section>
    </article>
    }
  </div>
</main>
