section {
  font-family: 'IBM Plex Sans';

  header {
    position: sticky;
    top: 0;
    background: #fff;
    padding: 8px 0;
    z-index: 100;

    section.header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      h2 {
        color: #000;
        font-size: 19px;
        font-weight: 500;
        line-height: 26.6px;
        width: 80%;
        max-width: 80%;
      }

      .controls {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
          cursor: pointer;
        }
      }
    }
  }
}
