<div id="related-ligand-section">
  @if(sameScaffolds.length || similarLigands.length || stereoisomers.length){
  <h3 class="title">Related Ligands</h3>
  } @if(sameScaffolds.length){
  <section id="scaffold-section">
    <h4>Same scaffold - {{ sameScaffolds.length }}</h4>
    <div class="search-box">
      <input type="search" [formControl]="sameScaffoldTerm" placeholder="Search by name or PDB ID" />
      @if(!sameScaffoldTerm.value){
      <i class="icon icon-common icon-search"></i>
      }
    </div>
    <div class="grid-container">
      @if(sameScaffoldPage.length){ @for (sameScaffold of sameScaffoldPage; track sameScaffold.chem_comp_id) {
      <pdbc-ligand-grid [ligand]="sameScaffold" />
      } } @else { @for(wasabi of [1,2,3,4,5]; track wasabi){
      <ngx-skeleton-loader count="1" appearance="circle" animation="pulse" [theme]="skeletonTheme" />
      } }
    </div>
    <mat-paginator
      class="paginator-container"
      [length]="sameScaffoldpageLength"
      [pageSize]="sameScaffoldpageSize"
      [pageSizeOptions]="sameScaffoldPageSizeOptions()"
      (page)="handlePageEvent($event, 'same')"
      showFirstLastButtons
      aria-label="Select page of ligands"
    >
    </mat-paginator>
  </section>
  } @if(similarLigands.length){
  <section id="similar-ligand-section">
    <h4>Similar ligands - {{ similarLigands.length }}</h4>
    <div class="filter-box">
      <div class="search-box">
        <input type="search" [formControl]="sameLigandsTerm" placeholder="Search by name or PDB ID" />
        @if(!sameLigandsTerm.value){
        <i class="icon icon-common icon-search"></i>
        }
      </div>
      <div class="similarity-box">
        <span>Filter by similarity between</span> <input type="number" [formControl]="similarityFrom" placeholder="60%" min="60" max="100" /> <span>and</span>
        <input type="number" [formControl]="similarityTo" placeholder="100%" max="100" />
      </div>
    </div>
    <div class="grid-container">
      @if(similarLigandsPage.length){ @for (similarLigand of similarLigandsPage; track similarLigand.chem_comp_id) {
      <pdbc-ligand-grid [ligand]="similarLigand" />
      } } @else { @for(wasabi of [1,2,3,4,5]; track wasabi){
      <ngx-skeleton-loader count="1" appearance="circle" animation="pulse" [theme]="skeletonTheme" />
      } }
    </div>
    <mat-paginator
      class="paginator-container"
      [length]="similarLigandpageLength"
      [pageSize]="similarLigandpageSize"
      [pageSizeOptions]="similarLigandPageSizeOptions()"
      (page)="handlePageEvent($event, 'similar')"
      showFirstLastButtons
      aria-label="Select page of ligands"
    >
    </mat-paginator>
  </section>
  } @if(stereoisomers.length){
  <section id="similar-ligand-section">
    <h4>Stereoisomers - {{ stereoisomers.length }}</h4>
    <div class="filter-box">
      <div class="search-box">
        <input type="search" [formControl]="stereoisomerTerm" placeholder="Search by name or PDB ID" />
        @if(!sameLigandsTerm.value){
        <i class="icon icon-common icon-search"></i>
        }
      </div>
    </div>
    <div class="grid-container">
      @if(stereoisomersPage.length){ @for (stereoisomer of stereoisomersPage; track stereoisomer.chem_comp_id) {
      <pdbc-ligand-grid [ligand]="stereoisomer" />
      } } @else { @for(wasabi of [1,2,3,4,5]; track wasabi){
      <ngx-skeleton-loader count="1" appearance="circle" animation="pulse" [theme]="skeletonTheme" />
      } }
    </div>
    <mat-paginator
      class="paginator-container"
      [length]="stereoisomerspageLength"
      [pageSize]="stereoisomerspageSize"
      [pageSizeOptions]="stereoisomersPageSizeOptions()"
      (page)="handlePageEvent($event, 'stereoisomer')"
      showFirstLastButtons
      aria-label="Select page of ligands"
    >
    </mat-paginator>
  </section>
  }
</div>
