@if(rowData().length){
<div id="structures-section">
  <header>
    <h5 class="title">{{rowData().length}} assemblies representing this complex in the PDB</h5>
    <button class="vf-button vf-button--link" (click)="downloadCSV()">
      Download structures (csv)
      <i class="icon icon-common icon-download"></i>
    </button>
    <button class="vf-button vf-button--link" (click)="downloadMMCIF()">
      Download coordinates (mmCIF)
      <i class="icon icon-common icon-download"></i>
    </button>
  </header>
  <section>
    <div class="table">
      <ag-grid-angular
        class="ag-theme-quartz"
        [rowData]="rowData()"
        [columnDefs]="colDefs"
        [gridOptions]="gridOptions"
        (selectionChanged)="onSelectionChanged($event)"
        [paginationPageSizeSelector]="paginationPageSizeSelector()"
        [rowSelection]="rowSelection"
        [initialState]="initialState"
      />
    </div>
    <div class="molstar">
      <div style="padding: 20px 10px">
        <p><strong>View assembly in 3D</strong></p>
        <p>Click on any table row to visualise the individual assembly. By default, the first assembly in the table is shown.</p>
      </div>
      <div #popoutWrapper>
        <lib-pdbe-molstar [molstarConfig]="config" [height]="height"></lib-pdbe-molstar>
      </div>
    </div>
    <div class="mobile-alternative">
      <div class="search-box">
        <input type="search" [formControl]="searchTerm" placeholder="Search..." />
        <i class="icon icon-common icon-search"> </i>
      </div>
      @for(structure of structuresPage; track structure){
      <article>
        <div class="list">
          <p class="list-item-left">PDB</p>
          <p class="list-item-right">
            <a [href]="'https://wwwdev.ebi.ac.uk/pdbe/entry/pdb/' + structure.pdb_id" target="_blank">
              {{ structure.pdb_id }}
              <i class="icon icon-link icon-common" style="margin-left: 5px"></i>
            </a>
          </p>
        </div>
        <div class="list">
          <p class="list-item-left">ID</p>
          <p class="list-item-right">{{ structure.assembly_id }}</p>
        </div>
        <div class="list">
          <p class="list-item-left">Title</p>
          <p class="list-item-right">{{ structure.title }}</p>
        </div>
        <div class="list">
          <p class="list-item-left">Exp. method</p>
          <p class="list-item-right">{{ structure.experimental_method }}</p>
        </div>
        <div class="list">
          <p class="list-item-left">Res. (Å)</p>
          <p class="list-item-right">{{ structure.resolution }}</p>
        </div>
      </article>
      }
      <mat-paginator
        class="paginator-container"
        [length]="structuresLength()"
        [pageSize]="structuresPageSize()"
        [pageSizeOptions]="structuresPageSizeOptions()"
        (page)="handlePageEvent($event)"
        showFirstLastButtons
        aria-label="Select page of structures"
      >
      </mat-paginator>
    </div>
  </section>
</div>

} @else {
<h4>No structures data available yet!</h4>
}
