.regex {
  display: block;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
}

section {
  display: flex;
  width: 100%;

  // align-items: center;
  justify-content: space-between;

  .table {
    width: 50%;
    margin-top: 5px;
    height: 500px;
  }

  .molstar {
    width: 50%;
  }
}

::ng-deep lib-pdbe-molstar {
  .container {
    display: block;
    height: 400px !important;
  }
}
