@if(rowData().length){
<div id="structures-section">
  <!-- <h3>Structures</h3> -->
  <section>
    <div class="table">
      <p class="title">Shown below are <strong>{{rowData().length}}</strong> assemblies representing this complex in the PDB</p>
      <ag-grid-angular
        class="ag-theme-quartz"
        [rowData]="rowData()"
        [columnDefs]="colDefs"
        [gridOptions]="gridOptions"
        (selectionChanged)="onSelectionChanged($event)"
        [paginationPageSizeSelector]="paginationPageSizeSelector()"
        [rowSelection]="rowSelection"
        [initialState]="initialState"
      />
    </div>
    <div class="molstar">
      <div style="padding: 20px 10px">
        <p><strong>View assembly in 3D</strong></p>
        <p>Click on any table row to visualise the individual assembly. By default, the first assembly in the table is shown.</p>
      </div>
      <lib-pdbe-molstar [molstarConfig]="config" [height]="height" [width]="width"></lib-pdbe-molstar>
    </div>
  </section>
</div>

} @else {
<h4>No structures data available yet!</h4>
}
