@if(rowData().length){
<div id="structures-section">
  <h3>Structures</h3>
  <section>
    <div class="table">
      <ag-grid-angular
        class="ag-theme-quartz"
        [rowData]="rowData()"
        [columnDefs]="colDefs"
        [gridOptions]="gridOptions"
        [initialState]="initialState"
        [selectionColumnDef]="selectionColumnDef"
        [components]="components"
        (selectionChanged)="onSelectionChanged($event)"
        [paginationPageSizeSelector]="paginationPageSizeSelector()"
      />
    </div>
    <div class="molstar">
      <lib-pdbe-molstar [molstarConfig]="config" [height]="height" [width]="width"></lib-pdbe-molstar>
      <div style="padding: 20px 10px">
        <p><strong>View assembly in 3D</strong></p>
        <p>Click on the Show column in the table to visualise the individual assembly. By default, the first assembly in the table is shown.</p>
      </div>
    </div>
  </section>
</div>

}
