<pdbc-pdbe-header-logo-menu [headerConfig]="headerSearchLogoMenuConfig" />
<pdbc-pdbe-header-search [headerSearchConfig]="headerSearchConfig" />
<div class="container">
  <h3>No results</h3>
  <p class="complex">
    We couldn’t find any matches for your search. <br />
    This may happen if you used a UniProt or Rfam accession, complex name or organism name, which are not yet supported.
  </p>
  <p class="complex">Please try searching again using one of the following valid identifiers:</p>
  <ul>
    <li>PDBe complex ID (for example, PDB-CPX-140202)</li>
    <li>PDB entry ID (for example, 7tpc)</li>
    <li>Complex Portal ID (for example, CPX-7043).</li>
  </ul>
</div>
