#information-section {
  width: 678px;
  padding: 8px 12px;
  background: #fff;
  font-family: 'IBM Plex Sans';
  line-height: 27.2px;
}

h4 {
  margin-bottom: 10px;
}

.info-row {
  display: flex;
  gap: 12px;
  margin-bottom: 4px;

  & > span {
    max-width: 126px;
    width: 100%;
    color: #1a1c1a;
    font-size: 16px;
    font-weight: 500;
    display: block;
  }
}

article {
  i {
    margin-left: 5px;
  }
  i:before {
    --icon-search-color: #193f90;
    width: 12px;
    height: 12px;
    mask-size: auto 12px;
    top: 2px;
  }
}
