<main>
  <header>
    <img src="/assets/images/mobile/blue-arrow-left.svg" alt="arrow left" />
    <span (click)="goBackToOverviewPage()">Back to entry overview </span>
  </header>
  <h2>Citations - {{entryId()}}</h2>
  <p class="entry-title">{{summary().entryTitle}}</p>
  <nav class="table-of-contents">
    <div class="container-border">
      <div class="nav-title">
        <h5>In this citation page</h5>
        <img src="/assets/images/mobile/arrow-{{isFullLinksDisplayed() ? 'up':'down'}}.svg" alt="arrow-up" (click)="toggleNavigationLinks()" />
      </div>
      @if(isFullLinksDisplayed()){ @for(link of navigationLinks; track link.id){
      <a (click)="scrollToSection($event, link.id)">{{link.title}}</a>
      } } @else {
      <a (click)="scrollToSection($event, currentNavigationLink().id)">{{currentNavigationLink().title}}</a>
      }
    </div>
  </nav>

  <!-- Primary publication -->

  @if(primaryPublication().title){
  <h3 id="primary-publication">Primary publication</h3>
  <p class="publication-title">{{primaryPublication().title}}</p>
  <div class="authors">
    @for (author of primaryPublication().author_list.slice(0, initialAuthorCount()); track author.full_name; let islast = $last) {
    <a [href]="'https://www.ebi.ac.uk/pdbe/entry/search/index?all_authors:' + author.full_name" target="_blank">{{ author.full_name }}</a>{{ islast ? '' : ',' }} }
    @if(primaryPublication().author_list.length > 5){
    <span role="button" class="related-entry-toggle" (click)="toggleAuthorList()">{{initialAuthorCount() > 5 ? 'Hide' : 'Show all'}} authors</span>
    }
  </div>
  <div class="pmid">
    <span class="pmid-title">PMID </span>
    <a [href]="'https://europepmc.org/article/MED/' + primaryPublication().pubmed_id" target="_blank"
      >{{ primaryPublication().pubmed_id }}
      <i class="icon icon-link icon-common" style="margin-left: 5px"></i>
    </a>
  </div>
  @if(primaryPublication().journal_info){
  <p class="journal-info">
    {{ primaryPublication().journal_info.pdb_abbreviation }} {{ primaryPublication().journal_info.volume }} {{ primaryPublication().journal_info.pages }} ({{
    primaryPublication().journal_info.year}})
  </p>
  }
  <div class="pmid">
    <span class="pmid-title">DOI </span>
    <a [href]="'https://doi.org/' + primaryPublication().doi" target="_blank">{{ primaryPublication().doi }} </a>
  </div>
  @if(relatedEntries().length){
  <div>
    <span class="pmid-title">Also associated with </span>
    @for (entry of relatedEntries().slice(0, initialCount()); track entry; let islast = $last) {
    <a [href]="'https://www.ebi.ac.uk/pdbe/entry/pdb/' + entry" target="_blank" class="row__right__link">{{ entry }} </a>{{ islast ? '' : ',' }} }
  </div>
  @if(relatedEntries().length > 5){
  <span role="button" class="related-entry-toggle" (click)="toggleRelatedEntriesList()">{{initialCount() > 5 ? 'Hide' : 'Show all'}} associated entries</span>
  } } @if(primaryPublication().abstract){ @let background = primaryPublication().abstract.background; @let unassigned = primaryPublication().abstract.unassigned; @let
  output = background ? background : unassigned;
  <h4>Publication abstract</h4>
  <p class="background" [innerHTML]="output"></p>
  } @if(imageUrl()){
  <h4 class="figures">Publication figures</h4>
  <article>
    <figure [id]="'Fig1'">
      <img [src]="imageUrl()" alt="" (click)="openXMLImagesInNewWindow()" />
    </figure>
  </article>
  <p class="figure-footer">Tap on the image to see all figures and captions</p>
  } }@else {
  <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '400px' }"></ngx-skeleton-loader>
  }

  <!-- Articles citing the PDB entry -->

  @if(articlesCiting().cited_by){ @let articles = articlesCiting().cited_by.Articles; @if(articles.length > 0){
  <h3 id="articles-cited">Articles citing the PDB entry ({{articles.length}})</h3>
  <ol>
    @if(articles.length > 5){ @let count = isArticlesCitingMuch() ? articles.length : 5; @for(article of articles.slice(0,count); track article.pubmed_id){
    <pdbc-citation-article [article]="article"></pdbc-citation-article>
    }
    <button class="vf-button vf-button--search-pdbe" (click)="toggleArticlesCitingList()">{{isArticlesCitingMuch() ? 'Hide':'Show'}} full list</button>
    } @else{ @for(article of articles; track article.pubmed_id){
    <pdbc-citation-article [article]="article"></pdbc-citation-article>
    } }
  </ol>
  } }

  <!-- Reviews citing the PDB entry -->

  @if(articlesCiting().cited_by){ @let reviews = articlesCiting().cited_by.Reviews; @if(reviews.length > 0){
  <h3 id="reviews-cited">Reviews citing the PDB entry ({{reviews.length}})</h3>
  <ol>
    @if(reviews.length > 5){ @let count = isReviewsCitingMuch() ? reviews.length : 5; @for(article of reviews.slice(0,count); track article.pubmed_id){
    <pdbc-citation-article [article]="article"></pdbc-citation-article>
    }
    <button class="vf-button vf-button--search-pdbe" (click)="toggleReviewsCitingList()">{{isReviewsCitingMuch() ? 'Hide':'Show'}} full list</button>
    } @else{ @for(article of reviews; track article.pubmed_id){
    <pdbc-citation-article [article]="article"></pdbc-citation-article>
    } }
  </ol>
  } }

  <!-- Articles not cited! -->

  @if(articlesCiting().appears_without_citation){ @let articles = articlesCiting().appears_without_citation.Articles; @if(articles.length > 0){
  <h3 id="articles-not-cited">Articles - {{ this.entryId() }} mentioned but not cited ({{articles.length}})</h3>
  <ol>
    @if(articles.length > 5){ @let count = isArticlesNotCitedMuch() ? articles.length : 5; @for(article of articles.slice(0,count); track article.pubmed_id){
    <pdbc-citation-article [article]="article"></pdbc-citation-article>
    }
    <button class="vf-button vf-button--search-pdbe" (click)="toggleArticlesNotCitedList()">{{isArticlesNotCitedMuch() ? 'Hide':'Show'}} full list</button>
    } @else{ @for(article of articles; track article.pubmed_id){
    <pdbc-citation-article [article]="article"></pdbc-citation-article>
    } }
  </ol>
  } }

  <!-- Reviews not cited! -->

  @if(articlesCiting().cited_by){ @let reviews = articlesCiting().appears_without_citation.Reviews; @if(reviews.length > 0){
  <h3 id="reviews-not-cited">Reviews - {{ this.entryId() }} mentioned but not cited ({{reviews.length}})</h3>
  <ol>
    @if(reviews.length > 5){ @let count = isReviewsNotCitedMuch() ? reviews.length : 5; @for(article of reviews.slice(0,count); track article.pubmed_id){
    <pdbc-citation-article [article]="article"></pdbc-citation-article>
    }
    <button class="vf-button vf-button--search-pdbe" (click)="toggleReviewsNotCitedList()">{{isReviewsNotCitedMuch() ? 'Hide':'Show'}} full list</button>
    } @else{ @for(article of reviews; track article.pubmed_id){
    <pdbc-citation-article [article]="article"></pdbc-citation-article>
    } }
  </ol>
  } }
</main>
