main {
  padding: 4px 12px 0;

  h2 {
    color: #1a1c1a;
    font-size: 30px;
    font-weight: 500;
    line-height: 39px;
  }

  p.entry-title {
    color: #1a1c1a;
    font-size: 19px;
    font-weight: 500;
    line-height: 28.5px;
  }

  nav {
    margin: 32px 0;
    padding: 12px 8px;
    background: #e7efdd;
    position: sticky;
    top: -1px;
    z-index: 5;

    .container-border {
      border-left: 1px solid #000;
      padding: 0 8px;
      padding-bottom: 15px;

      .nav-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;

        h5 {
          color: #1a1c1a;
          font-size: 19px;
          font-style: normal;
          font-weight: 500;
          line-height: 28.5px;
        }

        img {
          cursor: pointer;
        }
      }

      a {
        display: block;
        margin-bottom: 12px;
        font-size: 19px;
        font-weight: 400;
        line-height: 26.6px;
        cursor: pointer;

        // &:nth-child(5) {
        //   margin-bottom: 12px;
        // }
      }
    }
  }

  h3 {
    color: #1a1c1a;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    margin-bottom: 12px;
    margin-top: 32px;
  }

  p.publication-title,
  p.pmid-title,
  p.journal-info,
  p.background {
    color: #1a1c1a;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
  }

  p.background {
    margin-bottom: 12px !important;
  }

  h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.2px;
    margin-top: 12px;

    &.figures {
      margin-bottom: 12px;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;

    figure {
      width: 261px;
    }

    span {
      color: #1a1c1a;
      font-size: 14px;
      font-weight: 400;
      line-height: 27.2px;
      margin-bottom: 12px;
      text-align: center;
    }
  }

  span.related-entry-toggle {
    color: #3b6fb6;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    display: block;
    cursor: pointer;
  }
}
