.properties-container {
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.property-box {
  display: flex;
  width: 100%;
  gap: 48px;
  justify-content: space-between;
}

.property-box-end {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}

#stereo-box {
  align-self: stretch;
}

#surf-box {
  align-self: stretch;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.conf-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.property-sub-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
