<header>
  <i class="icon icon-common icon-window-close" (click)="dialogRef.close()"></i>
</header>
<section>
  <h2>Atoms of Molecule</h2>
  <p>Molecule: {{ dialogData.ligandId }}</p>
  <p>Atoms of a chemical element, that composes a molecule</p>
  <p>Total Number of Atoms: {{ numberOfAtoms() }}</p>

  <ag-grid-angular
    style="margin-top: 50px"
    class="ag-theme-quartz"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady()"
    [paginationPageSizeSelector]="paginationPageSizeSelector()"
  />
</section>
