.header-logo-section {
  background-repeat: no-repeat;
  background-position: 100% 82%;
  background-size: cover;
  background-color: #085f5c;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="147 248 60 248" xml:space="preserve"><polygon class="st0" fill="%23000" fill-opacity="0.05" points="147,363.6 259.3,363.6 259.3,428.4 203.2,460.9 147,428.4 "/></svg>');
  padding: 28px 0 18px 0;
}

.mobile-menu-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 22px;
  margin-top: 5px;
  display: none;
  color: #fff;
}

.local-top-nav > ul > li {
  border-right: none;
  margin-top: 15px;
}

.local-top-nav > ul > li > a {
  font-size: 19px;
  color: #fff;
  border-bottom: none;
}

.local-top-nav > ul > li > a:hover,
.local-top-nav > ul > li > a:active {
  background-color: #085a57;
  text-decoration: underline;
}

@media screen and (max-width: 39.9375em) {
  #local-title,
  #local-title h1 {
    width: 85%;
    float: left;
    margin-bottom: 10px;
    line-height: 24px;
  }

  .mobile-menu,
  .mobile-menu-icon {
    display: block;
  }

  .local-top-nav {
    float: left;
    width: 100%;
  }

  .local-top-nav ul.menu li {
    border-right: none;
    display: block;
    float: none;
  }

  .local-top-nav ul.menu li a {
    margin-left: 0;
    display: block;
    font-size: 20px;
    height: 52px;
    line-height: 52px;
  }
}
