@import url('libs/core/src/lib/styles/pdb_connect.scss');

h1 {
  color: #1a1c1a;
  font-size: 42px;
  font-weight: 700;
  line-height: 63px;
  border-left: 4px solid #0a5032;
  padding-left: 16px;
  margin-bottom: 40px;
}

h3 {
  color: #1a1c1a;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
  margin-bottom: 20px;
}
