<pdbc-pdbe-header-logo-menu [headerConfig]="headerLogoMenuConfig" />
<pdbc-pdbe-header-search [headerSearchConfig]="headerSearchConfig" />
<main class="container">
  <h1>Latest releases</h1>
  <h3>Ligands</h3>
  <div style="margin-top: 5px; height: 500px">
    <ag-grid-angular
      class="ag-theme-quartz"
      id="latest-release-grid"
      [rowData]="rowData()"
      [columnDefs]="colDefs"
      [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)"
      [paginationPageSizeSelector]="paginationPageSizeSelector()"
    />
  </div>
  <h3>Modified Ligands</h3>
</main>
