.root-container {
  margin-top: 16px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (width >= 576px) {
  .root-container {
    max-width: 540px;
  }
}

@media (width >= 768px) {
  .root-container {
    max-width: 720px;
  }
}

@media (width >= 992px) {
  .root-container {
    max-width: 1440px;
  }
}

header {
  display: flex;
  width: 100%;
  padding-left: 28px;
  padding-right: 28px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;

  .title-info {
    padding-left: 8px;
    display: flex;
    align-items: baseline;
    gap: 16px;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.6px; /* 140% */
    color: var(--Neutral-900, #1a1c1a);

    h1 {
      margin-right: -4px;
    }

    .information {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 26.6px; /* 140% */
        i {
          margin-left: 6px;
        }

        .icon-link::before {
          top: 3px;
          left: -1px;
          scale: 0.9375;
        }
      }
    }
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    ::ng-deep lib-dropdown-menu > button {
      display: flex;
      padding-left: 12px;
      height: 35px;
      align-items: center;
      gap: 16px;
      border: 1px solid var(--Neutral-300, #d0d0ce);
      padding-right: 12px;
    }
  }
}

.top-info {
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  /* TODO: Work on top left summary styles  */

  /* TODO: Work on top right 3D styles  */

  /* TODO: Create tooltip component  */

  section.summary {
    //   width: 43.81%;
    margin-right: 12px;
  }

  // section.explore-3d-tabs {
  //   width: 56.18%;
  // }
}

.detail-tabs {
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

nav {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  padding-left: 4px;
  padding-top: 4px;
  width: 100%;

  .tab-button {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: #373a36;
    text-align: center;

    // font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    line-height: 27.2px; /* 170% */
    cursor: pointer;
  }

  .tab-button:hover {
    background-color: #fff;
  }

  .tab-button.active {
    color: #1a1a1a;
    font-weight: 500;
    background-color: #fff;
  }

  .tab-button.inactive {
    color: #878787;
  }

  .vertical-line {
    display: none;
  }

  .vertical-line.active {
    display: initial;
    border-left: 1px solid #d0d0ce;
    height: 20px;
    margin-left: -1px;
  }
}

.tab-content {
  margin-top: 24px;
  display: flex;
  background-color: #fff;
  margin-bottom: 80px;

  * {
    width: 100%;
  }

  .left-side {
    margin-right: 24px;
  }
}
