<pdbc-pdbe-header-logo-menu
  [backgroundColor]="'#056643'"
  [logoType]="'PDBe'"
  [urls]="[
    { name: 'Services', path: 'https://www.ebi.ac.uk/pdbe/pdbe-services' },
    { name: 'Documentation', path: 'https://www.ebi.ac.uk/pdbe/documentation' },
    { name: 'Training', path: 'https://www.ebi.ac.uk/pdbe/pdbe-training' }
  ]"
  [menuHighlightColor]="'#0a5032'"
></pdbc-pdbe-header-logo-menu>
<pdbc-pdbe-header-search
  [backgroundColor]="'#007B53'"
  [hasAdvancedSearch]="true"
  [buttonText]="'Search'"
  [examples]="[
    {
      label: 'Haemoglobin',
      url: 'https://www.ebi.ac.uk/pdbe/entry/search/index/?searchParams=%7B%22text%22:%5B%7B%22value%22:%22hemoglobin%22, %22condition1%22:%22AND%22, %22condition2%22:%22Contains%22%7D%5D, %22resultState%22:%7B%22tabIndex%22:0, %22paginationIndex%22:1, %22perPage%22:%2210%22, %22sortBy%22:%22Sort%20by%22%7D%7D'
    },
    {
      label: 'BRCA1_HUMAN',
      url: 'https://www.ebi.ac.uk/pdbe/entry/search/index/?searchParams=%7B%22text%22:%5B%7B%22value%22:%22BRCA1_HUMAN%22, %22condition1%22:%22AND%22, %22condition2%22:%22Contains%22%7D%5D, %22resultState%22:%7B%22tabIndex%22:0, %22paginationIndex%22:1, %22perPage%22:%2210%22, %22sortBy%22:%22Sort%20by%22%7D%7D'
    }
  ]"
  [placeholder]="'Search in PDBe and PDBe-KB'"
  [suggestions]="[]"
  [searchButtonChipsType]="'PDBe'"
></pdbc-pdbe-header-search>
<div id="main-container-outer">
  <div id="main-container" *ngIf="entryId && entryData">
    <div id="main-left-container">
      <pdbc-pdbe-nav-menu [highlightColor]="'#D0DEBB'" [navSections]="navSections" [isFirstActivated]="true"></pdbc-pdbe-nav-menu>
    </div>
    <div id="main-right-container">
      <div id="main-fixed-top-white-bg"></div>
      <div id="main-right-sticky">
        <span id="main-title">{{ entryId }}</span>
        <span id="main-subtitle">{{ entryData.title }}</span>
        <div id="main-btn-bar">
          <pdbc-pdbe-button
            [backgroundColor]="'#C66717'"
            [fontSize]="'16px'"
            [fontColor]="'#FFFFFF'"
            [borderColor]="'#C66717'"
            [shadowColor]="'#B65417'"
            [label]="'View 3D structure'"
            [paddingSize]="'Small'"
            [mobileIconName]="'none'"
          ></pdbc-pdbe-button>
          <div class="main-btn-bar-break-column"></div>
          <pdbc-pdbe-dropdown
            #vDropdown
            class="hide-mobile"
            [elementId]="'view-btn'"
            (dropdownClicked)="closeOtherDropdowns($event)"
            [dropdownText]="'Download as'"
            [options]="downloadOptions"
            [optionsWidth]="'296px'"
            [optionsMaxHeight]="'334px'"
          ></pdbc-pdbe-dropdown>
          <pdbc-pdbe-dropdown
            #dDropdown
            class="hide-mobile"
            [elementId]="'dwl-btn'"
            (dropdownClicked)="closeOtherDropdowns($event)"
            [dropdownText]="'View as'"
            [options]="viewOptions"
            [optionsWidth]="'197px'"
            [optionsMaxHeight]="'390px'"
          ></pdbc-pdbe-dropdown>
        </div>
      </div>
      <pdbc-summary
        [entryId]="entryId"
        [sourceOrganisms]="entryData.organism_scientific_names"
        [experimentType]="entryData.experimental_method"
        [resolutionValue]="entryData.resolutionValue"
        [releasedData]="entryData.releasedData"
        [publicationTitle]="entryData.publicationTitle"
        [publicationOrEntryAuthors]="entryData.publicationOrEntryAuthors"
        [publicationJournal]="entryData.publicationJournal"
        [publicationVolume]="entryData.publicationVolume"
        [publicationPage]="entryData.publicationPage"
        [publicationYear]="entryData.publicationYear"
        [publicationPMID]="entryData.publicationPMID"
        [emdbEntries]="entryData.emdbEntries"
      ></pdbc-summary>
    </div>
  </div>
</div>
