<div class="desktop-view">
  <pdbc-pdbe-header-logo-menu class="entry-page-logo" [headerConfig]="pdbeLogoConfig"></pdbc-pdbe-header-logo-menu>
  <pdb-search-app class="entry-page-search" [uiSearchConfig]="pdbeSearchConfig" [apiSearchConfig]="apiSearchConfig" />
  @if(showNotificationBanner()) {
  <lib-notification />
  } @if (entryPageView() === 'SUCCESS') {
  <section class="entry-page-container container-padding">
    <pdbc-entry-page-header />
    <main>
      <mat-tab-group (selectedTabChange)="selectTab($event)" [selectedIndex]="selectedTab()" mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Summary"> <pdbc-summary-tab /> </mat-tab>
        <mat-tab label="Model quality">
          <ng-template matTabContent> <pdbc-experiments-validation /> </ng-template>
        </mat-tab>
        <mat-tab label="Assemblies">
          <ng-template matTabContent> <pdbc-assemblies-tab /> </ng-template>
        </mat-tab>
        <mat-tab label="Macromolecules">
          <ng-template matTabContent> <pdbc-macromolecules-tab /> </ng-template>
        </mat-tab>
        <mat-tab label="Ligands and Environments">
          <ng-template matTabContent> <pdbc-ligands-tab /> </ng-template>
        </mat-tab>
        <mat-tab label="Domains">
          <ng-template matTabContent> <pdbc-domains-tab /> </ng-template>
        </mat-tab>
        <mat-tab label="Text Annotation (LLM)">
          <ng-template matTabContent>
            @if(dataProcessing.llmAnnotations | async; as annotations){ @if(annotations.length > 0){
            <pdbc-llm-tab />
            } @else {
            <h3>Reason for an empty residue list:</h3>
            <p>
              No residue list available for this entry. The most likely reasons for this is no residues were explicitly mentioned in the publication text, the
              numbering used in the text does not match the one used for the structure or the UniProt accession or the annotation pipeline failed to process the
              publication text correctly.
            </p>

            <h3>Reason for an empty annotation list:</h3>
            <p>
              No annotations were found for this entry. The most likely reason for this is the publication text is not open access and could not be processed by the
              annotation pipeline or the annotation pipeline could not create a link between annotations and residues in the structure.
            </p>
            } }
          </ng-template>
        </mat-tab>
        <mat-tab label="Citations">
          <ng-template matTabContent> <pdbc-citations-tab /> </ng-template>
        </mat-tab>
      </mat-tab-group>
    </main>
  </section>
  } @else if (entryPageView() === 'LOADING') {
  <section class="entry-page-container">
    <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '400px' }"></ngx-skeleton-loader>
  </section>
  } @else if(entryPageView() === 'ERROR') {
  <pdbc-error-page [asPage]="false" />
  } @else {
  <pdbc-entry-main-alternative [entryStatus]="entryStatus()" />
  }
</div>
<div class="mobile-view">
  <lib-mobile-header [headerConfig]="mobileHeaderConfig" />
  <pdbc-mobile-main />
</div>
<div id="parent-molstar-container" #molstarParent>
  <div id="molstar-element" class="molstar-viewer" #molstarViewer></div>
</div>
