<pdbc-pdbe-header-logo-menu [headerConfig]="pdbeLogoConfig"></pdbc-pdbe-header-logo-menu>
<pdbc-pdbe-header-search id="entry-search" [headerSearchConfig]="pdbeSearchConfig"></pdbc-pdbe-header-search>
@if (statusCode() === 'REL') {
<section class="entry-page-container">
  <main>
    <!-- Contains header line of page with entry id, experimental method, release data, link, download and view dropdowns -->
    <header>
      <section class="title-info">
        <h1 class="heading-1">{{ entryId() }}</h1>
        <div class="information">
          <!-- @if (componentLoadedStatus()['titleInfo']) { -->
          <span>{{ experimentalMethod() }}</span>
          @if (resolutionValues()??[].length > 0) { @for (resolutionValue of resolutionValues(); track resolutionValue;) { @if (resolutionValue !== undefined) {
          <span>{{ resolutionValue }}Å</span>
          } }
          <!-- <span>{{ pageData.experiment.resolutionValue }}Å</span> -->
          }
          <span>Released {{ summaryData()?.releaseDate }}</span>
          <span>
            <a
              >10.2210/pdb{{ entryId() }}/pdb
              <i class="icon icon-link icon-common"></i>
            </a>
          </span>
          <!-- } -->
        </div>
      </section>
      <section class="action-buttons" libClickOutside (clickOutside)="onClickedOutside()">
        <pdbc-entry-dropdown [downloadable]="true" [islink]="true" [options]="downloadOptions()" title="Download files"></pdbc-entry-dropdown>
        <pdbc-entry-dropdown [downloadable]="false" [islink]="true" [options]="viewOptions()" title="View files"></pdbc-entry-dropdown>
        <!-- <lib-dropdown-menu [options]="downloadOptions" title="Download files"></lib-dropdown-menu>
        <lib-dropdown-menu [options]="viewOptions" title="View files"></lib-dropdown-menu> -->
      </section>
    </header>
    <!-- Contains components of the page top: general information and the 3d explorer -->
    <section class="top-info">
      <section class="summary">
        <!-- @if (summaryData()) { -->
        <!-- inside entry/components/main-information-area -->
        <pdbc-main-information-area />
        <!-- } -->
      </section>
      <section class="explore-3d-tabs">
        <!-- @if (componentLoadedStatus()['overviewMolstar']) { -->
        <!-- inside entry/components/overview-molstar -->
        <pdbc-overview-molstar />
        <!-- } -->
      </section>
    </section>

    <!-- Global Molstar instance moved into tabs below as needed -->
    <div #molstarParent style="display: none">
      <div class="molstar-viewer" #molstarViewer></div>
    </div>

    <!-- Contains components for the bottom tabs: -->
    <section id="detail-tabs" class="details-tabs">
      <!-- Navigation controls between tabs -->
      <nav class="tab-nav">
        @for(tab of tabsInfo().config; track tab) {
        <div class="tab-container" [ngClass]="{ active: currentTab() === tab.id }" (click)="changeCurrentTab(tab.id)">
          <button class="tab-button">
            <div class="tab-tag" [ngClass]="tab.tagClass">{{ tab.tagContent }}</div>
            {{ tab.displayName }}
          </button>
        </div>
        <div class="vertical-line"></div>
        }
      </nav>
      <!-- Tabs, each with related components -->
      <section class="tab-content">
        @for (tabName of allTabs; track tabName) { @if(currentTab() === tabName.name) { @if(tableTabs.indexOf(tabName.name) > -1) { @if
        (tabsInfo().status[tabName.name] === 'has-data') {
        <!-- if tab data is either not loaded and empty -->
        <section class="left-side">
          <!-- inside entry/components/interactive-tables -->
          <!-- @if (componentLoadedStatus()['interactiveTables'] && molstarResidueInfoLoaded()) { -->
          <pdbc-interactive-tables [tabName]="getTableName(tabName.name)" [bestStrMapUniProtId]="bestStructuresMappingsByUniProtIds"></pdbc-interactive-tables>
          <!-- } -->
        </section>
        <section class="right-side">
          <!-- inside entry/components/details-dashboard -->
          <!-- @if (componentLoadedStatus()['detailsDashboard']) { -->
          <pdbc-details-dashboard [tabName]="getTableName(tabName.name)" [molstarViewerEl]="molstarViewer" [molstarParent]="molstarParent"></pdbc-details-dashboard>
          <!-- } -->
        </section>
        } @else if (tabsInfo().status[tabName.name] === 'empty-data') {
        <!-- else if tab data is loaded but empty -->
        <section class="empty-details">
          <h5>No {{ tabName.name }} data available</h5>
        </section>
        } } @if(tabName.name === 'Experiments') {
        <!-- inside entry/components/experiments-validation-tab -->
        <!-- @if (componentLoadedStatus()['experimentsValidationTab']) { -->
        <pdbc-experiments-validation-tab [molstarViewerEl]="molstarViewer" [molstarParent]="molstarParent"></pdbc-experiments-validation-tab>
        <!-- } -->
        } @if(tabName.name === 'Citations') {
        <!-- inside entry/components/citations-tab -->
        <pdbc-citations-tab [entryId]="entryId()" [primaryPublication]="primaryPublication()" [articlesCiting]="articlesCiting"></pdbc-citations-tab>
        } } }
      </section>
    </section>
  </main>
</section>
} @else if (statusCode() === 'INITIAL') {
<section class="entry-page-container">
  <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '400px', }"></ngx-skeleton-loader>
</section>
} @else {
<pdbc-entry-main-alternative [entryStatus]="entryStatus()" />
}
