<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header onclick="gtag('event', 'faq', {'event_category': 'faqs_click', 'event_label': 'faqs_question_1', 'value': undefined})">
      <mat-panel-title>
        <h3 class="faq-title"><strong>How is PDBe-KB different from PDBe?</strong></h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="faq-content">
      PDBe-KB is an open consortium of data providers who derive or assign functional, biophysical or biochemical annotations for macromolecular strutures. PDBe-KB
      data resource, maintained at
      <a target="_blank" class="small-link-style" href="https://ebi.ac.uk">EMBL-EBI <i class="icon icon-common icon-external-link-alt"></i></a> collates the
      annotations from PDBe-KB consortium partners and makes these accessible via PDBe-KB portal. PDBe-KB is a sister resource of
      <a target="_blank" class="small-link-style" href="https://pdbe.org">PDBe <i class="icon icon-common icon-external-link-alt"></i></a>, which as a member of the
      <a target="_blank" class="small-link-style" href="https://www.wwpdb.org/">wwPDB consortium <i class="icon icon-common icon-external-link-alt"></i></a>, is
      primarily responsible for archiving experimental macromolecular structure data.
    </p>
  </mat-expansion-panel>
  <!-- <hr class="faq-border"> -->
  <mat-expansion-panel>
    <mat-expansion-panel-header onclick="gtag('event', 'faq', {'event_category': 'faqs_click', 'event_label': 'faqs_question_3', 'value': undefined})">
      <mat-panel-title>
        <h3 class="faq-title"><strong>How can I submit annotations to PDBe-KB?</strong></h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="faq-content">
      PDBe-KB is an open consortium, and we welcome data providers who would like to make their annotations openly available to the scientific community. Please refer
      to the <a target="blank" class="small-link-style" href="./join">“Join PDBe-KB” <i class="icon icon-common icon-external-link-alt"></i></a> page for detailed
      information on why and how to join this collaborative effort.
    </p>
  </mat-expansion-panel>
  <!-- <hr class="faq-border"> -->
  <mat-expansion-panel>
    <mat-expansion-panel-header onclick="gtag('event', 'faq', {'event_category': 'faqs_click', 'event_label': 'faqs_question_4', 'value': undefined})">
      <mat-panel-title>
        <h3 class="faq-title"><strong>Can I submit annotations without becoming an official member of PDBe-KB?</strong></h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="faq-content">
      While PDBe-KB is an open consortium, all consortium members agree to a collaboration guideline so that we can ensure the quality and governance of the data
      provided. Consequently, it is not currently possible to make annotations available via PDBe-KB without officially joining the consortium.
    </p>
  </mat-expansion-panel>
  <!-- <hr class="faq-border"> -->
  <mat-expansion-panel>
    <mat-expansion-panel-header onclick="gtag('event', 'faq', {'event_category': 'faqs_click', 'event_label': 'faqs_question_4', 'value': undefined})">
      <mat-panel-title>
        <h3 class="faq-title"><strong>Who should I contact with enquiries?</strong></h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="faq-content">
      If you would like to get in touch, either to provide suggestions, feedback or to suggest new annotations or wish to become a member of the consortium, you can
      either visit the
      <a target="_blank" class="small-link-style" href="https://www.ebi.ac.uk/about/contact/support/PDBe"
        >Feedback page <i class="icon icon-common icon-external-link-alt"></i
      ></a>
      and fill in a feedback form, or send an email to
      <a target="_blank" class="small-link-style" href="mailto:pdbekb_help@ebi.ac.uk"
        >pdbekb_help&#64;ebi.ac.uk <i class="icon icon-common icon-external-link-alt"></i></a
      >.
    </p>
  </mat-expansion-panel>
  <!-- <hr class="faq-border"> -->
  <mat-expansion-panel>
    <mat-expansion-panel-header onclick="gtag('event', 'faq', {'event_category': 'faqs_click', 'event_label': 'faqs_question_5', 'value': undefined})">
      <mat-panel-title>
        <h3 class="faq-title"><strong>How do I download superposed coordinates?</strong></h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="faq-content">
      When viewing superposed structures or superposed ligands on the PDBe-KB aggregated views of proteins, you can click on the “Export Models” button on the
      left-hand side of the screen. This will allow you to download all the currently displayed, superposed structures in mmCIF or binaryCIF formats.
    </p>
  </mat-expansion-panel>
  <!-- <hr class="faq-border"> -->
</mat-accordion>
