/* Should be imported as a global styles in styles.scss */

/**
 * All tables
 */

.vf-table-button {
  display: flex;
  padding: 2px 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--Neutral-800, #373a36);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.2px; /* 170% */
  background: var(--Neutral-100, #f3f3f3);
  cursor: pointer;
}

.ag-row-selected .vf-table-button {
  color: #fff;
  background: var(--Brand-900, #0a5032);
}

/**
 * Assemblies table
 */

.tbl-col-1-assembly {
  display: inline-flex;
  min-height: 28px;
  line-height: 27.2px;
}

/**
 * Macromolecules table
 */
.tbl-col-macromolecules-name {
  display: flex;
  font-weight: 500;
  line-height: 27.2px;
}

.tbl-col-macromolecules-organisms {
  line-height: 27.2px;
  font-style: italic;
  display: contents;
}

/**
 * Ligands and Environments table
 */

.tbl-col-ligands-img {
  height: 100%;
  width: 100%;
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
}

.tbl-col-ligands-count {
  color: #1a1c1a;
  font-size: 16px;
  font-weight: 500;
}

.tbl-col-ligands-name {
  color: #1a1c1a;
  font-size: 16px;
  font-weight: 400;
  max-height: 70px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;
}

.tbl-col-ligands-annotation {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
}

.tbl-col-ligands-chip {
  display: flex;
  margin-top: 0;
  align-items: center;
  border-radius: 2px;
  width: 86px;
  height: 27px;
  padding: 2px;
}

/**
 * Domains table
 */

.tbl-col-accession-name {
  display: flex;
  flex-direction: column;
}
