button {
  display: inline-flex;
  padding: 4px 12px;
  align-items: center;
  gap: 12px;
  border: 1px solid var(--Neutral-300, #d0d0ce);
  background: var(--Neutral-0, #fff);
  font-weight: 500;
  font-size: 16px;
  font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
  cursor: pointer;
  line-height: 26.6px; /* 166.25% */
  height: 35px;
}

button.small {
  padding: 4px 2px;
  font-size: 14px;
  gap: 2px;
  line-height: 22.4px;
  height: 32px;
}

button.fullwidth {
  width: 100%;
  justify-content: space-between;
}

button.dark {
  background: var(--Neutral-100, #f3f3f3);
}

button:hover {
  background: var(--Neutral-100, #f3f3f3);
}

button.dark:hover {
  background: var(--Neutral-200, #e4e4e4);
}

a {
  &:hover {
    text-decoration: unset;
    background: #d0debb !important;
  }

  &:focus {
    box-shadow: none;
    border: none;
  }
}

.search-box {
  position: relative;
  font-size: 16px;
  padding: 15px 15px 7px;

  input {
    border: none;
    border-bottom: 1px solid var(--Neutral-600, #707372);
    box-shadow: none;
    padding-left: 0;
    margin: 0;
  }

  .icon-search {
    position: absolute;
    right: 16px;
    top: 27px;
    color: #707372;
  }
}

span.group-name {
  color: #54585a;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  margin-bottom: 8px;
  padding: 8px;
  display: block;
  border-top: 1px solid #d0d0ce;
}

a.url-link {
  color: #1a1c1a;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  padding-left: 20px;
}

.no-items-found {
  color: #1a1c1a;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  padding-left: 20px;
}
