<div class="struc-quality-gradient-main">
  @if (componentType && renderGradients) { @if (componentType.includes("GeometryFit")) {
  <div class="struc-quality-gradient-img">
    @if (renderGradients.geometry !== undefined) {
    <div class="val-lane">
      <div class="val-label paragraph-3">Model geometry</div>
      <span class="val-gradient" [ngClass]="componentType.includes('RdToBl') ? 'val-gradient-rdtobl' : 'val-gradient-rdtogr'">
        <span
          class="val-bucket"
          [ngStyle]="{
            transform: 'translate(' + calcTranslate(renderGradients.geometry) + 'px)',
            width: (gradientWidth - 2) * 0.2 + 'px'
          }"
        ></span>
      </span>
    </div>
    } @if (renderGradients.basepairs !== undefined) {
    <div class="val-lane">
      <div class="val-label paragraph-3">DNA/RNA geometry</div>
      <span class="val-gradient" [ngClass]="componentType.includes('RdToBl') ? 'val-gradient-rdtobl' : 'val-gradient-rdtogr'">
        <span
          class="val-bucket"
          [ngStyle]="{
            transform: 'translate(' + calcTranslate(renderGradients.basepairs) + 'px)',
            width: (gradientWidth - 2) * 0.2 + 'px'
          }"
        ></span>
      </span>
    </div>
    } @if (renderGradients.modelfit !== undefined) {
    <div class="val-lane">
      <div class="val-label paragraph-3">Fit model/data</div>
      <span class="val-gradient" [ngClass]="componentType.includes('RdToBl') ? 'val-gradient-rdtobl' : 'val-gradient-rdtogr'">
        <span
          class="val-bucket"
          [ngStyle]="{
            transform: 'translate(' + calcTranslate(renderGradients.modelfit) + 'px)',
            width: (gradientWidth - 2) * 0.2 + 'px'
          }"
        ></span>
      </span>
    </div>
    }
  </div>
  } @else if (componentType.includes("Multipercentile")) {
  <svg></svg>
  } }
</div>
