<div class="search-box">
  <!-- <div class="row large-offset-1 medium-offset-1"> -->
  <div class="row">
    <pdbc-header-search></pdbc-header-search>
  </div>
</div>
<pdbc-nav-tabs activePageInput="None"></pdbc-nav-tabs>
<div class="row">
  <!-- <div id="graph-content" class="content-holder large-10 large-offset-1 medium-offset-1 medium-10 small-12"> -->
  <div id="graph-content" class="content-holder">
    <div id="graph_database" class="text-holder">
      <h3 class="heading-style-B">PDBe Graph Database</h3>
      <p class="paragraph-style-B">This page provides information on how to setup the knowledge graph as a local Neo4J instance.</p>
    </div>
    <div id="documentation" class="text-holder">
      <h3 class="heading-style-B">Documentation</h3>
      <p class="paragraph-style-B">
        Interactive documentation of the data available in the PDBe graph database is available
        <a
          target="_blank"
          routerLink="/schema"
          onclick="gtag('event', 'services_access', {'event_category': 'home_href_click', 'event_subcategory': 'quick_links_click', 'event_label': 'database_schema', 'value': undefined})"
          class="link-style"
          >here</a
        >. To learn more about how to write Cypher queries to extract data from PDBe graph database, please visit
        <a href="https://pdbe-kb.github.io/pdbe-graph-queries/index.html" class="link-style" target="_blank">PDBe graph queries</a>.
      </p>
    </div>

    <div class="text-holder">
      <h3 class="heading-style-B">Requirements</h3>
      <ul>
        <li class="paragraph-style-B">
          Neo4J Community/Enterprise Edition 3.5 or Neo4J Community/Enterprise Edition 5(<a
            href="https://neo4j.com/deployment-center/"
            target="_blank"
            class="link-style"
            >Download <i class="icon icon-common icon-download"></i></a
          >)
        </li>
        <li class="paragraph-style-B">
          There are two database files available on our FTP area: (<a href="https://ftp.ebi.ac.uk/pub/databases/msd/graphdb/" target="_blank"
            >https://ftp.ebi.ac.uk/pub/databases/msd/graphdb/</a
          >):
          <ul>
            <li style="list-style-type: circle">graph.db.tgz → For Neo4J 3.5</li>
            <li style="list-style-type: circle">neo4j.dump → For Neo4J 4 and above</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="text-holder">
      <h3 class="heading-style-B">Steps</h3>
      <p class="paragraph-style-B">
        <strong>For Neo4J 3.5 (Using graph.db.tgz)</strong>
      </p>
      <ul class="paragraph-style-B">
        <li>Download the graph.db.tgz archive</li>
        <li>Ensure the Neo4J instance is stopped</li>
        <li>
          Extract the database files:
          <p class="dm-font">tar -xvzf graph.db.tgz -C $NEO4J_HOME/data/databases/</p>
        </li>
        <li>Start Neo4J instance</li>
      </ul>
      <p class="paragraph-style-B">
        <strong>For Neo4J 5 (Using neo4j.dump)</strong>
      </p>
      <ul class="paragraph-style-B">
        <li>Download the neo4j.dump file</li>
        <li>Ensure Neo4J instance is stopped</li>
        <li>
          Move the dump file to a suitable location, e.g.,
          <p class="dm-font">mv neo4j.dump $NEO4J_HOME/data/dumps/</p>
        </li>
        <li>
          Restore the database from the dump
          <p class="dm-font">neo4j-admin database load neo4j --from-path=$NEO4J_HOME/data/dumps/</p>
        </li>
        <li>Start Neo4J instance</li>
      </ul>
      <p class="paragraph-style-B">PDBe Graph data will be available in the running instance. Start exploring!</p>
    </div>
  </div>
</div>
