<div class="g-container" [style.flexDirection]="thumbDirection" [ngStyle]="config.style">
  @if (config.thumbnails) {
  <pdbc-gallery-thumb [state]="state" [config]="config.thumbnails" [style.background]="config.style?.background"></pdbc-gallery-thumb>
  }

  <div style="margin: 5px">
    <a mat-button color="accent" style="float: right; width: 142px" href="https://pdbe.org/{{state.images[0].pdbId}}" target="_blank"
      >{{state.images[0].pdbId?.toUpperCase()}} Overview <i class="icon icon-generic small" style="margin-top: -2px; display: inline-block" data-icon="x"></i
    ></a>
    <a mat-button color="accent" style="float: right; width: 106px; padding-left: 2px; padding-right: 2px" (click)="showDescription = !showDescription"
      >{{showDescription ? 'Hide' : 'Show' }} Caption</a
    >
  </div>
  <div class="g-box">
    <div class="g-image-box">
      <pdbc-gallery-image [state]="state" [config]="config" (loading)="loading = $event"></pdbc-gallery-image>

      @if (config.navigation) {
      <pdbc-gallery-nav [state]="state"></pdbc-gallery-nav>
      }

      <!--<div class="g-layer" *ngIf="state.images[state.currIndex].layer" [innerHtml]="state.images[state.currIndex].layer"></div>-->
    </div>

    @if (config.description) {
    <pdbc-gallery-text [state]="state" [config]="config.description" [(showDescription)]="showDescription"></pdbc-gallery-text>
    } @if (config.bullets) {
    <pdbc-gallery-bullets [state]="state" [config]="config.bullets"></pdbc-gallery-bullets>
    } @if (config.player) {
    <pdbc-gallery-player [state]="state" [config]="config.player"></pdbc-gallery-player>
    }
  </div>
</div>
