@if ( !loadedTracksAPIData() || !loadedConservationAPIData() || !loadedVariationAPIData() ) {
<ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '400px', 'margin-top': '8px' }"></ngx-skeleton-loader>
}
<div class="pdbe-protvista" [ngStyle]="{ display: loadedAllData() === true ? '' : 'none' }">
  <!-- Protvista manager for events and attribute management between components -->
  <nightingale-manager>
    <div class="pv-protvista elements-container">
      <!-- Div for elements sticky on top of Protvista -->
      <div id="pv-header-controls" class="always-on-top">
        @if (sequenceIsLoaded()) {
        <!-- Row containing Controls, Navigation, Sequence -->
        <div class="pv-track-row btns">
          <p>PDBe Track Viewer menu:</p>
          <button id="search-residue-btn" class="pv-link-btn" (click)="openSearchPanel()">Find and highlight residues</button>
          <!-- Control that opens panel for user custom data -->
          <button id="map-data-btn" class="pv-link-btn" (click)="openMapPanel()">Map your data</button>
          <button class="pv-link-btn" (click)="resetVisualization()">Reset visualisation</button>
        </div>
        <div class="pv-track-row">
          <!-- Column for controls -->
          <div class="pv-track-col small">
            <!-- Control that opens panel for Searching (highlighting) residues -->
            <!-- <a id="search-residue-btn" class="pv-link-btn" (click)="openSearchPanel()">Find and highlight residues</a> -->
            <!-- Control that opens panel for user custom data -->
            <!-- <a id="map-data-btn" class="pv-link-btn" (click)="openMapPanel()">Map your data</a> -->
            <!-- <a class="pv-link-btn" (click)="resetVisualization()">Reset visualisation</a> -->
          </div>
          <!-- Column for Navigation & sequence -->
          <div class="pv-track-col">
            <!-- Protvista Navigation bar -->
            <nightingale-navigation [length]="sequenceLength" height="30" margin-left="0" margin-right="10" use-ctrl-to-zoom></nightingale-navigation>
            <div style="position: relative; width: 100%">
              <div *ngIf="showZoomHint()" class="navigation-zoom-hint">
                Use handle bars <img [src]="handleBarSrc" /> or <kbd>Ctrl</kbd> + <kbd>Scroll</kbd> to zoom in/out of tracks
              </div>
              <!-- Protvista Sequence bar -->
              <nightingale-sequence
                [length]="sequenceLength"
                [sequence]="sequence"
                height="26"
                margin-left="0"
                margin-right="10"
                [fixedHighlight]="selectionHighlight()"
                use-ctrl-to-zoom
              ></nightingale-sequence>
            </div>
          </div>
        </div>
        <!-- Normal tracks for fixed selection data -->
        @if(fixedSelectionData()) {
        <lib-pv-track-block
          [trackName]="fixedSelectionInput()!.trackName"
          [subtracks]="fixedSelectionData()!"
          [sequenceLength]="sequenceLength"
          [selectionHighlight]="selectionHighlight()"
          [tooltips]="tooltips"
          [isCustomData]="true"
        >
        </lib-pv-track-block>
        }
        <!-- Normal tracks for user custom data -->
        <lib-pv-track-block
          trackName="custom-data"
          [subtracks]="customTrackData"
          [sequenceLength]="sequenceLength"
          [selectionHighlight]="selectionHighlight()"
          [tooltips]="tooltips"
          [isCustomData]="true"
        >
        </lib-pv-track-block>
        }
        <!-- When data is loading, display something -->
        @else {
        <div>Loading sequence...</div>
        }
      </div>
      <!-- Div for scrollable Protvista elements -->
      <div id="pv-scrollable" class="scrollable" (scroll)="onPvScroll($event)" [style.maxHeight.px]="calculatedHeight()">
        <!-- For most "normal" tracks -->
        @for (trackBlock of trackBlocks(); track $index) { @if (loadedTracksAPIData() && trackBlock.data) {
        <lib-pv-track-block
          [trackName]="trackBlock.name"
          [subtracks]="trackBlock.data"
          [sequenceLength]="sequenceLength"
          [selectionHighlight]="selectionHighlight()"
          [tooltips]="tooltips"
          [isCustomData]="false"
        ></lib-pv-track-block>
        } @else if (loadedTracksAPIData() && trackBlock.data === null) {
        <div class="pv-track-row no-data">
          <div class="pv-track-label-col">
            <span class="expand-icon" style="visibility: hidden">▸</span>
            {{ trackBlock.name }}
          </div>
          <div class="pv-track-container no-data">Data not available for this molecule</div>
        </div>
        } @else {
        <div>Loading tracks...</div>
        } }

        <!-- For nested "normal" tracks -->
        @for (trackNestedBlock of trackNestedBlocks(); track $index) { @if(loadedTracksAPIData() === true && trackNestedBlock.data.length > 0) {
        <lib-pv-nested-track-block
          [trackName]="trackNestedBlock.name"
          [subtrackNames]="trackNestedBlock.dataNames"
          [subtracks]="trackNestedBlock.data"
          [sequenceLength]="sequenceLength"
          [selectionHighlight]="selectionHighlight()"
          [tooltips]="tooltips"
          [isCustomData]="false"
        ></lib-pv-nested-track-block>
        } @else if(loadedTracksAPIData() === true && trackNestedBlock.data.length === 0) {
        <div class="pv-track-row no-data">
          <div class="pv-track-label-col">
            <span class="expand-icon" style="visibility: hidden">▸</span>
            {{ trackNestedBlock.name }}
          </div>
          <div class="pv-track-container no-data">Data not available for this molecule</div>
        </div>
        } @else {
        <div>Loading tracks...</div>
        } }

        <!-- For special conservation track -->
        <lib-conservation-track-block
          [ngStyle]="{ display: loadedConservationAPIData() === true && this.originalConservationData() ? '' : 'none' }"
          [sequenceLength]="sequenceLength!"
          [originalConservationData]="originalConservationData"
          [selectionHighlight]="selectionHighlight()"
          [helpLogoSrc]="helpLogoSrc"
          [tooltipText]="tooltips['aaProbs']"
          [isEntryData]="true"
        />
        <div class="pv-track-row no-data" [ngStyle]="{ display: loadedConservationAPIData() === true && this.originalConservationData() ? 'none' : '' }">
          <div class="pv-track-label-col">
            <span class="expand-icon" style="visibility: hidden">▸</span>
            Conservation
          </div>
          <div class="pv-track-container no-data">Data not available for this molecule</div>
        </div>

        <!-- For special variation track  -->
        <lib-variation-track-block
          [ngStyle]="{ display: loadedVariationAPIData() === true && this.originalVariationData()  ? '' : 'none' }"
          [chainId]="chainId()"
          [sequenceLength]="sequenceLength!"
          [originalVariationData]="originalVariationData"
          [selectionHighlight]="selectionHighlight()"
          [isEntryData]="true"
        />
        <div class="pv-track-row no-data" [ngStyle]="{ display: loadedVariationAPIData() === true && this.originalVariationData() ? 'none' : '' }">
          <div class="pv-track-label-col">
            <span class="expand-icon" style="visibility: hidden">▸</span>
            Variation
          </div>
          <div class="pv-track-container no-data">Data not available for this molecule</div>
        </div>

        <!-- Margin for extra tooltip space -->
        <div [ngStyle]="{ display: originalConservationData() || this.originalVariationData()  ? '' : 'none' }" style="margin-bottom: 150px"></div>

        <!-- Container for Tooltips (dynamic) and Panels of top Controls -->
        <div id="pv-tooltips-container">
          <!-- Control Panel for Searching (highlighting) residues -->
          <lib-search-residue-panel
            *ngIf="showSearchPanel"
            [residueData]="panelResidueData"
            [selectedResidues]="selectedResidues"
            [panelPosition]="searchPanelPosition"
            (selectedResiduesChange)="onSelectedResiduesChange($event)"
            (close)="showSearchPanel = false"
          />
          <!-- Control Panel for user custom data -->
          <lib-map-custom-data-panel
            *ngIf="showMapPanel"
            [residueData]="panelResidueData"
            [customRawTrackData]="customRawTrackData"
            [panelPosition]="mapPanelPosition"
            (customRawTrackDataChange)="onCustomRawTrackDataChange($event)"
            (close)="showMapPanel = false"
          />
        </div>
      </div>
    </div>
  </nightingale-manager>
</div>
