<!-- <div id="masthead" class="masthead header-nav-section" data-sticky data-sticky-on="large" data-top-anchor="header-search-section:bottom" data-btm-anchor="content:bottom"> -->
<div id="masthead" class="masthead header-nav-section">
  <!-- <div class="row large-offset-1 medium-offset-1"> -->

  <!-- <div class="row masthead-inner" style="padding-left:15px; padding-right:15px;"> -->
  <div class="row" style="padding-left: 15px; padding-right: 15px">
    <!-- <div class="large-10 large-offset-1 medium-offset-1 medium-10 small-12"> -->
    <nav style="width: 100%">
      <ul
        id="local-nav"
        class="dropdown menu float-left"
        data-description="navigational"
        role="menubar"
        data-dropdown-menu="1xnjtv-dropdown-menu"
      >
        <li
          *ngIf="activePage() === 'home' || showExtra() === false"
          role="menuitem"
          [ngClass]="{ active: activePage() === 'home' }"
        >
          <a
            routerLink="/"
            onclick="gtag('event', 'page_route', {'event_category': 'nav_click', 'event_label': 'nav_home', 'value': undefined})"
            >Home</a
          >
        </li>
        <li
          *ngIf="activePage() === 'services' || showExtra() === false"
          role="menuitem"
          [ngClass]="{ active: activePage() === 'services' }"
        >
          <a
            routerLink="/services"
            onclick="gtag('event', 'page_route', {'event_category': 'nav_click', 'event_label': 'nav_services', 'value': undefined})"
            >Services</a
          >
        </li>
        <li
          *ngIf="activePage() === 'partners' || showExtra() === false"
          role="menuitem"
          [ngClass]="{ active: activePage() === 'partners' }"
        >
          <a
            routerLink="/partners"
            onclick="gtag('event', 'page_route', {'event_category': 'nav_click', 'event_label': 'nav_partners', 'value': undefined})"
            >Partners and data</a
          >
        </li>
        <li
          *ngIf="activePage() === 'join' || showExtra() === false"
          role="menuitem"
          [ngClass]="{ active: activePage() === 'join' }"
        >
          <a
            routerLink="/join"
            onclick="gtag('event', 'page_route', {'event_category': 'nav_click', 'event_label': 'nav_join', 'value': undefined})"
            >Join PDBe-KB</a
          >
        </li>
        <li
          *ngIf="showExtra()"
          class="extra-items-menu is-dropdown-submenu-parent opens-right"
          role="none"
          aria-haspopup="true"
          aria-label="Also in this section"
        >
          <a role="menuitem">Also in this section</a>
          <ul
            class="menu submenu is-dropdown-submenu first-sub vertical"
            data-submenu=""
            role="menubar"
          >
            <li *ngIf="activePage() !== 'home'" role="menuitem">
              <a
                routerLink="/"
                onclick="gtag('event', 'page_route', {'event_category': 'nav_click', 'event_label': 'nav_home', 'value': undefined})"
                >Home</a
              >
            </li>
            <li *ngIf="activePage() !== 'services'" role="menuitem">
              <a
                routerLink="/services"
                onclick="gtag('event', 'page_route', {'event_category': 'nav_click', 'event_label': 'nav_services', 'value': undefined})"
                >Services</a
              >
            </li>
            <li *ngIf="activePage() !== 'partners'" role="menuitem">
              <a
                routerLink="/partners"
                onclick="gtag('event', 'page_route', {'event_category': 'nav_click', 'event_label': 'nav_partners', 'value': undefined})"
                >Partners and data</a
              >
            </li>
            <li *ngIf="activePage() !== 'join'" role="menuitem">
              <a
                routerLink="/join"
                onclick="gtag('event', 'page_route', {'event_category': 'nav_click', 'event_label': 'nav_join', 'value': undefined})"
                >Join PDBe-KB</a
              >
            </li>
            <li
              class="bug-fix-placeholder is-dropdown-submenu-parent is-submenu-item is-dropdown-submenu-item opens-right"
              style="display: none !important"
              role="none"
              aria-haspopup="true"
              aria-label="A workaround"
            >
              <a href="#" role="menuitem">A workaround</a>
              <ul
                class="menu submenu is-dropdown-submenu vertical"
                data-submenu=""
                role="menubar"
              >
                <li
                  role="none"
                  class="is-submenu-item is-dropdown-submenu-item"
                >
                  <a href="#" role="menuitem"
                    >for a bug where the dropdown menu fails sometimes unless
                    there are two submenus in the submenu</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <!-- <ul class="menu float-right">
              <li role="menuitem">
                <a href="https://www.ebi.ac.uk/support/PDBe" target="_blank" class="exit-link" style="border-bottom: none !important;">Feedback</a>
              </li>
          </ul> -->
    </nav>
    <!-- </div> -->
  </div>
</div>
