<div class="interaction-container">
  <div class="interaction-header">
    <span class="heading-2"> Interaction statistics</span>
  </div>
  <div class="view-container">
    <div class="heatmap-description">
      <span class="paragraph-3"
        >Interaction statistics shows the frequency of interaction of each atom of small molecule with any amino acid in all the structures to which it is bound. This
        information was computed using 44 ligand instances in 24 PDB structures and 43 PDB chains.</span
      >
      <div>
        <span class="paragraph-3">Protein-ligand interactions are computed using</span>
        <pdbc-pdbe-link-button
          [externalLink]="true"
          [label]="'Arpeggio webserver'"
          [url]="'https://www.sciencedirect.com/science/article/pii/S0022283616305332'"
          [fontStyle]="'Paragraph 3 (16px)'"
          [fontColor]="'#3B6FB6'"
          [hoverColor]="'#193F90'"
          [visitedColor]="'#563D82'"
          [focusBorderColor]="'#3B6FB6'"
          [activeFontWeight]="300"
          [whiteSpace]="'normal'"
        ></pdbc-pdbe-link-button>
      </div>
      <div></div>
      <pdbc-pdbe-link-button
        [externalLink]="true"
        [label]="'Download all interactions'"
        [url]="this.intxUrl"
        [fontStyle]="'Paragraph 3 (16px)'"
        [fontColor]="'#3B6FB6'"
        [hoverColor]="'#193F90'"
        [visitedColor]="'#563D82'"
        [focusBorderColor]="'#3B6FB6'"
        [activeFontWeight]="300"
        [whiteSpace]="'normal'"
      ></pdbc-pdbe-link-button>
    </div>
    <div class="intx-component-container">
      <div class="heatmap-container">
        <pdbe-ligand-interactions #ligHeatMap></pdbe-ligand-interactions>
      </div>
      <div class="ligandEnv-container">
        <div class="ligandEnv-header">
          <span class="heading-4">Interaction frequency of STI molecule</span>
          <img id="helper_icon" src="{{ helpLogoSrc }}" />
        </div>
        <div class="ligandEnv-content">
          <pdb-ligand-env #ligandEnv id="ligand-int-env"></pdb-ligand-env>
        </div>
      </div>
    </div>
  </div>
</div>
