@if(mappedCrossLinks().length){
<div id="ligand-databases-section">
  <header>
    <h3>Ligand-specific databases</h3>
    <button class="vf-button vf-button--link" (click)="facade.downloadJSON()">
      Download list of all databases IDs
      <i class="icon icon-common icon-download"></i>
    </button>
  </header>
  <section class="cross-links">
    @for(crosslink of mappedCrossLinks(); track crosslink.resource){
    <div class="cross-link">
      <p>{{ crosslink.resource }}</p>
      <div class="resource-ids" (scroll)="onScroll($event)">
        @for(id of crosslink.resourceIds; track id){ @let url = crosslink.link + id;
        <a [href]="url" target="_blank">
          {{ id }}
          <i class="icon icon-link icon-common"></i>
        </a>
        }
      </div>
    </div>
    }
  </section>
</div>
}
