header {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;

  button {
    align-self: flex-end;
  }

  @media screen and (width <= 768px) {
    flex-direction: column;

    button {
      align-self: flex-start;
    }
  }
}

h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 39px;
}

.cross-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 40px;

  @media screen and (width <= 768px) {
    grid-template-columns: 1fr;
  }

  .cross-link {
    display: flex;
    gap: 12px;

    .resource-ids {
      display: flex;
      flex-direction: column;
      min-height: 40px;
      max-height: 100px;
      overflow-y: auto;
      width: 100%;

      &.top-shadow {
        box-shadow: inset 0 10px 10px -10px rgb(0 0 0 / 50%);
      }

      &.bottom-shadow {
        box-shadow: inset 0 -10px 10px -10px rgb(0 0 0 / 50%);
      }

      a {
        align-self: flex-start;
      }
    }

    p {
      color: var(--Neutral-900, #1a1c1a);
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      width: 132px;
      max-width: 132px;
      min-width: 132px;
    }

    a {
      box-shadow: none;
      border: none;
      color: var(--Blue-600, #3b6fb6);
      font-size: 16px;
      font-weight: 500;
      line-height: 27.2px;

      i {
        margin-left: 10px;
      }
    }
  }
}
