.ligand-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.image-container {
  display: flex;
  width: 150px;
  height: 150px;
  padding: 0 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--Neutral-600, #707372);
  position: relative;
  transition: all 2s ease-in;

  .wallpaper {
    position: absolute;
    inset: 0;
    background: #f2f2f2;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;

    span {
      cursor: pointer;
    }
  }

  &:hover > .wallpaper {
    display: flex;
    background: #f2f2f2a1;
  }
}

.ligand-description {
  a {
    color: #3b6fb6;
    border: none;
    font-size: 19px;
    font-weight: 500;
    line-height: 28.5px; /* 150% */

    .icon-common {
      margin-left: 5px;
    }
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    margin: 0;
    margin-bottom: 12px;
  }
}

.description-content {
  display: flex;
  align-items: flex-start;

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
  }
}

.content {
  display: flex;
  padding: 0 4px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;

  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;

    i {
      height: 14px;
      width: 14px;
    }
  }
}

::ng-deep .complex-name-tooltip {
  .mdc-tooltip__surface {
    background-color: #fff !important;
    color: #1a1c1a !important;
    font-size: 16px !important;
    line-height: 27px;
    padding: 10px;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);

    // white-space: nowrap;
    max-width: 400px !important;
    max-height: unset !important;
  }
}
