@if(tabDataLoaded()){ @if(macromoleculeTableRows().length){
<main [class.change-display]="!isSidebarDisplayed()">
  @if(isSidebarDisplayed()){
  <pdbc-interactive-tables tabName="LLM" />
  }
  <div class="tab-content">
    @let icon = isSidebarDisplayed() ? 'left' : 'right'; @let text = isSidebarDisplayed() ? 'Open full-width' : 'Show Macromolecules';
    <button class="vf-button-ghost" (click)="toggleSidebar()">
      <img [src]="'assets/icons/two_arrows_' + icon + '.png'" alt="arrow icons" />
      <span>{{text}}</span>
    </button>

    <section class="info-banner">
      <p>
        This page contains residue level text-mined data from open access publications using AI methods developed by the
        <a href="https://huggingface.co/PDBEurope" target="_blank">PDBe team</a>.
        <a href="https://www.nature.com/articles/s41597-024-03841-9" target="_blank">Learn more...</a> <br />
        All data is sourced from our open and free-to-use <a href="https://www.ebi.ac.uk/pdbe/aggregated-api/" target="_blank">Aggregated API endpoints.</a>
      </p>
      <p><strong>Primary publication: </strong><span [innerHTML]="primaryPublication()?.title"></span></p>
      <p>
        @if(primaryPublication()?.doi && primaryPublication()?.pubmed_id){
        <span class="row__right__pmid__info">
          <i>{{ primaryPublication()?.journal_info?.pdb_abbreviation }}</i>
          {{ primaryPublication()?.journal_info?.volume }} {{ primaryPublication()?.journal_info?.pages }} ({{ primaryPublication()!.journal_info.year }})
        </span>
        } @if(primaryPublication()?.pubmed_id){
        <span class="row__right__authors__title">PMID:</span>
        <a [href]="'https://europepmc.org/article/MED/' + primaryPublication()?.pubmed_id" target="_blank"
          >{{ primaryPublication()?.pubmed_id }}
          <i class="icon icon-link icon-common" style="margin-left: 5px"></i>
        </a>
        }
      </p>
    </section>

    @if (currentMacromoleculeDatum()) { @if (currentMacromoleculeDatum()?.additionalData?.molecule?.molecule_name?.length) {
    <h5>{{ currentMacromoleculeDatum()!.additionalData.molecule.molecule_name[0] }}</h5>
    }

    <section class="info">
      <!-- <div class="info-grouped left"> -->

      @if(currentMacromoleculeDatum()!.organisms.length){
      <div class="info-row">
        <span class="micro-title"> Source organism </span>
        <article>
          <a [href]="generateOrganismSearchUrl(currentMacromoleculeDatum()!.organisms[0])" target="_blank">
            <em>{{currentMacromoleculeDatum()!.organisms[0]}}</em>
            <img src="assets/icons/link_search_icon.png" alt="search icon" style="margin-left: 5px" />
          </a>
        </article>
      </div>
      } @if(currentMacromoleculeDatum()!.mappedResidues?.length){
      <div class="info-row">
        <span class="micro-title"> UniProt mapping </span>
        <article class="uniport-mapping">
          @for(residue of currentMacromoleculeDatum()!.mappedResidues; track residue.uniprot; let index = $index;){ @let range = residue.range; @if(range.length <=
          2){
          <span
            >Canonical <a [href]="'https://www.uniprot.org/uniprotkb/' + residue.uniprot" target="_blank">{{residue.uniprot}}</a> (residues:
            {{residue.range.join(',')}}; coverage: {{residue.coverage}})</span
          >
          } @else { @if(residue.open){
          <div>
            Canonical <a [href]="'https://www.uniprot.org/uniprotkb/' + residue.uniprot" target="_blank">{{residue.uniprot}}</a>
            (residues: {{range.join(', ')}}; coverage: {{residue.coverage}})
            <span class="residue-action-button" (click)="residue.open = !residue.open">show less</span>
          </div>
          }@else {
          <div>
            Canonical <a [href]="'https://www.uniprot.org/uniprotkb/' + residue.uniprot" target="_blank">{{residue.uniprot}}</a>
            residues: {{range.slice(0,2).join(', ')}}...
            <span class="residue-action-button" (click)="residue.open = !residue.open">show all</span>
          </div>
          } } } @for(res of bestResidues(); track res.name;){
          <span
            >Best match <a [href]="'https://www.uniprot.org/uniprotkb/' + res.uniprot" target="_blank">{{res.uniprot}}</a> (residues: {{res.mappings[0].unp_start}} -
            {{res.mappings[0].unp_end}})</span
          >
          }
        </article>
      </div>
      }

      <!-- </div> -->
    </section>
    }

    <div class="chains">
      @if(dropdownOptions.length > 1){
      <div class="dropdown-container">
        <pdbc-entry-dropdown
          [searchable]="false"
          searchTitle="''"
          [downloadable]="false"
          [islink]="false"
          [options]="dropdownOptions"
          [title]="dropdownSelected"
          (optionClickedEvent)="onDropdownSelect($event)"
        >
        </pdbc-entry-dropdown>
      </div>
      }@else if(dropdownOptions.length === 1){
      <p>{{dropdownOptions[0].name}}</p>
      } @else {}
    </div>
    @if (sequenceDetails.length > 0) {
    <div class="sequence-container">
      @for (sequenceDetail of sequenceDetails; track sequenceDetail;) {
      <div class="title">
        <span class="text">{{ sequenceDetail.title }}</span>
        <button (click)="copySequence(sequenceDetail)">Copy sequence</button>
      </div>
      @let molType = currentMacromoleculeDatum()!.additionalData.molecule.molecule_type; @if(currentProtvistaEntity() && molType) {
      <lib-smart-seq-viewer
        containerId="'smart-seq-viewer-llm'"
        class="sequence"
        [sequence]="sequenceDetail.fullSequence"
        [entityId]="currentProtvistaEntity()!"
        [chainId]="currentProtvistaChain()!"
        [backgroundDataInput]="backgroundAnnotation"
        [isNucleic]="molType.includes('nucleotide')"
      ></lib-smart-seq-viewer>
      } }
    </div>
    }
    <p class="residue-info">
      Residues containing text-mined annotations are colour-coded according to the number of structural quality criteria for which they contain at least one outlier.
    </p>
    <section class="chart-area" [class.collapsed]="compCommunication.isSidebarCollapsed()">
      <section class="table-wrapper">
        <ag-grid-angular
          class="ag-theme-quartz"
          style="width: 100%; height: 100%"
          [rowData]="filteredLLMAnnotations()"
          [columnDefs]="colDefs"
          [gridOptions]="gridOptions"
          (selectionChanged)="onSelectionChanged($event)"
          [paginationPageSizeSelector]="paginationPageSizeSelector()"
          overlayNoRowsTemplate="No ligand interactions found"
        />
      </section>
      <div class="container-3d">
        <div class="molstar-parent">
          @if (!molstarFirstRenderFinished()) {
          <div [style.width]="'100%'">
            <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '400px' }"></ngx-skeleton-loader>
          </div>
          }
          <div id="llm-molstar-container" class="molstar-container" #molstarContainer></div>
        </div>
      </div>
    </section>
  </div>
</main>
}@else {
<h5>No Macromolecules data available</h5>
} }@else {
<ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '400px' }"></ngx-skeleton-loader>
}
