<section>
  @if(assemblyTableRows().length){
  <header>
    <section class="header">
      <h2>Assembly (preffered)</h2>
      <div class="controls">
        <img src="/assets/images/mobile/mb-arrow-{{expanded() ? 'down':'up'}}.svg" alt="arrow up" (click)="toggleBottomsheetHeight()" />
        <img src="/assets/images/mobile/mb-close.svg" alt="close icon" (click)="closeBottomSheet()" />
      </div>
    </section>
  </header>
  @if(prefferedAssembly()){
  <p class="sub-header">{{prefferedAssembly().multimericStates}}</p>

  <!-- <div class="action">
    <span>Display assembly symmetry</span>
    <mat-slide-toggle [(ngModel)]="isChecked" />
  </div> -->

  <!-- Assembly name -->

  @if(prefferedAssembly().complexName){
  <article>
    <p>Assembly name</p>
    <p class="content">{{prefferedAssembly().complexName}}</p>
  </article>
  }

  <!-- Multimeric state -->

  @if(prefferedAssembly().multimericStates){
  <article>
    <p>Multimeric state</p>
    <p class="content">{{prefferedAssembly().multimericStates}}</p>
  </article>
  }

  <!-- PDBe complex ID -->

  @if(prefferedAssembly().complexId){
  <article>
    <p>PDBe complex ID</p>
    <p class="content">
      <a [href]="'https://wwwdev.ebi.ac.uk/pdbe/connect/complex/' + prefferedAssembly().complexId" target="_blank">{{prefferedAssembly().complexId}}</a>
    </p>
  </article>
  }

  <!-- Accessible surface area -->

  @if(prefferedAssembly().additionalData.accessibleSurfaceArea){
  <article>
    <p>Accessible surface area</p>
    <p class="content">{{prefferedAssembly().additionalData.accessibleSurfaceArea}}</p>
  </article>
  }

  <!-- Buried surface area -->

  @if(prefferedAssembly().additionalData.buriedSurfaceArea){
  <article>
    <p>Buried surface area</p>
    <p class="content">{{prefferedAssembly().additionalData.buriedSurfaceArea}}</p>
  </article>
  }

  <!-- Dissociation area -->

  @if(prefferedAssembly().additionalData.dissociationArea){
  <article>
    <p>Dissociation area</p>
    <p class="content">{{prefferedAssembly().additionalData.dissociationArea}}</p>
  </article>
  }

  <!-- Dissociation energy -->

  @if(prefferedAssembly().additionalData.dissociationEnergy){
  <article>
    <p>Dissociation energy (ΔGdiss)</p>
    <p class="content">{{prefferedAssembly().additionalData.dissociationEnergy}}</p>
  </article>
  }

  <!-- Dissociation entropy -->

  @if(prefferedAssembly().additionalData.dissociationEntropy){
  <article>
    <p>Dissociation entropy (TΔSdiss)</p>
    <p class="content">{{prefferedAssembly().additionalData.dissociationEntropy}}</p>
  </article>
  }

  <!-- Assembly symmetry -->
  @if(prefferedSymmetry()?.type){
  <article>
    <p>Assembly symmetry</p>
    <p class="content">{{prefferedSymmetry()?.type}} - {{prefferedSymmetry()?.symbol}}</p>
  </article>
  }

  <!-- interfaceCount number -->

  @if(prefferedAssembly().additionalData.interfaceCount){
  <article>
    <p>Number of interfaces</p>
    <p class="content">{{prefferedAssembly().additionalData.interfaceCount}}</p>
  </article>
  }

  <footer>
    This entry contains {{assemblyTableRows().length - 1}} more assemblies with different assembly compositions. Alternative assemblies are available on the desktop
    version.
  </footer>

  } }
</section>
