section {
  .sub-header {
    color: #54585a;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.5px;
    margin-bottom: 12px !important;
  }

  .action {
    margin-bottom: 12px;
    display: flex;
    gap: 8px;
    align-items: center;

    span {
      color: #1a1c1a;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 22.4px;
    }
  }

  article {
    margin-bottom: 12px;

    p {
      color: #1a1c1a;
      font-size: 16px;
      font-weight: 500;
      line-height: 27.2px;

      &.content {
        font-weight: 400;
      }
    }
  }

  footer {
    color: #54585a;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
  }
}
