.page-padding {
  padding: 25px 15px 15px 15px;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
}

.form-instruction {
  padding: 0 15px 1px 15px;
  font-weight: bold;
}

.head-instruction {
  padding: 0 25px 1px 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  margin: 4px;
}

.item-title {
  font-size: 25px;
  color: rgb(0, 124, 130);
  font-weight: 500;
  text-align: center;
}

.item-small-title {
  font-size: 18.5px;
  color: teal;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 5px;
}

.format-box {
  font-family: Helvetica, Arial, FreeSans, 'Liberation Sans', sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid teal;
  padding: 20px 20px 1px 20px;
  margin: 15px;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  border-radius: 10px;
}

.errorStyle {
  white-space: normal;
  width: 450px;
  color: red;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 0.25rem;
}

.form-choose {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}

.box-container {
  width: 350px;
  margin: 10px;
  line-height: 25px;
  padding: 20px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  background-color: #f9f9f9;
}

.format-title {
  color: #29a0b1;
  padding-bottom: 10px;
}

.line-broken-tooltip {
  white-space: pre;
}

.spinner-wrapper {
  display: flex;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: grey;
}

.tooltipped {
  color: #29a0b1;
  display: inline;
}

::ng-deep .tooltip {
  font-size: 12px !important;
  min-width: 350px;
  white-space: pre-line;
}

::ng-deep .tooltipsmall {
  font-size: 12px !important;
  white-space: pre-line;
}

.btn-group .button {
  background-color: #4caf50; /* Green */
  border: 1px solid green;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  margin-right: 5px;
  padding: 0.85em 1em;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #3e8e41;
}

.has-tooltip {
  border-bottom: 1px rgb(0, 124, 130) dotted;
  cursor: help;
}
