.overview-details {
  display: flex;
  width: 341px;
  height: 480px;
  overflow-y: auto;

  // padding: 0 4px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  .title {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .assembly-title {
    margin-bottom: 12px;
  }

  .domain-title {
    color: var(--Neutral-900, #1a1c1a);
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.6px; /* 166.25% */
    margin-bottom: 4px;
  }
}

#domain-dropdown {
  width: 100%;
  margin-bottom: 8px;
}

//  For assembly tab selected
.info-row {
  display: flex;
  gap: 0;
  margin-bottom: 8px;
  flex-direction: column;
  position: relative;

  &-header {
    display: flex;
    align-items: center;

    img {
      height: 15px;
      cursor: pointer;
      margin-left: 2px;
    }
  }

  & > span {
    // width: 100%;
    color: #1a1c1a;
    font-size: 16px;
    font-weight: 500;
    display: block;
  }
}

//  For assembly tab selected
article {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;

  i {
    // margin-left: 5px;
    margin-left: 2px;
    display: inline-block;
  }

  i::before {
    --icon-search-color: #193f90;

    width: 12px;
    height: 12px;
    mask-size: auto 12px;
    position: absolute;
    z-index: -1;
    top: 4px;
  }
}

// for list views of Macromolecules, Ligands, Domains, Modifications
.select-gallery-container {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(206 201 185 / 50%);
  position: relative;

  .color-code-bar {
    height: 100%;
    position: absolute;
    width: 8px;
    background-color: #007b53;
  }

  button {
    margin-left: 9px;
  }

  .color-code-bars {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    // width: 10px;
    min-height: 100%;

    // max-height: 35px;
    // flex-wrap: wrap;
    // padding-right: 9px;
    padding-top: 4px;
    padding-bottom: 4px;
    gap: 3px;

    .color-code-sqr {
      height: 12px;
      width: 12px;
      background-color: #007b53;
    }
  }

  .select-entity-btn {
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;

    // font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    line-height: 27.2px; /* 170% */
    text-align: left;
    width: 100%;
  }
}

.select-gallery-container.invalid .select-entity-btn {
  cursor: default;
}

// .select-gallery-container.valid:hover,
.select-gallery-container.active {
  background: #f3f3f3;
  border-bottom: none;

  .color-code-bars {
    background: #f3f3f3;
  }

  .select-entity-btn {
    background: #f3f3f3;
    text-shadow: 0.5px 0 0.5px #007b53;
    color: var(--Brand-700, #007b53);
  }
}

.select-gallery-container.nested-1 {
  padding-left: 12px;
}

// .select-gallery-container.nested-1:hover {
//   background: #f3f3f3;
// }

// when list view item is selected
.more-details-btn {
  display: flex;

  // border-bottom: 1px solid rgb(206 201 185 / 50%);
  background: #f3f3f3;
  width: 100%;

  .color-code-bar {
    height: 100%;
    width: 6px;
    background-color: #007b53;
  }

  .details-btn {
    cursor: pointer;
    color: var(--Blue-600, #3b6fb6);

    // font-family: "IBM Plex Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px; /* 160% */
    margin-left: 16px;
    border-bottom: 1px solid rgb(206 201 185 / 50%);
  }
}

// domain resource dropdown
mat-form-field {
  margin-top: 8px;
  width: 100%;
}

h5 {
  margin-bottom: 16px;
}

h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 27.2px; /* 170% */
  margin-bottom: 0;
}

::ng-deep pdbc-entry-dropdown#domain-dropdown {
  button {
    height: 25px !important;
    width: 100% !important;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

p {
  font-size: 16px;
}
