<div id="structures-section">
  <h3>Structures</h3>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <h4>{{ this.dataSource.data.length }} PDB structures</h4>
      </ng-template>
      <div class="controllers">
        <div class="downloads" libClickOutside (clickOutside)="onClickedOutside()">
          <button class="vf-button vf-button--link" (click)="onShowOptions()">
            <span>Download structures</span>
            <i class="icon icon-common icon-chevron-down"></i>
          </button>
          @if(showOptions){
          <section class="download-options">
            <span (click)="downloadCSV()">Table .csv</span>
            <span (click)="downloadMMCIF()">3D coordinates .mmCIF</span>
            @if(isLoadingEntry()){
            <div style="padding-left: 35px">
              <mat-progress-spinner class="example-margin" [mode]="'indeterminate'" [diameter]="'39'"></mat-progress-spinner>
            </div>
            }
          </section>
          }
        </div>
        <div class="filters">
          <span id="filter_head" class="paragraph-3">Show only</span>
          <form [formGroup]="form">
            <div class="checkbox-field" for="cofactor">
              <input type="checkbox" id="cofactor" formControlName="cofactorLike" />
              <label for="cofactor">Cofactor-like</label>
              <lib-tool-tip></lib-tool-tip>
            </div>
            <div class="checkbox-field">
              <input type="checkbox" id="reactant" formControlName="reactantLike" />
              <label for="reactant">Reactant-like</label>
              <lib-tool-tip></lib-tool-tip>
            </div>
            <div class="checkbox-field">
              <input type="checkbox" id="drug" formControlName="drugLike" />
              <label for="drug">Drug-like</label>
              <lib-tool-tip></lib-tool-tip>
            </div>
            <div class="checkbox-field">
              <input type="checkbox" id="unannotated" formControlName="unannotated" />
              <label for="unannotated">Unannotated</label>
              <lib-tool-tip></lib-tool-tip>
            </div>
          </form>
        </div>
        <div class="search-box">
          <input type="search" [formControl]="searchText" placeholder="Search the table" class="form_input" name="search" />
          <i class="icon icon-common icon-search"></i>
        </div>
      </div>
      <div>
        <table mat-table [dataSource]="dataSource" matSort id="structure-table">
          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Protein name</th>
            <td mat-cell *matCellDef="let item">{{ item.name || '-' }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="uniprot_id">
            <th mat-header-cell *matHeaderCellDef>PDBe-KB Proteins</th>
            <td mat-cell *matCellDef="let item">
              <a [href]="'https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/' + item.uniprot_id" target="_blank">
                {{ item.uniprot_id || '-' }}
                @if(item.uniprot_id){
                <i class="icon icon-link icon-common"></i>
                }
              </a>
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="ec_number">
            <th mat-header-cell *matHeaderCellDef>EC numbers</th>
            <td mat-cell *matCellDef="let item">
              @for(number of item.ec_numbers; track number){
              <span class="ec-number">{{ number }}</span>
              }
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="annotation">
            <th mat-header-cell *matHeaderCellDef>Ligand annotation</th>
            <td mat-cell *matCellDef="let item">
              @if(item.annotations && item.annotations.length){ @for(number of item.annotations; track number){
              <span class="annotation">{{ number }}</span>
              } } @else {
              <span class="annotation">unannotated</span>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Total structures</th>
            <td mat-cell *matCellDef="let item" class="count">
              <a role="button" (click)="openTotalDialog(item.interacting_chains)">
                {{ item.interacting_chains | ligandInteractingChainsNumber }}
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; let odd = odd; columns: displayedColumns" [ngClass]="{ odd_row: odd }"></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell">No data matching the filter</td>
          </tr>
        </table>
        <div class="paginator-container">
          <mat-paginator
            [length]="this.structureData.length"
            [pageSize]="5"
            [pageSizeOptions]="pageSizeOptions()"
            showFirstLastButtons
            aria-label="Select page of proteins"
          >
          </mat-paginator>
        </div>
      </div>
    </mat-tab>
    <mat-tab [disabled]="true">
      <ng-template mat-tab-label>
        <span class="heading-4"> 20 Nucleic Acids (50 PDB structures) </span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
