@if (tutorialTourService.showPropertiesTourBanner() && isBannerCookies()) {
<section class="onboarding-tutorial-banner">
  <img [src]="'img/light-star.svg' | asset" alt="light start icon" />
  <p>We have redesigned this page to enhance your experience. <span (click)="startPropertiesTabTour()">Take an on-page tour.</span></p>
</section>
}

<div id="properties-section">
  <header>
    <button class="vf-button vf-button--link" (click)="downloadJSON()">
      Download properties
      <i class="icon icon-common icon-download"></i>
    </button>
  </header>
  <div class="property-boxes">
    <div class="property-box-end">
      <div class="property-sub-box" id="molecular-properties-tour">
        <span class="heading-4"> Molecular properties</span>
        @for(molProperty of molProperties; track molProperty.name){
        <pdbc-name-value [data]="molProperty"></pdbc-name-value>
        }
      </div>
      <div class="property-sub-box" id="conformational-properties-tour">
        <span class="heading-4"> Conformational properties</span>
        @for(confProperty of confProperties; track confProperty.name){
        <pdbc-name-value [data]="confProperty"></pdbc-name-value>
        }
      </div>
    </div>
    <div class="property-box-end">
      <div class="property-sub-box" id="ring-properties-tour">
        <span class="heading-4"> Ring properties</span>
        @for(ringProperty of ringProperties; track ringProperty.name){
        <pdbc-name-value [data]="ringProperty"></pdbc-name-value>
        }
      </div>
    </div>
    <div class="property-box-end">
      <div class="property-sub-box" id="surface-properties-tour">
        <span class="heading-4"> Surface properties</span>
        @for(surfProperty of surfProperties; track surfProperty.name){
        <pdbc-name-value [data]="surfProperty"></pdbc-name-value>
        }
      </div>
      <div class="property-sub-box" id="functional-properties-tour">
        <span class="heading-4"> Functional group properties</span>
        @for(funProperty of funProperties; track funProperty.name){
        <pdbc-name-value [data]="funProperty"></pdbc-name-value>
        }
      </div>
      <div class="property-sub-box" id="stereochemical-properties-tour">
        <span class="heading-4"> Stereochemical properties</span>
        @for(stereoProperty of stereoProperties; track stereoProperty.name){
        <pdbc-name-value [data]="stereoProperty"></pdbc-name-value>
        }
      </div>
    </div>
  </div>
</div>
