@if (ligands().length) {
<div id="ligands-section">
  <!-- <h3>Ligands</h3> -->
  <p>
    This section shows <strong>{{this.ligands().length}}</strong> ligands observed directly bound to the preferred assemblies representing this complex in the PDB
  </p>
  <div class="search-box">
    <input type="search" [formControl]="searchTerm" placeholder="Search by ligand name or id" />
    @if (!searchTerm.value) {
    <i class="icon icon-common icon-search"></i>
    }
  </div>
  <div class="grid-container">
    @for (ligand of ligandsPage(); track ligand.ligandId) {
    <pdbc-complex-ligand-grid [ligand]="ligand" [complexId]="complexId() ?? ''" />
    }
  </div>
  <mat-paginator
    class="paginator-container"
    [length]="ligandsLength()"
    [pageSize]="ligandsPageSize()"
    [pageSizeOptions]="ligandsPageSizeOptions()"
    (page)="handlePageEvent($event)"
    showFirstLastButtons
    aria-label="Select page of ligands"
  >
  </mat-paginator>
</div>
} @else {
<h4>No ligands data available yet!</h4>
}
