<header>
  <h4 class="heading-4" libClickOutside (clickOutside)="onClickedOutside()">
    Overall view, and highlighted <br />
    scaffolds and fragments 
    <lib-tool-tip>
      <p>This image gallery displays several views of the ligand structure:</p>
      <ul>
        <li><strong>Basic Structural Representation: </strong>Shows the overall structure of the ligand.</li>
        <li><strong>Detailed Structural Representation: </strong>Highlights individual atoms within the ligand.</li>
        <li><strong>Murcko Scaffold: </strong>Presents the scaffold of the ligand highlighted in grey.</li>
        <li><strong>Highlighted Fragments: </strong>Displays various ligand fragments, highlighted in grey.</li>
      </ul>
    </lib-tool-tip>
  </h4>
</header>
<div class="gallery-container">
  <div class="gallery">
    <button class="control" (click)="onPreviousClick()">
      <img src="{{ arrowSrc }}" class="arrow" />
    </button>
    <div class="image-container" #imageContainer>
      <div class="wallpaper">
        <span (click)="openMolstarDialog()">
          View in 3D&nbsp;
          <i class="icon icon-common icon-eye"></i>
        </span>
      </div>
    </div>
    <button class="control" (click)="onNextClick()">
      <img src="{{ arrowSrc }}" class="arrow right" />
    </button>
  </div>
  <p class="paragraph-3">{{ this.structureDescription }}</p>
  @if(showCopyButtons){
  <section class="copy-section">
    <p (click)="copySmiles()">
      SMILES
      <i class="icon icon-common icon-clone" matTooltipClass="description-tooltip" matTooltip="Copy the substructure smiles" matTooltipPosition="above"></i>
    </p>
    <P (click)="copyInchiKeys()"
      >INCHIKey
      <i class="icon icon-common icon-clone" matTooltipClass="description-tooltip" matTooltip="Copy the substructure InchiKeys" matTooltipPosition="above"></i>
    </P>
  </section>
  }

  <div #slide class="slide-container"></div>
</div>
