header {
  position: relative;
}

h4 {
  text-align: center;
  position: relative;
  margin-bottom: 16px;

  lib-tool-tip {
    top: 27px;
  }
}

.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.image-container {
  display: flex;
  width: 250px;
  height: 250px;
  padding: 0px 10px 0px 9px;
  justify-content: space-between;
  border: 1px solid #707372;
  background: #fff;
  position: relative;
  transition: all 2s ease-in;
  .wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f2f2f2;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;

    span {
      cursor: pointer;
    }
  }

  &:hover > .wallpaper {
    display: flex;
    background: #f2f2f2a1;
  }
}

.control {
  border: none;
  background-color: transparent;
  opacity: 80%;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.arrow {
  width: 24px;
  height: 24px;

  &.right {
    transform: rotate(180deg);
  }
}

.paragraph-3 {
  margin: 0;
  text-transform: capitalize;
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  align-self: stretch;
}
.slide {
  display: flex;
  width: 83px;
  height: 85px;
  justify-content: space-between;
  border: 1px solid #707372;

  background: #fff;
}
.active {
  border: 2px solid #085f5c;
}

section.copy-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  p {
    color: #3b6fb6;
    font-family: 'IBM Plex Sans';
    line-height: 27.2px;
    cursor: pointer;
    margin: 0;
    margin-right: 12px;
  }
}
