.home-bookmarks {
  position: sticky !important; /* Safari */
  position: sticky !important;
  top: 2.5rem;
  z-index: 3;
  height: 0;
  float: right;
  margin-top: 2rem;
  margin-right: -1.75rem;
  min-width: 92px;
  max-width: 92px;
}

.home-bookmarks div {
  padding: 4px !important;
  text-align: center;
  background-color: #5e9896;
  border-radius: 5px;
  color: #ffffff !important;
  max-width: fit-content;
  white-space: nowrap;
  margin-bottom: 4rem !important;
  transform: rotate(-90deg);
  cursor: pointer;
}

.home-bookmarks div:hover {
  padding: 7px !important;
  color: #000000 !important;
}

.icon-bookmark {
  transform: rotate(0deg) !important;
  min-width: 32px;
}

.anchor-bookmark {
  /* color: white; */
  color: inherit;
  border-bottom-width: 0;
  border-bottom-style: none;
}

.anchor-bookmark:visited,
.anchor-bookmark:focus,
.anchor-bookmark:active {
  /* color: white; */
  color: inherit;
  border-bottom-width: 0;
  border-bottom-style: none;
}

.anchor-bookmark:hover {
  color: #000000;
  border-bottom-width: 0;
  border-bottom-style: none;
}
