/* TODO: Work on this and fixing styles for everything until detail tabs */

/* TODO: After that work starts by switching their styles for tab.scss and adding empty states */

/* TODO: Then is work on View more about this component */

/* TODO: Finally extra styles and text content in bottom tabs */

/* TODO: We move to the status pages before style adjustments to citations */

/* TODO: We end up on the Exp & Val remake */

html {
  /* border radius of dropdown list container */
  --mat-menu-container-shape: 0px;
  --mat-app-corner-extra-small: 0px;

  /* font color of each dropdown item */
  --mat-menu-item-label-text-color: #000000;
  --mat-app-on-surface: #000000;

  /* left/right paddings of each dropdown item */
  --mat-menu-item-leading-spacing: 16px;
  --mat-menu-item-trailing-spacing: 16px;

  /* font family of each dropdown item */
  --mat-menu-item-label-text-font: 'IBM Plex Sans';
  --mat-app-label-large-font: 'IBM Plex Sans';

  /* line height of each dropdown item */
  --mat-menu-item-label-text-line-height: 27.2px;
  --mat-app-label-large-line-height: 27.2px;

  /* font size of each dropdown item */
  --mat-menu-item-label-text-size: 16px;
  --mat-app-label-large-size: 16px;

  /* letter spacing of each dropdown item */
  --mat-menu-item-label-text-tracking: 0;
  --mat-app-label-large-tracking: 0;

  /* font weight of each dropdown item */
  --mat-menu-item-label-text-weight: normal;
  --mat-app-label-large-weight: normal;
}

.mat-mdc-menu-content {
  max-height: 400px;
}

.mat-mdc-menu-item {
  /* min height of each dropdown item */
  min-height: 40px !important;
}

span.mat-mdc-menu-item {
  cursor: pointer;
}

span.mat-mdc-menu-item.small > .mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  font-size: 16px !important;
  line-height: 27.2px !important;
}
