.vf-button--secondary {
  --vf-button-border-color: #056643;
  --vf-button-background-color: #fff;
  --vf-button-shadow-border-color: #0a5032;
  --vf-button-shadow-background-color: #0a5032;
  --vf-button-border-color--visited: #0a5032;

  color: #0a5032;
  padding: 4px 8px;
  height: 36px;
  display: flex;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.2px;
}

.filter-btns-container {
  display: flex;
  margin-bottom: 12px;
  gap: 12px;
  flex-wrap: wrap;
}

.filter-btn {
  color: var(--Neutral-900, #1a1c1a);
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  padding: 4px 8px;
  cursor: pointer;
  background: #f3f3f3;
}

.filter-btn:hover {
  background: #e7efdd;
}

.filter-btn.active {
  color: #0a5032;
  font-weight: 500;
  border: 1px solid #e7efdd;
  background: #d0debb;
}

html {
  --mat-menu-container-shape: 0px;
  --mat-app-corner-extra-small: 0px;
  --mat-menu-item-label-text-color: #000000;
  --mat-app-on-surface: #000000;
  --mat-menu-item-leading-spacing: 16px;
  --mat-menu-item-trailing-spacing: 16px;
  --mat-menu-item-label-text-font: 'IBM Plex Sans';
  --mat-app-label-large-font: 'IBM Plex Sans';
  --mat-menu-item-label-text-line-height: 27.2px;
  --mat-app-label-large-line-height: 27.2px;
  --mat-menu-item-label-text-size: 16px;
  --mat-app-label-large-size: 16px;
  --mat-menu-item-label-text-tracking: 0;
  --mat-app-label-large-tracking: 0;
  --mat-menu-item-label-text-weight: normal;
  --mat-app-label-large-weight: normal;
}

.mat-mdc-menu-content {
  max-height: 400px;
}

.mat-mdc-menu-item {
  min-height: 40px !important;
}

span.mat-mdc-menu-item {
  cursor: pointer;
}

span.mat-mdc-menu-item.small > .mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  font-size: 16px !important;
  line-height: 27.2px !important;
}

.tab-tag {
  margin-left: 4px;
  display: inline-flex;
  padding: 0 2px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--Neutral-0, #fff);
  text-align: center;
  font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.5px;
  cursor: pointer;
}

.tab-tag.no-chip {
  display: none;
}

.tab-tag.na {
  background: var(--Red-700, #bd103b);
}

.tab-tag.new {
  background: var(--Brand-600, #0c8950);
}

.mat-mdc-tab-body-content {
  height: auto !important;
  overflow: visible !important;
  display: block !important;
}

.mat-mdc-tab-body {
  height: auto !important;
  overflow: visible !important;
  display: block !important;
}

.mat-mdc-tab-body.mat-mdc-tab-body-active {
  height: auto !important;
  overflow: visible !important;
  display: block !important;
  width: 100%;
}

.entry-pgs-tooltip {
  .mdc-tooltip__surface {
    background-color: #fff;
    color: #1a1c1a;
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 27px;
    padding: 10px;
    box-shadow:
      0 5px 5px -3px rgb(0 0 0 / 20%),
      0 8px 10px 1px rgb(0 0 0 / 14%),
      0 3px 14px 2px rgb(0 0 0 / 12%);
    max-width: 400px;
    max-height: unset;
    border-radius: 0;
    white-space: pre-line;
  }
}

// Subdiv within Molstar tooltip box, showing custom tooltips (e.g. validation, domains, annotations...)
.mvs-custom-tooltip-box {
  border: 1px solid currentcolor;
  padding-inline: 5px;
  margin-top: 5px;
}
