/*
 * Container for all tabs
*/
.tab-nav {
  display: flex;
  align-items: center;
  flex: 1 0 0;
  width: 100%;
}

/*
 * Container for each tab
*/
.tab-container {
  padding: 10px 16px;
  cursor: pointer;
}

.tab-container:hover {
  background-color: #fff;
}

.tab-container.active {
  background-color: #fff;
}

.vertical-line {
  display: initial;
  border-left: 1px solid #d0d0ce;
  height: 20px;
  margin-left: -1px;
}

/*
 * Tab clickable area (button)
*/
.tab-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #373a36;
  width: auto;
  font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 27.2px; /* 170% */
  cursor: pointer;
}

.tab-container.active > .tab-button {
  color: #1a1a1a;

  /* font-weight: 500; */
  text-shadow: 0.5px 0 0.5px #1a1a1a;
}

/*
 * Tab chip/tag
*/
.tab-tag {
  display: inline-flex;
  padding: 0 2px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--Neutral-0, #fff);
  text-align: center;

  /* Extra extra small body text */
  font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.5px; /* 150% */
  cursor: pointer;
}

.tab-tag.no-chip {
  display: none;
}

.tab-tag.na {
  background: var(--Red-700, #bd103b);
}

.tab-tag.new {
  background: var(--Brand-600, #0c8950);
}
