.filter-btns-container {
  display: flex;
  margin-bottom: 12px;
  gap: 12px;
}

.filter-btn {
  color: var(--Neutral-900, #1a1c1a);

  // font-family: 'IBM Plex Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.2px;
  padding: 4px 8px;
  height: 36px;
  cursor: pointer;
}

.filter-btn.hover {
  background: var(--Neutral-100, #f3f3f3);
}

.filter-btn.active {
  color: var(--Brand-900, #0a5032);
  background: var(--Neutral-100, #f3f3f3);
  text-shadow: 0.5px 0 0.5px #0a5032;
}
