@if (tableData) { @if (tableData.displayFilters) {
<div class="filter-btns-container">
  @for(tableFilter of tableData.tableFilters(); track tableFilter) {
  <button class="filter-btn" [ngClass]="currentTableFilter === tableFilter.types ? 'active' : ''" (click)="applyFilter(tableFilter)">
    {{ tableFilter.description }}
  </button>
  }
</div>
}
<ag-grid-angular
  style="margin-bottom: 50px"
  class="ag-theme-quartz table-3d"
  [style.height]="tableHeight"
  [rowData]="tableData.tableRows()"
  [columnDefs]="columnDefinitions"
  [defaultColDef]="defaultColumnDefinitions"
  [pagination]="true"
  (paginationChanged)="triggerTableSelection()"
  [gridOptions]="gridOptions"
  (gridReady)="onTableGridReady($event)"
  [rowSelection]="'single'"
  (selectionChanged)="onTableSelectionChanged($event)"
  [isExternalFilterPresent]="isExternalFilterPresent"
  [doesExternalFilterPass]="doesExternalFilterPass"
/>
}
