<header>
  <section class="title-info">
    <h1 class="heading-1">{{ entryId() }}</h1>
    <div class="information">
      <span>{{ experimentalMethod() }}</span>
      @if (resolutionValues() ?? [].length > 0) { @for (resolutionValue of resolutionValues(); track resolutionValue) { @if (resolutionValue !== undefined) {
      <span>{{ resolutionValue }}Å</span>
      } } }
      <span>Released {{ summaryData()?.releaseDate }}</span>
      <span>
        <a [href]="'https://dx.doi.org/10.2210/pdb' + entryId() + '/pdb'" target="_blank"
          >10.2210/pdb{{ entryId() }}/pdb
          <i class="icon icon-link icon-common"></i>
        </a>
      </span>
    </div>
  </section>
  <section class="action-buttons">
    <pdbc-entry-dropdown
      [searchTitle]="'Search all files'"
      [downloadable]="true"
      [islink]="false"
      [options]="downloadOptions()"
      title="Download files"
    ></pdbc-entry-dropdown>
    <pdbc-entry-dropdown [searchTitle]="'Search all files'" [downloadable]="false" [islink]="true" [options]="viewOptions()" title="View files"></pdbc-entry-dropdown>
  </section>
</header>
<section class="feedback">
  <p>Tell us what you think of the new PDBe pages</p>
  <button class="vf-button vf-button--search-pdbe" role="link" (click)="openFeedbackForm()">Share your feedback</button>
</section>
