<pdbc-pdbe-header-logo-menu [headerConfig]="headerLogoMenuConfig"></pdbc-pdbe-header-logo-menu>
<!-- <pdbc-pdbe-header-search
  [backgroundColor]="'rgba(8, 95, 92, 0.79)'"
  [hasAdvancedSearch]="false"
  [buttonText]="'Search'"
  [examples]="[
    { label: 'Q14676', url: 'https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/Q14676' },
    { label: '2etx', url: 'https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/2etx' }
  ]"
  [placeholder]="'Search in PDBe and PDBe-KB'"
  [suggestions]="[]"
  [searchButtonChipsType]="'PDBe-KB'"
></pdbc-pdbe-header-search> -->
<div id="main-container-outer"></div>
