<section>
  @if(currentViewState() === viewStates.Detail){
  <nav>
    <img src="/assets/images/mobile/blue-arrow-left.svg" alt="arrow left" />
    <span (click)="goBackToList()">Go to Domains list </span>
  </nav>
  } @if(domainTableRows().length){
  <header>
    <h2>
      {{title()}} @if(currentViewState() === viewStates.List){
      <span>({{domainTableRows().length}})</span>
      }
    </h2>
    <div class="controls">
      <img src="/assets/images/mobile/mb-arrow-{{expanded() ? 'down':'up'}}.svg" alt="arrow up" (click)="toggleBottomsheetHeight()" />
      <img src="/assets/images/mobile/mb-close.svg" alt="close icon" (click)="closeBottomSheet()" />
    </div>
  </header>

  <!-- 1st Level Overlay -->
  @if(currentViewState() === viewStates.List){ @for(row of domainTableRows(); track row.domain){
  <div class="row" (click)="navigateToDetail(row)">
    <div class="row__header">
      <p class="row__header__name">{{row?.accessionName}}</p>
      <img src="/assets/images/mobile/arrow-right.svg" alt="right arrow icon" />
    </div>
    <p class="row__content">{{row?.resource}} {{row?.additionalData?.accession}}</p>
    <p class="row__content">Chain {{row?.segments?.join(', ')}}</p>
  </div>
  } }

  <!-- 2nd Level Overlay -->
  @if(currentViewState() === viewStates.Detail){
  <p class="sub-header">Chain {{selectedDomain()?.segments?.join(', ')}}</p>

  <p class="title">Description</p>
  <p class="content">{{selectedDomain()?.accessionName}}</p>
  <p class="title">Source and domain accession</p>
  <p class="content">
    {{selectedDomain()?.resource}}
    <a [href]="resourceUrls[selectedDomain()?.resource] + selectedDomain()?.additionalData?.accession" target="_blank">
      {{selectedDomain()?.additionalData?.accession}}
      <i class="icon icon-link icon-common" style="margin-left: 5px"></i>
    </a>
  </p>
  <p class="title">Molecule name</p>
  <p class="content">{{selectedDomain()?.moleculeNames.join(', ')}}</p>
  <p class="title">Domain name</p>
  <p class="content">{{selectedDomain()?.domain}}</p>
  <p class="title">Authors segments</p>
  <p class="content">Chain @for(chain of selectedDomain()?.segments; track chain; let islast = $last) { <span>{{chain.trim()}}</span>{{ islast ? '' : ',' }} }</p>
  <p class="title">Segments</p>
  <p class="content">
    Chain @for(chain of selectedDomain()?.additionalData?.segmentsResidNumbers; track chain; let islast = $last) { <span>{{chain.trim()}}</span>{{ islast ? '' : ','
    }} }
  </p>
  } }
</section>
