main {
  padding: 4px 12px 0;

  h2 {
    color: #1a1c1a;
    font-size: 30px;
    font-weight: 500;
    line-height: 39px;
  }

  p.entry-title {
    color: #1a1c1a;
    font-size: 19px;
    font-weight: 500;
    line-height: 28.5px;
  }
}
