.card-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  font-family: 'IBM Plex Sans', sans-serif;

  .image-box {
    width: 150px;
    height: 150px;
    border: 1px solid var(--Neutral-600, #707372);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  article {
    a {
      color: #3b6fb6;
      border: none;
      font-size: 19px;
      font-weight: 500;
      line-height: 28.5px;

      .icon-common {
        margin-left: 5px;
      }
    }
  }
}
