@if(complexData()){

<div class="card-container">
  <div class="image-box">
    @if(complexImageSrc()){
    <img [src]="complexImageSrc()" alt="Complex Image" />
    }@else {
    <ngx-skeleton-loader count="4" [theme]="{ 'border-radius': '0', height: '128px', width: '148px' }"></ngx-skeleton-loader>
    }
  </div>
  <article>
    <a
      matTooltipClass="complex-name-tooltip"
      [matTooltip]="complexData().name ?? 'Other'"
      matTooltipPosition="above"
      (click)="openComplexPage(complexData().complexId)"
    >
      {{ complexData().complexId }}
      <i class="icon icon-link icon-common"></i>
    </a>
    <p class="participant">
      @for(participant of complexData().participants; track participant){
      <span>{{ participant.accession }} ({{ participant.stoichiometry }}), </span>
      }
    </p>
  </article>
</div>
}
