.citations {
  margin: 20px;
}

.primary-publication {
  margin-top: 24px;
}

.row {
  display: flex;
  gap: 15px;

  &__left {
    width: 179px;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
  }

  &__right {
    width: calc(100% - 179px);

    &__authors {
      &__title {
        font-size: 16px;
        font-weight: 400;
        line-height: 27.2px;
        margin-right: 5px;
      }
    }

    &__entry {
      cursor: pointer;
      margin-right: 8px;

      a {
        margin-right: 5px;
      }
    }

    &__text {
      font-size: 16px;
      font-weight: 400;
      line-height: 27.2px;
      margin: 0;
    }

    &__pmid {
      &__info {
        font-size: 16px;
        font-weight: 400;
        line-height: 27.2px;
      }
    }
  }
}

section {
  margin-bottom: 8px;

  &.primary-publication {
    display: flex;
    justify-content: space-between;
  }
}

.mb-24 {
  margin-bottom: 24px !important;
}

.article-list-container {
  width: 80%;
}

.xml-container {
  height: 0;
  width: 0;
}

article {
  cursor: pointer;
  width: 200px;

  .image-cover {
    width: 100%;

    img {
      object-fit: cover;
      border: 1px solid #707372;
      padding: 10px;
      margin-bottom: 10px;
    }
  }
}
