<main>
  <div class="container">
    <pdbc-pdbe-nav-menu [highlightColor]="'#B6D0CF'" [navSections]="navSections" />
    <article>
      @if(descriptionLoaded()){
      <section class="hero">
        <header>
          <h2>{{ ligandId }}</h2>
          <div class="annotations">
            @for(annotation of description().annotations; track annotation.name){ @if(annotation.name === 'cofactor-like'){
            <a class="cofactor-like" [href]="annotation.url" target="_blank">Cofactor-like</a>
            } @if(annotation.name === 'drug-like'){
            <a class="drug-like" [href]="annotation.url" target="_blank">Drug-like</a>
            } @if(annotation.name === 'reactant-like'){
            <a class="reactant-like" [href]="annotation.url" target="_blank">Reactant-like</a>
            } }
          </div>
        </header>
        <h4>{{ description().name }}</h4>
        <div class="action-buttons">
          <button class="vf-button vf-button--primary vf-button--sm" (click)="openMolstarDialog()">View 3D</button>
          <lib-dropdown-menu
            [options]="downloadOptions()"
            title="Download as"
            (click)="googleAnalyticsService.logClickEvents('download_dropdown_open', 'Interaction', 'open_dropdown', 'Download as')"
          ></lib-dropdown-menu>
        </div>
      </section>
      <section class="description">
        <pdbc-description [description]="description()" [ligandId]="ligandId" [supercomponents]="supercomponents()" />
        <pdbc-image-carousel #imageCarouselRef />
      </section>
      @if(description().properties){
      <section class="property">
        <pdbc-properties [properties]="description().properties" />
      </section>
      } @if(isThereStructures()){
      <section class="structure">
        <pdbc-structures />
      </section>
      } }
    </article>
  </div>
</main>
