.result_link {
    font-size: 123.1%;
    vertical-align: top;
    word-break: initial;
}

.resultTopTitle{
    font-size: 131%; 
    margin: 9px 0;
    word-break:break-all;
}

.warning {
    color: #e5a066;
}

.resCard {
    margin: 0px 5px 20px 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    background-color: #f6f6f6;
}

.oddCard{
    background-color: #e9e9e9;
}

.galleryImage{
  width: 100%;
  height: 100%;
  background-size: cover;
}

.imagesWrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 302px;
    background-color: #fff;
    border: 1px solid #a8a8a8;
    overflow:auto;
    cursor: pointer;
}

.imagesWrapper .leftSection {
   width: 66.667%;
    float: left;
}

.imagesWrapper .rightSection {
    width: 33.333%;
    float: right;
    border-left: 1px solid #a8a8a8;
}

.imagesWrapper .image-y {
    border-bottom: 1px solid #a8a8a8;
}

.newHighlight{
    background-color: #74B35A; 
    padding: 2px 8px 2px 8px; 
    border-radius: 25px; 
    color: white; 
    margin-right: 3px;
    font-size: 90%;
    cursor: default;
}