<div class="header-logo-section">
  <div class="row">
    <div class="columns small-12 medium-7" id="local-title">
      <h1>
        <a routerLink="/" title="Back to PDBe-KB homepage">
          <img src="./assets/img/PDBe-KB-logo-white.png" style="max-height: 60px" />
        </a>
      </h1>
      @if(!menuOpen()){
      <svg class="mobile-menu-icon" viewBox="0 0 24 24" (click)="toggleMenu()">
        <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
      </svg>
      } @if(menuOpen()){
      <svg class="mobile-menu-icon" viewBox="0 0 24 24" (click)="toggleMenu()">
        <path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
      </svg>
      }
    </div>

    <div class="columns medium-5 hide-for-small-only">
      <nav class="local-top-nav">
        <ul class="dropdown menu float-right" data-description="navigational">
          <li>
            <a routerLink="/" onclick="gtag('event', 'page_route', {'event_category': 'header_click', 'event_label': 'header_home', 'value': undefined})">Home</a>
          </li>
          <li>
            <a href="#faqs" onclick="gtag('event', 'link_visit', {'event_category': 'header_click', 'event_label': 'header_faqs', 'value': undefined})">FAQs</a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://github.com/PDBe-KB/pdbe-kb-manual/wiki"
              onclick="gtag('event', 'link_visit', {'event_category': 'header_click', 'event_label': 'header_docs', 'value': undefined})"
              >Documentation</a
            >
          </li>
        </ul>
      </nav>
    </div>

    @if(menuOpen()){
    <div class="columns small-12 mobile-menu">
      <nav class="local-top-nav">
        <ul id="local-nav" class="dropdown menu" data-description="navigational">
          <li>
            <a routerLink="/" onclick="gtag('event', 'page_route', {'event_category': 'header_click', 'event_label': 'header_home', 'value': undefined})">Home</a>
          </li>
          <li>
            <a href="#faqs" onclick="gtag('event', 'link_visit', {'event_category': 'header_click', 'event_label': 'header_faqs', 'value': undefined})">FAQs</a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://github.com/PDBe-KB/pdbe-kb-manual/wiki"
              onclick="gtag('event', 'link_visit', {'event_category': 'header_click', 'event_label': 'header_docs', 'value': undefined})"
              >Documentation</a
            >
          </li>
        </ul>
      </nav>
    </div>
    }
  </div>
</div>
