.structure-overview {
  .info {
    display: flex;
    align-items: start;
    gap: 8px;

    &__title {
      color: #1a1c1a;
      font-size: 16px;
      font-weight: 500;
      line-height: 27.2px;
      width: 123px;
      min-width: 123px;
      max-width: 123px;
    }

    &__content {
      color: #1a1c1a;
      font-size: 16px;
      font-weight: 400;
      line-height: 27.2px;
    }
  }
}
