<header>
  <nav class="container">
    <li>
      <a href="#structures">
        <i class="icon icon-conceptual icon-structures-3d"></i>
        Structures and Sequences
      </a>
    </li>
    <li>
      <a href="#smallmolecules">
        <i class="icon icon-conceptual icon-chemical"></i>
        Small Molecules
      </a>
    </li>
    <li>
      <a href="#sifts">
        <i class="icon icon-conceptual icon-proteins"></i>
        Residue-level mappings
      </a>
    </li>
    <li>
      <a href="//www.ebi.ac.uk/pdbe/download/api/docs" target="_blank">
        <i class="icon icon-common icon-arrow-alt-circle-right"></i>
        PDBe File Download API
      </a>
    </li>
    <li>
      <a href="//www.ebi.ac.uk/support/pdbe" class="icon icon-generic" data-icon="\" target="_blank"> Feedback </a>
    </li>
  </nav>
</header>
