@if(description()){
<div id="description-section">
  <h3 class="title">Description</h3>
  @if(description().synonyms){
  <div class="info-row">
    <span class="info-row-title">Synonyms</span>
    <div class="info-row-content" libTruncateText [truncateText]="description().synonyms" [limit]="60">
      <!-- {{ description().synonyms }} -->
    </div>
  </div>
  }
  <div class="info-row formula-row">
    <span class="info-row-title">Formula</span>
    <article>
      <div class="info-row-content formula">
        {{ description().formula }}
      </div>
      <i
        class="icon icon-common icon-clone"
        matTooltipClass="description-tooltip"
        matTooltip="Copy the formula"
        matTooltipPosition="above"
        (click)="copy(description().formula, 'Formula')"
      ></i>
    </article>
  </div>
  @if(description().inchi){
  <div class="info-row">
    <span class="info-row-title">IUPAC InChI</span>
    <article>
      <div class="info-row-content" libTruncateText [truncateText]="description().inchi" [limit]="120"></div>
      <i
        class="icon icon-common icon-clone"
        matTooltipClass="description-tooltip"
        matTooltip="Copy the IUPAC InChI"
        matTooltipPosition="above"
        (click)="copy(description().inchi, 'IUPAC InChI')"
      ></i>
    </article>
  </div>
  } @if(description().inchikey){
  <div class="info-row">
    <span class="info-row-title">IUPAC InChIKey</span>
    <article>
      <div class="info-row-content">
        {{ description().inchikey }}
      </div>
      <i
        class="icon icon-common icon-clone"
        matTooltipClass="description-tooltip"
        matTooltip="Copy the IUPAC InChIKey"
        matTooltipPosition="above"
        (click)="copy(description().inchikey, 'IUPAC InChIKey')"
      ></i>
    </article>
  </div>
  } @if(description().smiles.length && isMainLigandId()){
  <div class="info-row">
    <span class="info-row-title">SMILES</span>
    <article>
      <div class="info-row-content" ligandsmiles [smiles]="description().smiles"></div>
      <i
        class="icon icon-common icon-clone"
        matTooltipClass="description-tooltip"
        matTooltip="Copy the SMILES"
        matTooltipPosition="above"
        (click)="copySmiles(description().smiles, 'SMILES')"
      ></i>
    </article>
  </div>
  } @if(description().smiles.length && !isMainLigandId()){
  <div class="info-row">
    <span class="info-row-title">SMILES</span>
    <article>
      <div class="info-row-content" ligandsmiles [smiles]="description().smiles" [isMainLigand]="false"></div>
      <i
        class="icon icon-common icon-clone"
        matTooltipClass="description-tooltip"
        matTooltip="Copy the SMILES"
        matTooltipPosition="above"
        (click)="copySmiles(description().smiles, 'SMILES')"
      ></i>
    </article>
  </div>
  }

  <div class="info-row source-row">
    <span class="info-row-title"></span>
    <div class="info-row-content">
      Source
      <a
        href="https://www.eyesopen.com/"
        target="_blank"
        (click)="googleAnalyticsService.logClickEvents('outbound_click', 'External Source', 'click_source', 'OpenEye')"
        >OpenEye <i class="icon icon-link icon-common"></i
      ></a>
    </div>
  </div>
  @if(description().subcomponent_occurrences && !isMainLigandId()){
  <div class="info-row">
    <span class="info-row-title">Contains CCDs</span>
    <div class="info-row-content ccd" ccds [subcomponentOccurrences]="description().subcomponent_occurrences"></div>
  </div>
  } @if(supercomponents().length && isMainLigandId()){
  <div class="info-row">
    <span class="info-row-title">Is part of</span>
    <article class="article-supercomponents">
      <div class="info-row-content supercomponents" libIsPartOf [truncateTexts]="supercomponents()"></div>
      <!-- <i
        class="icon icon-common icon-clone"
        matTooltipClass="description-tooltip"
        matTooltip="Copy the ID"
        matTooltipPosition="above"
        (click)="copy(supercomponents().join(', '), 'List of ids')"
      ></i> -->
      <div class="supercomponent-actions">
        @if(supercomponents().length > 1){
        <button class="vf-button vf-button--link" (click)="downloadIds()">
          Download list of IDs
          <i class="icon icon-common icon-download"></i>
        </button>
        } @else { }
      </div>
    </article>
  </div>
  } @if(description().first_observed_in){
  <div class="info-row">
    <span class="info-row-title">First observed in</span>
    <article>
      <div class="info-row-content">
        <a [href]="'https://www.ebi.ac.uk/pdbe/entry/pdb/' + description().first_observed_in" target="_blank">{{ description().first_observed_in }}</a>
      </div>
      <i
        class="icon icon-common icon-clone"
        matTooltipClass="description-tooltip"
        matTooltip="Copy the First observed in"
        matTooltipPosition="above"
        (click)="copy(description().first_observed_in, 'First observed in')"
      ></i>
    </article>
  </div>
  } @if(isMainLigandId()){
  <div class="action-buttons">
    <button class="vf-button vf-button--primary vf-button--sm" (click)="openDialog('atom')">View Atoms</button>
    <button class="vf-button vf-button--primary vf-button--sm" (click)="openDialog('bond')">View Bonds</button>
  </div>
  }
</div>

}
