
.chart-holder {
    font-size: 15px !important;
    padding-left: 15px;
    height:auto;
    /* margin-right: 100px; */
}
.chart-holder li {
    /* padding-bottom: 10px; */
}
.chart-holder-div {
    text-align: center;
}
/* .chart-holder-div {
    padding-top: 5px;
    padding-bottom: 2px;
}
.chart-holder-div:hover {
    background: #DEDEDE !important;
    cursor: pointer;
} */
.chart-holder-div-current {
    font-weight: bold !important;
    font-size: 14.5px !important;
}
.display-none {
    display: none;
}
.smaller-padding {
    /* padding: 3px 6px !important; */
    padding: 1px 3px!important;
    height: 4.0rem;
    font-size: 0.9rem;
    width: 100%;
}

@media  screen and (max-width: 768px) {
    .small-2 {
        width: 100%;
    }
    .small-10 {
        width: 100%;
    }

}
