.map-count {
  background-color: #d1ced4 !important;
  color: #444444 !important;
  padding: 15px !important;
  border: 3px solid #d1ced4 !important;
  font-weight: 400 !important;
  font-size: 22px !important;
  line-height: 28px !important;
  text-align: center;
  border-radius: 5px;
}

.map-count-number {
  color: #0a5032 !important;
  font-weight: 700 !important;
  font-size: 36px !important;
  line-height: 28px !important;
}
