.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    align-self: flex-start;
  }

  .right {
    img {
      width: 507px;

      // height: 367px;
    }
  }
}

header {
  display: flex;
  gap: 12px;
  margin-bottom: 13px;

  h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 63px;
  }

  span {
    font-size: 19px;
    font-weight: 400;
    line-height: 26.6px;
    align-self: flex-end;
    margin-bottom: 10px;
  }
}

.hero {
  padding: 8px 12px;
  background: #fff1da;
  width: 591px;

  &__title {
    font-size: 21px;
    font-weight: 500;
    line-height: 27.3px;
  }

  &__content {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
  }
}

.summary {
  margin-top: 20px;
  width: 591px;

  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 27.2px;
      width: 148px;
      min-width: 148px;
      align-self: flex-start;
    }

    &__description {
      font-size: 16px;
      font-weight: 400;
      line-height: 27.2px;
    }
  }
}
