@if (tabName() !== 'Assemblies') {
<div class="filter-btns-container">
  @for (tableFilter of filters(); track tableFilter) {
  <button class="filter-btn" [class.active]="selectedFilter().description === tableFilter.description" (click)="applyFilter(tableFilter, tabName())">
    {{ tableFilter.description }}
  </button>
  }
</div>
}
<!-- Assemblies -->

@if(tabName() === 'Assemblies') {
<section>
  @for(card of rowCards(); track card; let i = $index) {
  <div class="card" (click)="onCardClick(card, 'id')" [class.selected-card]="selectedRowCard().assemblyId === card.assemblyId">
    <p class="card-title">{{card.assemblyName}}</p>
    <p class="card-text">{{card.complexName}}</p>
    <p class="card-text">{{card.multimericStates}}</p>
  </div>
  }
</section>
}

<!-- Macromolecules -->

@if(tabName() === 'Macromolecules') {
<section>
  @for(card of rowCards() | paginate: { itemsPerPage: 10, currentPage: this.startNumber()}; track card.index; let i = $index) {
  <div class="card" (click)="onCardClick(card, 'entity')" [class.selected-card]="selectedRowCard()?.index === card.index">
    <p class="card-title" pdbcTruncateText [maxLines]="4" [tooltip]="true">{{card.moleculeName}}</p>
    <p class="card-text" pdbcTruncateText [maxLines]="4">
      <span>Chain{{ card.chains.length > 1 ? 's:' : ':' }} </span>
      @for(chain of card.chains; track chain; let islast = $last) {
      <span>{{chain}}</span>{{ islast ? '' : ',' }} }
    </p>
  </div>
  } @if(rowCards().length > 10){
  <pagination-controls
    (pageChange)="onChangePage($event)"
    (pageBoundsCorrection)="onChangePage($event)"
    [previousLabel]="'<'"
    [nextLabel]="'>'"
  ></pagination-controls>
  }
</section>
}

<!-- Ligands -->

@if(tabName() === 'Ligands') {
<section>
  @for(card of rowCards() | paginate: { itemsPerPage: 10, currentPage: this.startNumber()}; track card; let i = $index) {
  <div class="card ligand-card" (click)="onCardClick(card, 'id')" [class.selected-card]="selectedRowCard()?.chemCompId === card.chemCompId">
    <img [src]="'https://www.ebi.ac.uk/pdbe/static/files/pdbechem_v2/' + card.chemCompId +'_100.svg'" alt="" />
    <div class="card-info">
      <p class="card-title">
        {{card.entryInstancesCount}} X {{card.chemCompId}} @if (card.inPrefAssembly === false) {
        <img src="assets/icons/warning_icon.webp" style="margin-left: 4px; width: 16px; height: 16px" />
        }
      </p>
      @if(card.annotationTypes.length){ @for(annotation of card.annotationTypes; track annotation){
      <p class="annotation" [ngClass]="annotation" [pdbcRichTooltip]="annotationsTooltips[annotation]">{{annotation | titlecase}}</p>
      } } @if(!card.isModified && card.annotationTypes.length === 0){
      <p class="annotation unannotated" [pdbcRichTooltip]="annotationsTooltips['unannotated']">Unannotated</p>
      } @if(card.isModified){
      <p class="annotation modification" [pdbcRichTooltip]="annotationsTooltips['modification']">Modification</p>
      }
    </div>
  </div>
  } @if(rowCards().length > 10){
  <pagination-controls
    (pageChange)="onChangePage($event)"
    (pageBoundsCorrection)="onChangePage($event)"
    [previousLabel]="'<'"
    [nextLabel]="'>'"
  ></pagination-controls>
  }
</section>
}

<!-- Domains -->

@if(tabName() === 'Domains') {
<section>
  @for(card of rowCards() | paginate: { itemsPerPage: 10, currentPage: this.startNumber()}; track card; let i = $index;) {
  <div class="card domain-card" (click)="onCardClick(card, 'idx')" [class.selected-card]="selectedRowCard()?.domainId === card.domainId">
    <p class="domain-card-title">
      <span style="display: block">
        <strong>{{card.accessionName}}</strong>
        @if (card.inPrefAssembly === false) {
        <img src="assets/icons/warning_icon.webp" style="margin-left: 4px; width: 16px; height: 16px" />
        }
      </span>
      <span>(<strong>{{card.resource}}</strong></span>
      @let id = card.resource === 'SCOP' ? '' : card.accession;
      <a [href]="resourceUrls[card.resource] + id" target="_blank">{{card.accession}}</a>)
    </p>
    <p class="domain-card-chain">{{card.segmentsAsText}}</p>
  </div>
  } @if(rowCards().length > 10){
  <pagination-controls
    (pageChange)="onChangePage($event)"
    (pageBoundsCorrection)="onChangePage($event)"
    [previousLabel]="'<'"
    [nextLabel]="'>'"
  ></pagination-controls>
  }
</section>
}

<!-- LLM -->

@if(tabName() === 'LLM') {
<section>
  @for(card of rowCards() | paginate: { itemsPerPage: 10, currentPage: this.startNumber()}; track card.index; let i = $index) {
  <div class="card" (click)="onCardClick(card, 'entity')" [class.selected-card]="selectedRowCard().index === card.index">
    <p class="card-title" pdbcTruncateText [maxLines]="4" [tooltip]="true">{{card.moleculeName}}</p>
    <p class="card-text" pdbcTruncateText [maxLines]="4">
      <span>Chain{{ card.chains.length > 1 ? 's:' : ':' }} </span>
      @for(chain of card.chains; track chain; let islast = $last) {
      <span>{{chain}}</span>{{ islast ? '' : ',' }} }
    </p>
  </div>
  } @if(rowCards().length > 10){
  <pagination-controls
    (pageChange)="onChangePage($event)"
    (pageBoundsCorrection)="onChangePage($event)"
    [previousLabel]="'<'"
    [nextLabel]="'>'"
  ></pagination-controls>
  }
</section>
}
