<div id="structures-section">
  <header>
    <h3>Bond structures</h3>
    <button class="vf-button vf-button--link" (click)="downloadCSV()">
      Download structures (csv)
      <i class="icon icon-common icon-download"></i>
    </button>
    <button class="vf-button vf-button--link" (click)="downloadMMCIF()">
      Download coordinates (mmCIF)
      <i class="icon icon-common icon-download"></i>
    </button>
  </header>
  <section class="filter">
    <div class="group">
      <p>{{ dataStatistics() }}</p>
      <mat-radio-group id="structure-checkbox" aria-label="Select an option" [formControl]="filter" (change)="onChange($event)">
        <mat-radio-button value="proteins">Proteins</mat-radio-button>
        <mat-radio-button value="structures">Structures</mat-radio-button>
      </mat-radio-group>
    </div>
  </section>

  <div style="margin-top: 5px; height: 500px">
    <ag-grid-angular
      class="ag-theme-quartz"
      [rowData]="rowData()"
      [columnDefs]="colDefs"
      [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)"
      [paginationPageSizeSelector]="paginationPageSizeSelector()"
    />
  </div>
</div>
