header {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;

  button {
    align-self: flex-end;
  }

  @media screen and (width <= 768px) {
    flex-direction: column;

    button {
      align-self: flex-start;
    }
  }
}

h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 39px;
}

section.filter {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .group {
    display: flex;
    align-items: center;

    @media screen and (width <= 768px) {
      flex-direction: column;

      mat-radio-group {
        width: 100%;
      }
    }
  }

  mat-radio-button {
    margin-right: 16px;
  }
}

.filters {
  display: flex;
  align-items: center;
  gap: 16px;
}

#structure-checkbox {
  ::ng-deep .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked + .mdc-radio__background .mdc-radio__outer-circle {
    border-color: #0a5032 !important;
  }

  ::ng-deep .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked + .mdc-radio__background .mdc-radio__inner-circle {
    border-color: #0a5032 !important;
  }
}
