<h1>{{fileDetails()?.label}}</h1>
<div class="subtitle">
  <p>Your file</p>
  <span></span>
  <p>Space symmetry group: {{fileDetails()?.spacegroup}}</p>
  <span></span>
  <p>Resolution: 1.25 A</p>
</div>
<main>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="selectedTab()" (selectedTabChange)="selectTab($event)" #tabs>
    <mat-tab>
      <ng-template mat-tab-label>
        <span>Complexes ({{numberOfComplexes()}})</span>
      </ng-template>
      <ng-template matTabContent> <pisa-complexes-tab /> </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span>Interfaces</span>
      </ng-template>
      <ng-template matTabContent> <pisa-interfaces-tab /> </ng-template>
    </mat-tab>
  </mat-tab-group>
</main>
