/* Paragraphs/P2 */
.paragraph-2 {
    font-family: IBM Plex Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: 26.6px;
    text-decoration: none;
}

/* Paragraphs/P3 */
.paragraph-3 {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.2px; /* 170% */
}