@import url('libs/core/src/lib/styles/pdb_connect.scss');

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#notfound {
  position: relative;
  height: calc(100vh - 682px);
  width: 100%;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 150px;
  font-weight: 900;
  text-align: center;
  background: url('./bg.jpg') no-repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

h2 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
}

p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
}

@media only screen and (width <= 767px) {
  h1 {
    font-size: 112px;
  }
}
