@let icon = signals.isSidebarCollapsed() ? 'right' : 'left'; @let text = signals.isSidebarCollapsed() ? 'Show ' + tabName():'Open full-width';
<button class="vf-button-ghost" (click)="signals.setSidebarState()">
  <img [src]="'assets/icons/two_arrows_' + icon + '.png'" alt="arrow icons" />
  <span>{{text}}</span>
</button>

<!-- Assemblies -->
@if(tabName() === 'Assemblies') {
<h5>{{ selectionTitle }}</h5>
@let datum = currentRowDatum;
<section class="assemblies-container">
  <section class="assembly-section">
    <div class="assembly-grouped">
      @if(datum?.complexName){
      <div class="info-row">
        <span>
          Assembly name
          <img src="assets/icons/help_icon.png" alt="help icon" style="margin-bottom: 2px" />
        </span>
        <article>{{datum?.complexName}}</article>
      </div>
      }
      <div class="info-row">
        <span>
          Multimeric state
          <img src="assets/icons/help_icon.png" alt="help icon" style="margin-bottom: 2px" />
        </span>
        <article>{{datum?.multimericStates}}</article>
      </div>
      <div class="info-row">
        <span>
          PDBe complex ID
          <img src="assets/icons/help_icon.png" alt="help icon" style="margin-bottom: 2px" />
        </span>
        <article>
          <a [href]="'https://wwwdev.ebi.ac.uk/pdbe/connect/complex/' + datum?.complexId" target="_blank">{{datum?.complexId}}</a>
          <img src="assets/icons/link_search_icon.png" alt="search icon" />
        </article>
      </div>
    </div>
    <div class="assembly-grouped">
      <div class="info-row">
        <span>Accessible surface area</span>
        <article>{{ getAdditionalData('accessibleSurfaceArea') }}<sup>2</sup></article>
      </div>
      <div class="info-row">
        <span>Buried surface area</span>
        <article>{{ getAdditionalData('buriedSurfaceArea') }}<sup>2</sup></article>
      </div>
    </div>
    <div class="assembly-grouped">
      <div class="info-row">
        <span>Dissociation area</span>
        <article>{{ getAdditionalData('dissociationArea') }}<sup>2</sup></article>
      </div>
      <div class="info-row">
        <span>Dissociation energy</span>
        <article>{{ getAdditionalData('dissociationEnergy') }}</article>
      </div>
      <div class="info-row">
        <span>Dissociation entropy</span>
        <article>{{ getAdditionalData('dissociationEntropy') }}</article>
      </div>
    </div>
    <div class="info-row">
      <span>Symmetry number</span>
      <article>{{ getAdditionalData('symmetryNumber') }}</article>
    </div>
  </section>
  <section class="molstar-details-container">
    <div class="molstar-container" #molstarContainer [ngClass]="hasTopologyViewer || hasLigandEnv ? '' : 'big'"></div>
  </section>
</section>
}

<!-- Macromolecules -->
@if(tabName() === 'Macromolecules') {
<h5 class="macromolecules-title">{{ selectionTitle }}</h5>
<div class="stats-link-bar">
  @if(dashboardStatLinks[tabName()].length > 0 && selectionIdentifier !== 'None') {
  <span>View more about this {{ selectionTypeText }}:</span>
  @for (displayLink of dashboardStatLinks[tabName()]; track displayLink; let islast = $last) {
  <a [href]="displayLink.link + selectionIdentifier + displayLink.linkSuffix" target="_blank">
    {{ selectionStats?.[selectionIdentifier][displayLink.id] }} {{ displayLink.displayName }}
  </a>
  {{ islast ? '' : '|' }} } }
</div>
@let datum = currentRowDatum;
<section class="info">
  <div class="info-grouped" style="width: 55%">
    @let type = datum?.additionalData?.molecule?.molecule_type; @if(type){
    <div class="info-row">
      <span class="micro-title"> Type </span>
      <article>{{type | titlecase}}</article>
    </div>
    } @if(datum?.organisms.length){
    <div class="info-row">
      <span class="micro-title"> Source organism </span>
      <article>
        <a [href]="generateOrganismSearchUrl(datum?.organisms[0])" target="_blank">
          <em>{{datum?.organisms[0]}}</em>
          <img src="assets/icons/link_search_icon.png" alt="search icon" style="margin-left: 5px" />
        </a>
      </article>
    </div>
    } @let expressionSystem = datum?.additionalData?.molecule?.source?.[0]?.expression_host_scientific_name; @if(expressionSystem){
    <div class="info-row">
      <span class="micro-title"> Expression System </span>
      <article>
        <em>{{expressionSystem}}</em>
      </article>
    </div>
    } @if(residues().length){
    <div class="info-row">
      <span class="micro-title"> UniProt mapping </span>
      <article class="uniport-mapping">
        @for(residue of residues(); track residue.uniprot; let index = $index;){ @let range = residue.range; @if(range.length <= 2){
        <span
          >Canonical <a [href]="'https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/' + residue.uniprot" target="_blank">{{residue.uniprot}}</a>
          <img src="assets/icons/logo.png" alt="icon" /> (residues: {{residue.range.join(', ')}}; coverage: {{residue.coverage}})</span
        >
        } @else { @if(residue.open){
        <div>
          Canonical <a [href]="'https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/' + residue.uniprot" target="_blank">{{residue.uniprot}}</a>
          <img src="assets/icons/logo.png" alt="icon" /> (residues: {{range.join(', ')}}; coverage: {{residue.coverage}})
          <span class="residue-action-button" (click)="residue.open = !residue.open">show less</span>
        </div>
        }@else {
        <div>
          Canonical <a [href]="'https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/' + residue.uniprot" target="_blank">{{residue.uniprot}}</a>
          <img src="assets/icons/logo.png" alt="icon" /> residues: {{range.slice(0,2).join(', ')}}...
          <span class="residue-action-button" (click)="residue.open = !residue.open">show all</span>
        </div>
        } } } @for(res of bestResidues(); track res.name;){
        <span
          >Best match <a [href]="'https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/' + res.uniprot" target="_blank">{{res.uniprot}}</a>
          <img src="assets/icons/logo.png" alt="icon" /> (residues: {{res.mappings[0].unp_start}} - {{res.mappings[0].unp_end}})</span
        >
        }
      </article>
    </div>
    }
  </div>
  <div class="info-grouped" style="width: 45%">
    <div class="info-row">
      <span class="micro-title"> Length </span>
      <article>{{datum?.length}} amino acids</article>
    </div>
    <div class="info-row">
      <span class="micro-title"> Theoretical weight</span>
      <article>{{datum?.additionalData?.molecule?.weight.toFixed(2)}} KDa</article>
    </div>
    @if(datum?.genes.length){
    <div class="info-row">
      <span class="micro-title"> Gene names </span>
      <article>
        @for (gene of datum?.genes; track gene; let islast = $last) {
        <a [href]="'https://www.ebi.ac.uk/pdbe/entry/search/index?gene_name:' + gene" target="_blank">{{ gene }}{{ islast ? '' : ',' }}</a> }
        <br />
      </article>
    </div>
    } @if(goMappings().length){
    <div class="info-row dialog">
      <span class="micro-title">GO terms</span>
      <article><span role="button" (click)="openDialog('go')">View {{goMappings().length}} GO terms</span></article>
    </div>
    } @if(ecMappings().length){
    <div class="info-row dialog">
      <span class="micro-title">EC numbers</span>
      <article><span role="button" (click)="openDialog('ec')">View {{ecMappings().length}} EC numbers</span></article>
    </div>
    }
  </div>
</section>

<div class="chains">
  @if(dropdownOptions.length > 1){
  <div class="dropdown-container">
    <span class="dropdown-title">{{ dropdownTitle }}</span>
    <pdbc-entry-dropdown
      [downloadable]="false"
      [islink]="false"
      [options]="dropdownOptions"
      [title]="dropdownSelected"
      (optionClickedEvent)="onDropdownSelect($event)"
    >
    </pdbc-entry-dropdown>
  </div>
  }@else if(dropdownOptions.length === 1){
  <p>{{dropdownOptions[0].name}}</p>
  } @else {}
</div>
@if (sequenceDetails.length > 0) {
<div class="sequence-container">
  @for (sequenceDetail of sequenceDetails; track sequenceDetail;) {
  <div class="title">
    <span class="text">{{ sequenceDetail.title }}</span>
    <button (click)="copySequence(sequenceDetail)">Copy sequence</button>
  </div>
  <div class="sequence">
    @for (sequenceSegment of sequenceDetail.segments; track sequenceSegment) {
    <span [style.background]="sequenceSegment.color ? sequenceSegment.color : ''">{{ sequenceSegment.sequence }}</span>
    }
  </div>
  }
</div>
}

<section class="chart-area" [class.collapsed]="signals.isSidebarCollapsed()">
  @if (hasProtvista) {
  <section class="protvista-container">
    @if(entryId() && currentProtvistaEntity()) {
    <pdbc-entry-pg-protvista
      [entryId]="entryId()!"
      [entityId]="currentProtvistaEntity()!"
      [chainId]="currentProtvistaChain()!"
      [externalInteractivity]="true"
    ></pdbc-entry-pg-protvista>
    }
  </section>
  }
  <section class="molstar-details-container">
    <div class="molstar-container" #molstarContainer></div>
  </section>
  @if(hasTopologyViewer){
  <section class="topology-viewer-container">
    <div class="topology-container" #topologyViewerContainer></div>
  </section>
  }
</section>
}

<!-- Domains -->
@if(tabName() === 'Domains') { @let datum = currentRowDatum;
<h5 class="domain-title">
  <strong>{{datum?.domain}}</strong> (<strong>{{datum?.resource}}</strong>
  <a [href]="resourceUrls[datum?.resource] + datum?.additionalData?.accession" target="_blank">{{datum?.additionalData?.accession}}</a>)
</h5>
<section class="domain-info">
  <div class="info-row">
    <span>
      Domain name
      <img src="assets/icons/help_icon.png" alt="help icon" style="margin-bottom: 2px" />
    </span>
    <article>{{datum?.domain}}</article>
  </div>
  <div class="info-row">
    <span> Molecule name </span>
    <article>{{datum?.moleculeNames[0]}}</article>
  </div>
  <div class="info-row">
    <span>
      Author segments
      <img src="assets/icons/help_icon.png" alt="help icon" style="margin-bottom: 2px" />
    </span>
    <article>
      Chain @for(chain of datum?.segments; track chain; let islast = $last) {
      <span>{{chain.trim()}}</span>{{ islast ? '' : ',' }} }
    </article>
  </div>
  <div class="info-row">
    <span>
      Segments
      <img src="assets/icons/help_icon.png" alt="help icon" style="margin-bottom: 2px" />
    </span>
    <article>
      Chain @for(chain of datum?.additionalData?.segmentsResidNumbers; track chain; let islast = $last) {
      <span>{{chain.trim()}}</span>{{ islast ? '' : ',' }} }
    </article>
  </div>
</section>
<div class="chains">
  Chain @for(chain of datum?.mappedboundaries; track chain; let islast = $last){
  <span>{{chain}}</span>{{ islast ? '' : ',' }} }
</div>
@if (sequenceDetails.length > 0) {
<div class="sequence-container">
  @for (sequenceDetail of sequenceDetails; track sequenceDetail;) {
  <div class="title">
    <span class="text">{{ sequenceDetail.title }}</span>
    <button (click)="copySequence(sequenceDetail)">Copy sequence</button>
  </div>
  <div class="sequence">
    @for (sequenceSegment of sequenceDetail.segments; track sequenceSegment) {
    <span [style.background]="sequenceSegment.color ? sequenceSegment.color : ''">{{ sequenceSegment.sequence }}</span>
    }
  </div>
  }
</div>
}
<section class="domain-charts">
  @if (hasProtvista) {
  <section class="protvista-container">
    @if(entryId() && currentProtvistaEntity()) {
    <pdbc-entry-pg-protvista
      [entryId]="entryId()!"
      [entityId]="currentProtvistaEntity()!"
      [chainId]="currentProtvistaChain()!"
      [externalInteractivity]="true"
    ></pdbc-entry-pg-protvista>
    }
  </section>
  }
  <section class="molstar-details-container">
    <div class="molstar-container" #molstarContainer></div>
  </section>
</section>
}

<!-- Ligands -->
@if(tabName() === 'Ligands') {
<h5 class="ligands-title">{{ selectionTitle }}</h5>
<div class="stats-link-bar">
  @if(dashboardStatLinks[tabName()].length > 0 && selectionIdentifier !== 'None') {
  <span>View more about this {{ selectionTypeText }}:</span>
  @for (displayLink of dashboardStatLinks[tabName()]; track displayLink; let islast = $last) {
  <a [href]="displayLink.link + selectionIdentifier + displayLink.linkSuffix" target="_blank">
    {{ selectionStats?.[selectionIdentifier][displayLink.id] }} {{ displayLink.displayName }}
  </a>
  {{ islast ? '' : '|' }} } }
</div>
<div class="chains">
  @if(dropdownOptions.length > 1){
  <div class="dropdown-container">
    <span class="dropdown-title">{{ dropdownTitle }}</span>
    <pdbc-entry-dropdown
      [downloadable]="false"
      [islink]="false"
      [options]="dropdownOptions"
      [title]="dropdownSelected"
      (optionClickedEvent)="onDropdownSelect($event)"
    >
    </pdbc-entry-dropdown>
  </div>
  }@else if(dropdownOptions.length === 1){
  <p>{{dropdownOptions[0].name}}</p>
  }@else {}
</div>
<section class="ligand-charts">
  <section class="molstar-details-container" [class.expand]="!rowData()?.length">
    <div class="molstar-container" #molstarContainer></div>
  </section>
  <section class="lig-env-container" [class.expand]="!rowData()?.length">
    <div class="ligand-env" #ligandEnvContainer></div>
  </section>
  @if(rowData()?.length){
  <div class="table">
    <p class="table-title">Ligand interactions - {{rowData()?.length}} total</p>
    <div class="table-toolbar">
      <button class="vf-button vf-button--link" (click)="downloadCSV()">
        Download table (csv)
        <i class="icon icon-common icon-download"></i>
      </button>
      <div class="search-box">
        <input type="search" [formControl]="searchTerm" placeholder="Search the table" />
        @if(!searchTerm.value){
        <i class="icon icon-common icon-search"></i>
        }
      </div>
    </div>
    <ag-grid-angular
      class="ag-theme-quartz"
      [rowData]="rowData()"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      [gridOptions]="gridOptions"
      (selectionChanged)="onSelectionChanged($event)"
      [paginationPageSizeSelector]="paginationPageSizeSelector()"
    />
  </div>
  }
</section>
<section class="ligands-info">
  <p>
    The above 2D and 3D (Mol*) views of ligand interactions use quaternary structure derived from <br />
    the PDB entry.
  </p>
  <p>Please note:</p>
  <ul>
    <li>
      Some chain IDs in the tooltip are followed by a number in square brackets. This number <br />
      corresponds to the operation ID (mmCIF 'oper_expression') used to transform the chain.
    </li>
    <li>
      The structure seen in Mol* (3D view) was protonated using <a href="https://www.cgl.ucsf.edu/chimerax/docs/user/commands/addh.html" target="_blank">ChimeraX</a>.
    </li>
    <li>
      Interactions were calculated using
      <a [href]="'https://www.ebi.ac.uk/pdbe/entry/pdb/' + entryId() + '/bound/' + selectionIdentifier" target="_blank">Arpeggio</a> (<a
        href="https://pmc.ncbi.nlm.nih.gov/articles/PMC5282402/bin/mmc1.docx"
        target="_blank"
        >see details for interaction types</a
      >).
    </li>
    <li>The colour scheme used is consistent with <a href="https://www.jalview.org/help/html/colourSchemes/clustal.html" target="_blank">Clustal X</a>.</li>
  </ul>
</section>
}
