<nav class="table-of-contents">
  <div class="container-border">
    <div class="nav-title">
      <h5>{{ tableTitle() }}</h5>
      <img src="/assets/images/mobile/arrow-{{isFullLinksDisplayed() ? 'up':'down'}}.svg" alt="arrow-up" (click)="toggleNavigationLinks()" />
    </div>
    @if(isFullLinksDisplayed()){ @for(link of navigationLinks(); track link.id){
    <a (click)="scrollToSection($event, link.id)">{{link.title}}</a>
    } } @else if (currentNavigationLink()){
    <a (click)="scrollToSection($event, currentNavigationLink()!.id)">{{currentNavigationLink()!.title}}</a>
    }
  </div>
</nav>
