<div id="Description" class="description-container">
  <div class="description-info">
    <span id="description-title" class="heading-2">Description</span>
    <div class="description-info-rows">
      <div class="description-info-rows">
        <div class="info-row">
          <span class="info-row-title">Synonyms</span>
          <span class="info-row-content">
            <span class="info-row-line">{{ synonyms }}</span>
          </span>
        </div>
        <div class="info-row">
          <span class="info-row-title">Formula</span>
          <span class="info-row-content">
            <span id="formula-box" class="info-row-line">{{ formula }}</span>
          </span>
        </div>
        <div class="info-row">
          <span class="info-row-title">IUPAC InChI</span>
          <span class="info-row-content">
            <span class="info-row-line">{{ inchi }}</span>
          </span>
        </div>
        <div class="info-row">
          <span class="info-row-title">IUPAC InChIKey</span>
          <span class="info-row-content">
            <span class="info-row-line">{{ inchikey }}</span>
          </span>
        </div>
        <div class="info-row">
          <span class="info-row-title">SMILES</span>
          <span class="info-row-content">
            <span class="info-row-line">{{ smiles }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
