<div id="masthead" class="masthead">
  <!-- <div class="row large-offset-1 medium-offset-1"> -->
  <div class="row">
    <div class="columns small-12" id="local-title">
      <div class="homeBannerText">
        <h2 class="homeBannerTitle">
          Protein Data Bank in Europe
          <br class="hide-for-small-only" />
          Knowledge Base
        </h2>
      </div>
      <div class="home-banner-search">
        <br class="hide-for-small-only" />
        <pdbc-header-search></pdbc-header-search>
      </div>
      <div></div>
    </div>
  </div>
</div>
<!-- <div class="intro-box">
    <div class="row">
        <div class="columns small-12 medium-10 medium-offset-1">
            <div class="intro-content">
                Enable discoveries using macromolecular structures
            </div>
        </div>
    </div>
</div> -->
