@import url('libs/core/src/lib/styles/pdb_connect.scss');

main {
  .container {
    display: flex;
    gap: 28px;

    @media screen and (width <= 767px) {
      gap: 0;
    }

    pdbc-pdbe-nav-menu {
      width: 220px;
    }

    article {
      width: calc(100% - 248px);
    }

    .hero {
      padding: 12px 0 32px;

      h2 {
        font-size: 42px;
        font-weight: 700;
        line-height: 63px;
      }

      h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 31.2px;
        margin-bottom: 16px;
      }

      .action-buttons {
        max-height: 80px;
        padding: 12px;
        margin-top: 16px;
        border-radius: 2px;
        background: var(--Neutral-100, #f3f3f3);
        display: flex;
        gap: 20px;

        .drop-down {
          width: 152px;
        }

        &.expanded {
          max-height: 80px;
        }
      }
    }

    .description {
      display: flex;
      justify-content: space-between;
      padding-bottom: 40px;
      gap: 12px;

      @media screen and (width <= 767px) {
        flex-direction: column;
        gap: 30px;
      }
    }

    .property,
    .structure,
    .interaction,
    .related-ligands,
    .ligand-specific-databases {
      padding-bottom: 60px;
    }
  }
}

pdbc-pdbe-chips {
  margin-right: 10px;
}
