<main>
  <div class="container">
    <pdbc-pdbe-nav-menu [highlightColor]="'#B6D0CF'" [navSections]="navSections" />
    <article>
      @if(redirectText$ | async; as text){
      <div class="redirect-text" [innerHTML]="text"></div>
      } @if(loaded() === status.SUCCESS){
      <section class="hero">
        <header>
          <h2>{{ ligandId() }}</h2>
          <div class="annotations">
            @for(annotation of annotations(); track annotation){ @if(annotation === 'cofactor-like'){
            <span class="cofactor-like" matTooltipClass="complex-name-tooltip" [matTooltip]="cofactorTooltip" matTooltipPosition="below">Cofactor-like</span>
            } @if(annotation === 'drug-like'){
            <span class="drug-like" matTooltipClass="complex-name-tooltip" [matTooltip]="drugTooltip" matTooltipPosition="below">Drug-like</span>
            } @if(annotation === 'reactant-like'){
            <p class="reactant-like" matTooltipClass="complex-name-tooltip" [matTooltip]="reactantTooltip" matTooltipPosition="below">Reactant-like</p>
            } }
          </div>
        </header>
        <h4>{{ description()?.name }}</h4>
        <div class="action-buttons">
          <button class="vf-button vf-button--primary vf-button--sm" (click)="openMolstarDialog()">View 3D</button>
          <lib-dropdown-menu
            [options]="downloadOptions()"
            title="Download as"
            (click)="googleAnalyticsService.logClickEvents('download_dropdown_open', 'Interaction', 'open_dropdown', 'Download as')"
          ></lib-dropdown-menu>
        </div>
      </section>
      <section class="description">
        <pdbc-description />
        <pdbc-image-carousel #imageCarouselRef />
      </section>

      <section class="property">
        <pdbc-properties />
      </section>
      @if(isThereStructures()){
      <section class="structure">
        <pdbc-structures />
      </section>
      }
      <section class="interaction">
        <pdbc-interaction />
      </section>
      <section class="related-ligands">
        <pdbc-related-ligands />
      </section>
      <section class="ligand-specific-databases">
        <pdbc-ligand-specific-databases />
      </section>
      } @else if(loaded() === status.LOADING) {
      <div class="loader">
        <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '0', height: '100px', width: '150px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="2" [theme]="{ 'border-radius': '0', height: '100px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="2" [theme]="{ 'border-radius': '0', height: '450px' }"></ngx-skeleton-loader>
      </div>
      }
    </article>
  </div>
</main>
