@import 'libs/core/src/lib/styles/pdb_connect';

main {
  .container {
    padding-top: 10px;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left-aligned {
        display: flex;
        align-items: center;
        gap: 16px;

        .annotations {
          display: flex;
          gap: 16px;
          align-items: center;

          span {
            font-size: 14px;
            line-height: 22.4px;
          }
        }
      }
    }

    article {
      // width: calc(100% - 248px);

      // @media screen and (width <= 768px) {
      //   width: 100%;
      // }
    }

    .loader {
      margin-top: 20px;
    }

    .redirect-text {
      background: #ffb81b;
      padding: 10px;
    }

    .hero {
      padding: 12px 0;

      h2 {
        font-size: 42px;
        font-weight: 700;
        line-height: 63px;
      }

      h3 {
        font-size: 24px;
        font-weight: 500;
        line-height: 31.2px;
      }

      .action-buttons {
        max-height: 80px;
        padding: 12px;
        margin-top: 16px;
        border-radius: 2px;
        background: var(--Neutral-100, #f3f3f3);
        display: flex;
        gap: 20px;

        .drop-down {
          width: 152px;
        }

        &.expanded {
          max-height: 80px;
        }
      }
    }

    .description {
      display: flex;
      justify-content: space-between;
      padding-bottom: 40px;
      gap: 12px;

      @media screen and (width <= 768px) {
        flex-direction: column;
        gap: 30px;
      }
    }

    .property,
    .structure,
    .interaction,
    .related-ligands,
    .ligand-specific-databases,
    .mobile-interaction {
      padding-bottom: 60px;
    }
  }
}

.image-container {
  width: 260px;
  height: 380px;
  border: 1px solid var(--Neutral-200, #e4e4e4);
  margin-bottom: 20px;
}

.ligandEnv-content {
  height: 380px;
  display: flex;
  justify-content: center;
}
