/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import 'libs/pdbe/styles/src/lib/pdbe-styles/icons.scss';
@import 'libs/pdbe/styles/src/lib/pdbe-styles/typography.scss';
@import 'libs/pdbe/styles/src/lib/pdbe-styles/templates.scss';
@import 'libs/pdbe/styles/src/lib/pdbe-styles/am_custom_theme.scss';
@import 'libs/pdbe/styles/src/lib/pdbe-styles/am_custom_style.scss';
@import 'libs/pdbe/styles/src/lib/pdbe-styles/_button.scss';
@import 'libs/core/src/lib/material.scss';

@import '@splidejs/splide/css';
@import '@splidejs/splide/css/core';

body {
  margin: 0;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'IBM Plex Sans';
}

.container {
  width: 100%;
  padding: 22px 34px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 1440px;
  }
}

p {
  margin: 0;
}

a {
  color: #3b6fb6;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  text-decoration: none;
  border: none;

  &:focus {
    border: 1px solid #193f90;
  }

  &:visited {
    color: #563d82;
    i {
      color: #563d82;
    }
  }

  &:hover {
    color: #193f90;
    text-decoration: underline;
    border: none;
  }
}

.icon-link:before {
  position: unset;
  z-index: unset;
}

.om-morpho {
  width: 720px;
  height: auto;
}
