/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import 'libs/pdbe/styles/src/lib/pdbe-styles/icons.scss';
@import 'libs/pdbe/styles/src/lib/pdbe-styles/typography.scss';
@import 'libs/pdbe/styles/src/lib/pdbe-styles/templates.scss';
@import 'libs/pdbe/styles/src/lib/pdbe-styles/am_custom_theme.scss';
@import 'libs/pdbe/styles/src/lib/pdbe-styles/am_custom_style.scss';
@import 'libs/core/src/lib/material.scss';

body {
  margin: 0;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'IBM Plex Sans';
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 1350px;
  }
}

p {
  margin: 0;
}
