p {
  display: inline;
  margin-bottom: 0;
  margin-right: 3px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 80px;

  @media (width <= 767px) {
    grid-template-columns: 1fr;
  }
}

h3 {
  margin-bottom: 20px;
}

section {
  margin-top: 10px;
  position: relative;

  .title {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;

    img {
      cursor: pointer;
    }
  }
}
