<div id="interaction-section">
  <h5>{{rowData().length}} subcomplexes</h5>
  <p>
    A subcomplex is a smaller assembly that contains a subset of the components found in this complex. For each subcomplex, only the components shared with this
    complex are listed. When identifying subcomplexes, we exclude components that are not mapped to UniProt or Rfam, such as peptides, antibodies and short nucleic
    acid sequences.
  </p>

  @if (unfilteredComplexes().length) {
  <div class="search-box">
    <input type="search" [formControl]="searchTerm" placeholder="Search by component accession or name" />
    @if (!searchTerm.value) {
    <i class="icon icon-common icon-search"></i>
    }
  </div>
  @if(rowData().length){

  <section class="table">
    <div class="table-section">
      <ag-grid-angular
        class="ag-theme-quartz"
        [rowData]="rowData()"
        [columnDefs]="colDefs"
        [gridOptions]="gridOptions"
        (selectionChanged)="onSelectionChanged($event)"
        [paginationPageSizeSelector]="paginationPageSizeSelector()"
        [rowSelection]="rowSelection"
      />
    </div>
    @if(isLoading()) {
    <div style="height: 24px; margin-bottom: 24px; width: 100%">
      <svg id="loading-spinner" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z"
          class="spinner"
        />
      </svg>
    </div>
    }
    <div class="molstar-section">
      <div #molstarContainer id="molstar-container"></div>
      <div class="legend-info">
        <p class="title">
          Coloring rules for 3D alignment
          <lib-help-icon-with-tooltip [tooltipText]="superpositionTooltip" />
        </p>
        <ul>
          <li>mapped common components are colored by entity;</li>
          <li>additional components are grey;</li>
          <li>unmapped components are magenta.</li>
        </ul>
        <p>Components in the subcomplex are slightly darkened.</p>
      </div>
    </div>
  </section>
  <section class="mobile-alternative">
    @for(structure of structuresPage(); track structure){
    <article>
      <div class="list">
        <p class="list-item-left">Supercomplex ID</p>
        <p class="list-item-right">
          <a (click)="openComplexPage(structure.pdb_complex_id)">
            {{ structure.pdb_complex_id }}
            <i class="icon icon-link icon-common" style="margin-left: 5px"></i>
          </a>
        </p>
      </div>
      <div class="list">
        <p class="list-item-left">Name</p>
        <p class="list-item-right">{{ structure.name }}</p>
      </div>
      <div class="list">
        <p class="list-item-left">Common Components</p>
        <div class="list-item-right">
          <pdbc-complex-components [data]="structure" />
        </div>
      </div>
    </article>
    }
    <mat-paginator
      class="paginator-container"
      [length]="structuresLength()"
      [pageSize]="structuresPageSize()"
      [pageSizeOptions]="structuresPageSizeOptions()"
      (page)="handlePageEvent($event)"
      showFirstLastButtons
      aria-label="Select page of structures"
    >
    </mat-paginator>
  </section>
  } @else {} }
</div>
