@if(ligand){
<div class="ligand-container">
  <div class="image-container" #imageContainer>
    @if(ligand.substructure_match){
    <div class="wallpaper">
      <span (click)="openMolstarDialog()">
        View in 3D&nbsp;
        <i class="icon icon-common icon-eye"></i>
      </span>
    </div>
    }
  </div>
  <div class="ligand-description">
    <a matTooltipClass="complex-name-tooltip" [matTooltip]="ligand.name" matTooltipPosition="above" (click)="openLigand(ligand.chem_comp_id)">
      {{ ligand.chem_comp_id }}
      <i class="icon icon-link icon-common"></i>
    </a>
    @if(ligand.similarity_score){
    <p>{{ ligand.similarity_score * 100 | number }}% similar</p>
    }
    <div class="description-content">
      <p>Bound in</p>
      <div class="content">
        <a
          [href]="boundEntryUrl"
          target="_blank"
          (click)="googleAnalyticsService.logClickEvents('click_pdb_entry_link', 'Related Ligands', 'click_pdb_entry', boundEntryLabel)"
        >
          {{ boundEntryLabel }}
          <i class="icon icon-link icon-common"></i>
        </a>
      </div>
    </div>
  </div>
</div>

}
